<div class="row">
    <div class="columns">
        <p style="float: left">Ma note</p>
        <div class="starRating" data-href="{{ path("user_jeu_note_create") }}" data-jeu-id="{{ jeu.id }}" >
            <p>
                {% if (userNote) %}
                    {{ userNote.note.valeur }}
                {% endif %}
            </p>
            <ul>
                {% for note in notes %}
                    <li><a data-note-id="{{ note.id }}" href="#" title="{{ note.libelle }}"><span>{{ note.valeur }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
        <div>
            {% if null != delete_form %}
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form.submit, {'attr': {'class': 'tiny button delete', 'title': "Supprimer ma note"}, 'label': 'x'}) }}
                {{ form_end(delete_form) }}
            {% endif %}
        </div>
    </div>
</div>