<div class="counter-four">
    <div class="counter-content">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <!-- counter item -->
                <div class="counter-item">
                    <!-- icon -->
                    <i class="fa fa-puzzle-piece color"></i>
                    <!-- Heading -->
                    <h4><span class="number-count stop-counter" data-from="10" data-to="{{ productCount }}" data-speed="3000" data-refresh-interval="50">{{ productCount }}</span><small>Jeux</small></h4>
                    <!-- Paragraph -->
                    <p>ajoutés par les utilisateurs.</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <!-- counter item -->
                <div class="counter-item">
                    <!-- icon -->
                    <i class="fa fa-star color"></i>
                    <!-- Heading -->
                    <h4><span class="number-count stop-counter" data-from="10" data-to="{{ productReviewCount }}" data-speed="3000" data-refresh-interval="50">{{ productReviewCount }}</span><small>Notes</small></h4>
                    <!-- Paragraph -->
                    <p>sur les jeux de société.</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <!-- counter item -->
                <div class="counter-item">
                    <!-- icon -->
                    <i class="fa fa-user color"></i>
                    <!-- Heading -->
                    <h4><span class="number-count stop-counter" data-from="10" data-to="{{ userCount }}" data-speed="3000" data-refresh-interval="50">{{ userCount }}</span><small>Utilisateurs</small></h4>
                    <!-- Paragraph -->
                    <p>enregistrés sur le site.</p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>