{% from 'macros/images.html.twig' import image %}

<div id="{{ slideShowBlock.id }}" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover"
     data-wrap="true">
    <!-- Slides. You can also add captions -->
    <div class="carousel-inner">
        {% for block in slideShowBlock.blocks %}
            {% set firstItem = loop.index0 == 0 %}

            <!-- Item, First item should have extra class "active" -->
            <div class="item{% if firstItem %} active{% endif %}">
                {{ image(block.image.webPath, 'full', block.image.label, null, block.image.linkUrl) }}
                {% if block.body %}
                    <!-- Caption -->
                    <div class="carousel-caption c-bottom-right">
                        <!-- Heading -->
                        <h4><a href="#">{{ block.title }}</a></h4>
                        <!-- Para -->
                        {{ block.body|raw }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <!-- Carousel controls (arrows). If you don't need controls, remove the below section -->
    <a class="left carousel-control" href="#{{ slideShowBlock.id }}" role="button" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#{{ slideShowBlock.id }}" role="button" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>
</div>

