{% extends "JDJWebBundle::layout.html.twig" %}

{% block body -%}
    <h1>Liste des Addons du jeu {{ jeu.libelle }}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('jeu_addon_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.url }}</td>
                <td>{{ entity.libelle }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('jeu_addon_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('jeu_addon_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('jeu_addon_new', { 'jeu_id': jeu.id }) }}">
                Ajouter un nouvel Addon pour le jeu {{ jeu.libelle }}
            </a>
        </li>
    </ul>
    {% endblock %}
