<!-- files start -->
<div class="margin-clear space-top">
    {{ render(url('app_frontend_partial_product_file_latest', {'productId': product.id, 'template': 'frontend/product_file/_list.html.twig'})) }}

    <a href="{{ path('app_frontend_product_file_index', {'slug': product.slug}) }}"
       class="btn btn-gray btn-sm margin-clear">
        <i class="fa fa-list pr-10"></i>
        {{ 'app.ui.view_more_files'|trans }}
    </a>

    <a href="{{ path('app_frontend_product_file_create', {'slug': product.slug}) }}"
       class="btn btn-default btn-sm margin-clear">
        <i class="fa fa-plus pr-10"></i>
        {{ 'app.ui.propose_a_file'|trans }}
    </a>
</div>
<!-- files end -->
