{% extends 'backend/base.html.twig' %}

{% block headline %}
    Blocs
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }} /
    Contenu /
    Blocs
{% endblock %}

{% block container %}
    <div class="col-md-12">
        <!-- Icon Box #1 Starts-->
        <div class="icon-box-1 text-center">
            <!-- Container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!-- Icon Box One Item -->
                        <div class="icon-box-1-item">
                            <!-- Icon Box One Icon -->
                            <a href="{{ path('admin_block_simple_index') }}"><i
                                        class="glyphicon glyphicon-th-large"></i></a>
                            <!-- Icon Box One Headeing -->
                            <h4><a href="{{ path('admin_block_simple_index') }}">Blocs simples</a></h4>
                            <!-- Icon Box One Paragraph -->
                            <p>Les blocs avec titre et contenu.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Icon Box One Item -->
                        <div class="icon-box-1-item">
                            <!-- Icon Box One Icon -->
                            <a href="{{ path('admin_imagine_block_index') }}"><i
                                        class="glyphicon glyphicon-picture orange"></i></a>
                            <!-- Icon Box One Headeing -->
                            <h4><a href="{{ path('admin_imagine_block_index') }}">Blocs imagine</a></h4>
                            <!-- Icon Box One Paragraph -->
                            <p>Les blocs contenant des images.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Icon Box One Item -->
                        <div class="icon-box-1-item">
                            <!-- Icon Box One Icon -->
                            <a href="{{ path('admin_slideshow_block_index') }}"><i
                                        class="glyphicon glyphicon-film black"></i></a>
                            <!-- Icon Box One Headeing -->
                            <h4><a href="{{ path('admin_slideshow_block_index') }}">Diaporama</a></h4>
                            <!-- Icon Box One Paragraph -->
                            <p>Les blocs de diaporama d'images.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}