{% from 'macros/users.html.twig' import avatar %}
{% from 'macros/topics.html.twig' import getPath %}

{% set products = products.data is defined ? products.data : products %}

<ul>
    {% for product in products %}
        {% set imagePath = product.mainImage ? product.mainImage.webPath : 'assets/frontend/img/avatar_2x.png' %}

        {% set meta %}
            <!-- Date -->
            <i class="fa fa-calendar"></i>
            &nbsp; {{ product.createdAt|localizeddate('medium', 'none') }}
        {% endset %}


        <li>
            <a href="{{ path('sylius_frontend_product_show', {'slug': product.slug}) }}">
                <!-- Item image -->
                <img src="{{ imagePath | imagine_filter('thumbnail') }}" alt="{{ product }}" class="img-responsive img-round"/>

                <!-- Item title -->
                <span>{{ product }}</span><br/>
            </a>

            <div class="rating-container">
                <div class="rating yellow" data-readonly="true"
                     data-max-value="10" data-rate-value="{{ product.averageRating }}" data-step-size="0.1"></div>
            </div>

            <div class="clearfix"></div>
        </li>
    {% endfor %}
</ul>