{% import 'macro/image.html.twig' as images %}

{% set productPath = path('sylius_frontend_product_show', { 'slug': game_play.product.slug } ) %}

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-12">

                {% if app.user and app.user.customer.id == game_play.author.id %}
                    <div class="text-right">
                        <a title="{{ 'app.ui.edit_game_play'|trans }}" class="btn btn-default"
                           href="{{ path('app_frontend_game_play_update', {'id' : game_play.id, 'productSlug': game_play.product.slug}) }}">
                            <span class="fa fa-pencil"></span>
                        </a>
                    </div>
                {% endif %}

                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="clearfix page-title text-center">{{ game_play.product }}</h1>
                <p class="large text-center">{{ game_play.createdAt|localizeddate('medium', 'none') }} | par {{ game_play.author }}
                <div class="separator with-icon"><i class="fa fa-play-circle bordered"></i></div>
                <!-- page-title end -->

                <div class="row">
                    <div class="col-lg-4 col-xl-5 pv-20">
                        <div class="overlay-container">
                            {{ images.render(game_play.product.mainImage.webPath, 'full', game_play.product.name) }}
                            <a class="overlay-link" href="{{ productPath }}"><i class="fa fa-link"></i></a>
                            <div class="overlay-to-top links">
                                <span class="small">
                                  <a href="{{ productPath }}" class="btn-sm-link">
                                      <i class="fa fa-link pr-1"></i>{{ 'sylius.ui.view_product_details'|trans({'%product%': game_play.product.name|lower})}}
                                  </a>
                                </span>
                            </div>
                        </div>
                        <div class="clearfix mb-20">
                        </div>
                    </div>
                    <div class="col-lg-8 col-xl-7">
                        <h4 class="space-top">{{ 'app.ui.game_play_specifications'|trans }}</h4>
                        <hr>
                        {% include 'frontend/game_play/show/_specifications.html.twig' %}
                        <h4 class="space-top">{{ 'app.ui.game_specifications'|trans }}</h4>
                        <hr>
                        {% include 'frontend/product/show/_specifications.html.twig' with { 'product' : game_play.product } %}
                    </div>
                </div>
            </div>
            <!-- main end -->
        </div>
    </div>
</section>
<!-- main-container end -->
