{% extends "base.html.twig" %}
{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    block diaporama : {{ block.title }}
{% endblock headline %}

{% block breadcrumb_content %}
    {{ parent() }}
    Contenu /
    <a href="{{ path('admin_block_index') }}">Blocs</a> /
    <a href="{{ path('admin_slideshow_block_index') }}">Blocs diaporama</a> /
    {{ block.title }}
{% endblock %}

{% block container %}
    {{ sonata_block_render({
        'name': 'homepage'
    }) }}
{% endblock container %}