{% import 'macro/buttons.html.twig' as buttons %}
{% from 'macro/pagination.html.twig' import simple as pagination %}

<!-- main start -->
<!-- ================ -->
<div class="main col-lg-8">
    {% if app.user and topic.author.id == app.user.customer.id %}
        <div class="float-right mb-10">
            <div class="btn-group">
                <a class="btn btn-default" href="{{ path('app_frontend_topic_update', { 'id': topic.id }) }}"><i class="fa fa-pencil"></i></a>
            </div>

            <div class="btn-group">
                <form class="form-inline" action="{{ path('app_frontend_topic_delete', { 'id': topic.id }) }}" name="form" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-confirm" type="submit" title="{{ 'label.delete'|trans }}">
                        <i class="fa fa-remove"></i>
                    </button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token(topic.id) }}" />
                </form>
            </div>
        </div>
    {% endif %}

    <!-- page-title start -->
    <!-- ================ -->
    <h1 class="page-title">{{ topic.title }}</h1>
    <!-- page-title end -->

    <!-- blogpost start -->
    <!-- ================ -->
    <article class="blogpost full">
        <header>
            <div class="post-info mb-4">
                    <span class="post-date">
                        <i class="fa fa-calendar-o pr-1"></i>
                        {{ topic.createdAt|localizeddate('medium', 'none') }}
                    </span>
                <span class="submitted"><i class="fa fa-user pr-1 pl-1"></i> by <a href="#">{{ topic.author }}</a></span>
                <span class="comments"><i class="fa fa-comments-o pl-1 pr-1"></i> <a href="#">{{ topic.postCount }} comments</a></span>
            </div>
        </header>
        <div class="blogpost-content">
            {{ topic.mainPost.body|raw }}
        </div>
        <footer class="clearfix">
            <div class="tags pull-left"><i class="fa fa-tags pr-1"></i> <a href="#">{{ topic.mainTaxon }}</a></div>
            <div class="link pull-right">
                <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </footer>
    </article>
    <!-- blogpost end -->

    {{ buttons.btn(path('app_frontend_post_create_by_topic', {'topicId' : topic.id}), 'Répondre au sujet', null, 'reply', 'btn-default btn-lg') }}
    {% include 'frontend/post/index/_comments.html.twig' %}

    <!-- pagination start -->
    {{ pagination(posts) }}
    <!-- pagination end -->

</div>
<!-- main end -->
