<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" title="Ajouter à">
        <span class="fa fa-plus"></span> Ajouter à
    </button>
    <ul class="dropdown-menu productList"
        style="white-space: nowrap; padding: 10px">
        <li>
            <form>
                <div class="list">
                    <input id="game_library" type="checkbox"
                           data-product-id="{{ product.id }}" data-code="game_library"/>
                    <label for="game_library">Ma ludothèque</label>
                </div>
                <div class="list">
                    <input id="wishes" type="checkbox"
                           data-product-id="{{ product.id }}" data-code="wishes"/>
                    <label for="wishes">Mes envies</label>
                </div>
                <div class="list">
                    <input id="see_later" type="checkbox"
                           data-product-id="{{ product.id }}" data-code="see_later"/>
                    <label for="see_later">A regarder plus tard</label>
                </div>
            </form>
        </li>
        <li>
            <hr/>
            <form method="post" class="form-inline" id="newProductListForm">
                <div class="form-group">
                    <input type="text"
                           id="list_name"
                           name="name"
                           class="form-control"
                           placeholder="{{ 'app.ui.new_list'|trans }}"/>
                </div>
                <button type="submit"
                        class="btn btn-lblue"><span
                            class="fa fa-check"></span> {{ 'sylius.ui.create'|trans }}
                </button>
                <input type="hidden" name="productId"
                       value="{{ product.id }}"/>
            </form>
        </li>
    </ul>
    <a href="{{ path('sylius_product_review_create', { 'productId': jeu.id  } ) }}"
       class="btn btn-default" title="Donnez votre avis">
        <span class="fa fa-star"></span> Votre avis
    </a>
    <a class="btn btn-default" title="Nouvelle partie"
       href="{{ path('app_game_play_create', { 'productSlug': jeu.slug  } ) }}">
        <span class="fa fa-table"></span> Nouvelle partie
    </a>
</div>