{% extends "JDJWebBundle::layout.html.twig" %}

{% block body -%}
    <h1>Liste des produits</h1>

    <ul>
        <li>
            <a class="button" href="{{ path('cptaproduit_new') }}">
                Créer un produit
            </a>
        </li>
    </ul>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cptaproduit_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.libelle }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('cptaproduit_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('cptaproduit_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
