{% extends "layout/backend_index.html.twig" %}
{% from '::macros/misc.html.twig' import pagination %}
{% import 'macros/buttons.html.twig' as button %}
{% from 'macros/sorting.html.twig' import sorting %}
{% import 'macros/modal.html.twig' as modal %}

{% set sorting = app.request.get('sorting') %}

{% set icon = false %}
{% set currentOrder = null %}

{% if null == sorting %}
    {% set icon = true %}
    {% set currentOrder = 'asc' %}
{% endif %}

{% block headline %}
    Liste des catégories
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    Catégories
{% endblock %}

{% block new_entity_button %}
    <a class="btn btn-primary" href="{{ path('sylius_admin_taxonomy_create') }}">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Nouvelle catégorie
    </a>
{% endblock new_entity_button %}

{% block list %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ sorting('sylius_admin_taxonomy_index', 'label.name'|trans, 'name', 'asc', icon, currentOrder) }}</th>
        </tr>
        </thead>
        <tbody>
        {% for taxonomy in taxonomies %}
            <tr>
                <td>{{ taxonomy.id }}</td>
                <td>{{ taxonomy }}</td>
                <td class="text-right">
                    <ul class="list-inline text-nowrap">
                        <li>
                            {{ button.edit(path('sylius_admin_taxonomy_update', { 'id': taxonomy.id })) }}
                        </li>
                        <li>
                            {{ button.delete(path('sylius_admin_taxonomy_delete', { 'id': taxonomy.id })) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock list %}

{% block Pagination %}
    <div class="pagination-wrapper">
        <div class="pagination-bottom">
            {{ pagination(taxonomies) }}
        </div>
    </div>
{% endblock %}