{% extends 'frontend/layout.html.twig' %}

{% from 'macro/misc.html.twig' import pagination %}

{% set pageTitle = 'app.ui.boardgames'| trans %}

{% block content %}
    {% include 'frontend/product/index/_banner.html.twig' %}

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-12">
                    <!-- pills start -->
                    <!-- ================ -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item"><a class="nav-link active" href="#pill-1" role="tab" data-toggle="tab" title="Latest Arrivals"><i class="fa fa-star"></i> Latest Arrivals</a></li>
                        <li class="nav-item"><a class="nav-link" href="#pill-2" role="tab" data-toggle="tab" title="Featured"><i class="fa fa-heart"></i> Featured</a></li>
                        <li class="nav-item"><a class="nav-link" href="#pill-3" role="tab" data-toggle="tab" title="Top Sellers"><i class=" fa fa-arrow-up"></i> Top Sellers</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content clear-style">
                        <div class="tab-pane active" id="pill-1">
                            {% include 'frontend/product/grid/_fourColumns.html.twig' %}
                        </div>
                        <div class="tab-pane" id="pill-2">
                            <div class="row grid-space-10">
                                <div class="col-lg-3 col-md-6">
                                    <div class="listing-item white-bg bordered mb-20">
                                        <div class="overlay-container">
                                            <img src="/assets/frontend/images/product-2.jpg" alt="">
                                            <a class="overlay-link popup-img-single" href="/assets/frontend/images/product-2.jpg"><i class="fa fa-search-plus"></i></a>
                                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <h3><a href="shop-product.html">Consectetur adipisicing elit</a></h3>
                                            <p class="small">
                                                à 2 joueurs exclusivement<br>
                                                A partir de 8 ans<br>
                                                Sortie : juin 2018
                                            </p>
                                            <div class="elements-list clearfix">
                                                <span class="price">$199.00</span>
                                                <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="listing-item white-bg bordered mb-20">
                                        <div class="overlay-container">
                                            <img src="/assets/frontend/images/product-1.jpg" alt="">
                                            <span class="badge">New</span>
                                            <a class="overlay-link popup-img-single" href="/assets/frontend/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                            <p class="small">
                                                à 2 joueurs exclusivement<br>
                                                A partir de 8 ans<br>
                                                Sortie : juin 2018
                                            </p>
                                            <div class="elements-list clearfix">
                                                <span class="price">$70.00</span>
                                                <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="listing-item white-bg bordered mb-20">
                                        <div class="overlay-container">
                                            <img src="/assets/frontend/images/product-4.jpg" alt="">
                                            <span class="badge">30% OFF</span>
                                            <a class="overlay-link popup-img-single" href="/assets/frontend/images/product-4.jpg"><i class="fa fa-search-plus"></i></a>
                                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <h3><a href="shop-product.html">Lorem ipsum dolor sit</a></h3>
                                            <p class="small">
                                                à 2 joueurs exclusivement<br>
                                                A partir de 8 ans<br>
                                                Sortie : juin 2018
                                            </p>
                                            <div class="elements-list clearfix">
                                                <span class="price"><del>$99.00</del> $69.00</span>
                                                <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="listing-item white-bg bordered mb-20">
                                        <div class="overlay-container">
                                            <img src="/assets/frontend/images/product-3.jpg" alt="">
                                            <a class="overlay-link popup-img-single" href="/assets/frontend/images/product-3.jpg"><i class="fa fa-search-plus"></i></a>
                                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <h3><a href="shop-product.html">Quas inventore modi</a></h3>
                                            <p class="small">
                                                à 2 joueurs exclusivement<br>
                                                A partir de 8 ans<br>
                                                Sortie : juin 2018
                                            </p>
                                            <div class="elements-list clearfix">
                                                <span class="price">$9.99</span>
                                                <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="listing-item white-bg bordered mb-20">
                                        <div class="overlay-container">
                                            <img src="/assets/frontend/images/product-6.jpg" alt="">
                                            <span class="badge">20% OFF</span>
                                            <a class="overlay-link popup-img-single" href="/assets/frontend/images/product-6.jpg"><i class="fa fa-search-plus"></i></a>
                                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <h3><a href="shop-product.html">Reprehenderit a reiciendis</a></h3>
                                            <p class="small">
                                                à 2 joueurs exclusivement<br>
                                                A partir de 8 ans<br>
                                                Sortie : juin 2018
                                            </p>
                                            <div class="elements-list clearfix">
                                                <span class="price"><del>$161.25</del> $129.00</span>
                                                <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="listing-item white-bg bordered mb-20">
                                        <div class="overlay-container">
                                            <img src="/assets/frontend/images/product-5.jpg" alt="">
                                            <a class="overlay-link popup-img-single" href="/assets/frontend/images/product-5.jpg"><i class="fa fa-search-plus"></i></a>
                                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <h3><a href="shop-product.html">Velit Suscipit consequatur</a></h3>
                                            <p class="small">
                                                à 2 joueurs exclusivement<br>
                                                A partir de 8 ans<br>
                                                Sortie : juin 2018
                                            </p>
                                            <div class="elements-list clearfix">
                                                <span class="price">$12.99</span>
                                                <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="listing-item white-bg bordered mb-20">
                                        <div class="overlay-container">
                                            <img src="/assets/frontend/images/product-8.jpg" alt="">
                                            <span class="badge">Offer</span>
                                            <a class="overlay-link popup-img-single" href="/assets/frontend/images/product-8.jpg"><i class="fa fa-search-plus"></i></a>
                                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <h3><a href="shop-product.html">Soluta suscipit dolore</a></h3>
                                            <p class="small">
                                                à 2 joueurs exclusivement<br>
                                                A partir de 8 ans<br>
                                                Sortie : juin 2018
                                            </p>
                                            <div class="elements-list clearfix">
                                                <span class="price">$11.99</span>
                                                <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="listing-item white-bg bordered mb-20">
                                        <div class="overlay-container">
                                            <img src="/assets/frontend/images/product-7.jpg" alt="">
                                            <a class="overlay-link popup-img-single" href="/assets/frontend/images/product-7.jpg"><i class="fa fa-search-plus"></i></a>
                                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <h3><a href="shop-product.html">Cumque sequi repellat</a></h3>
                                            <p class="small">
                                                à 2 joueurs exclusivement<br>
                                                A partir de 8 ans<br>
                                                Sortie : juin 2018
                                            </p>
                                            <div class="elements-list clearfix">
                                                <span class="price">$29.99</span>
                                                <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="pill-3">
                            <div class="row grid-space-10">
                                <div class="col-lg-3 col-md-6">
                                    <div class="listing-item white-bg bordered mb-20">
                                        <div class="overlay-container">
                                            <img src="/assets/frontend/images/product-4.jpg" alt="">
                                            <span class="badge">30% OFF</span>
                                            <a class="overlay-link popup-img-single" href="/assets/frontend/images/product-4.jpg"><i class="fa fa-search-plus"></i></a>
                                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <h3><a href="shop-product.html">Lorem ipsum dolor sit</a></h3>
                                            <p class="small">
                                                à 2 joueurs exclusivement<br>
                                                A partir de 8 ans<br>
                                                Sortie : juin 2018
                                            </p>
                                            <div class="elements-list clearfix">
                                                <span class="price"><del>$99.00</del> $69.00</span>
                                                <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="listing-item white-bg bordered mb-20">
                                        <div class="overlay-container">
                                            <img src="/assets/frontend/images/product-3.jpg" alt="">
                                            <span class="badge">New</span>
                                            <a class="overlay-link popup-img-single" href="/assets/frontend/images/product-3.jpg"><i class="fa fa-search-plus"></i></a>
                                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <h3><a href="shop-product.html">Quas inventore modi</a></h3>
                                            <p class="small">
                                                à 2 joueurs exclusivement<br>
                                                A partir de 8 ans<br>
                                                Sortie : juin 2018
                                            </p>
                                            <div class="elements-list clearfix">
                                                <span class="price">$9.99</span>
                                                <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="listing-item white-bg bordered mb-20">
                                        <div class="overlay-container">
                                            <img src="/assets/frontend/images/product-2.jpg" alt="">
                                            <span class="badge">30% OFF</span>
                                            <a class="overlay-link popup-img-single" href="/assets/frontend/images/product-2.jpg"><i class="fa fa-search-plus"></i></a>
                                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <h3><a href="shop-product.html">Consectetur adipisicing elit</a></h3>
                                            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.</p>
                                            <div class="elements-list clearfix">
                                                <span class="price"><del>$199.00</del> $140.00</span>
                                                <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="listing-item white-bg bordered mb-20">
                                        <div class="overlay-container">
                                            <img src="/assets/frontend/images/product-1.jpg" alt="">
                                            <span class="badge">Last 3 Pieces</span>
                                            <a class="overlay-link popup-img-single" href="/assets/frontend/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.</p>
                                            <div class="elements-list clearfix">
                                                <span class="price">$70.00</span>
                                                <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="listing-item white-bg bordered mb-20">
                                        <div class="overlay-container">
                                            <img src="/assets/frontend/images/product-8.jpg" alt="">
                                            <a class="overlay-link popup-img-single" href="/assets/frontend/images/product-8.jpg"><i class="fa fa-search-plus"></i></a>
                                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <h3><a href="shop-product.html">Soluta suscipit dolore</a></h3>
                                            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.</p>
                                            <div class="elements-list clearfix">
                                                <span class="price">$11.99</span>
                                                <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="listing-item white-bg bordered mb-20">
                                        <div class="overlay-container">
                                            <img src="/assets/frontend/images/product-7.jpg" alt="">
                                            <a class="overlay-link popup-img-single" href="/assets/frontend/images/product-7.jpg"><i class="fa fa-search-plus"></i></a>
                                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <h3><a href="shop-product.html">Cumque sequi repellat</a></h3>
                                            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.</p>
                                            <div class="elements-list clearfix">
                                                <span class="price">$29.99</span>
                                                <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="listing-item white-bg bordered mb-20">
                                        <div class="overlay-container">
                                            <img src="/assets/frontend/images/product-6.jpg" alt="">
                                            <a class="overlay-link popup-img-single" href="/assets/frontend/images/product-6.jpg"><i class="fa fa-search-plus"></i></a>
                                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <h3><a href="shop-product.html">Reprehenderit a reiciendis</a></h3>
                                            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.</p>
                                            <div class="elements-list clearfix">
                                                <span class="price">$129.00</span>
                                                <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="listing-item white-bg bordered mb-20">
                                        <div class="overlay-container">
                                            <img src="/assets/frontend/images/product-5.jpg" alt="">
                                            <a class="overlay-link popup-img-single" href="/assets/frontend/images/product-5.jpg"><i class="fa fa-search-plus"></i></a>
                                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <h3><a href="shop-product.html">Velit Suscipit consequatur</a></h3>
                                            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.</p>
                                            <div class="elements-list clearfix">
                                                <span class="price">$12.99</span>
                                                <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- pills end -->

                    <!-- pagination start -->
                    {{ pagination(products.data) }}
                    <!-- pagination end -->
                </div>
                <!-- main end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="section light-gray-bg pv-40 clearfix">
        <div class="container">
            <div class="row grid-space-10">
                <div class="col-lg-3 col-md-6">
                    <div class="feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon default-bg"><i class="fa fa-diamond"></i></span>
                        <h3>Premium Quality</h3>
                        <div class="separator clearfix"></div>
                        <p class="text-muted">Voluptatem ad provident non repudiandae beatae cupiditate.</p>
                        <a href="page-services.html">{{ 'app.ui.read_more'|trans }}<i class="pl-1 fa fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                        <span class="icon default-bg"><i class="fa fa-lock"></i></span>
                        <h3>Secure &amp; Safe Payment</h3>
                        <div class="separator clearfix"></div>
                        <p class="text-muted">Iure sequi unde hic. Sapiente quaerat sequi inventore.</p>
                        <a href="page-services.html">{{ 'app.ui.read_more'|trans }}<i class="pl-1 fa fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                        <span class="icon default-bg"><i class="fa fa-globe"></i></span>
                        <h3 class="pl-10 pr-10">Free &amp; Fast Shipping</h3>
                        <div class="separator clearfix"></div>
                        <p class="text-muted">Inventore dolores aut laboriosam cum consequuntur.</p>
                        <a href="page-services.html">{{ 'app.ui.read_more'|trans }}<i class="pl-1 fa fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="250">
                        <span class="icon default-bg"><i class="fa fa-thumbs-up"></i></span>
                        <h3>Unt loremcu doloriem</h3>
                        <div class="separator clearfix"></div>
                        <p class="text-muted">Inventore dolores aut laboriosam cum consequuntur.</p>
                        <a href="page-services.html">{{ 'app.ui.read_more'|trans }}<i class="pl-1 fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action text-center">
                        <div class="row justify-content-lg-center">
                            <div class="col-lg-8">
                                <h2 class="title"><strong>Subscribe</strong> To Our Newsletter</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error pariatur deserunt laudantium nam, mollitia quas nihil inventore, quibusdam?</p>
                                <div class="separator"></div>
                                <form class="form-inline margin-clear d-flex justify-content-center">
                                    <div class="form-group has-feedback">
                                        <label class="sr-only" for="subscribe3">Email address</label>
                                        <input type="email" class="form-control form-control-lg" id="subscribe3" placeholder="Enter email" required="">
                                        <i class="fa fa-envelope form-control-feedback"></i>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-gray-transparent btn-animated margin-clear ml-3">Submit <i class="fa fa-send"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
{% endblock content %}
