{% extends 'frontend/layout.html.twig' %}

{% import 'macro/image.html.twig' as images %}

{% block content %}

    {% include 'frontend/product/show/_breadcrumb.html.twig' %}

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-12">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title text-center">{{ product.name }}</h1>
                    <div class="text-center">
                        <big>
                            {{ product.shortDescription|raw }}
                        </big>
                    </div>
                    <div class="separator with-icon">
                        <i class="fa fa-shopping-bag bordered"></i>
                    </div>
                    <!-- page-title end -->

                    <div class="row">
                        <div class="col-lg-4 col-xl-5">
                            <!-- pills start -->
                            <!-- ================ -->
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#pill-1" data-toggle="tab"
                                                        title="/assets/frontend/images"><i
                                                class="fa fa-camera pr-1"></i> Photo</a></li>
                                <li class="nav-item"><a class="nav-link" href="#pill-2" data-toggle="tab" title="video"><i
                                                class="fa fa-video-camera pr-1"></i> Video</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content clear-style">
                                <div class="tab-pane active" id="pill-1">
                                    <div class="slick-carousel content-slider-with-thumbs mb-20">
                                        {% for image in product.getImagesOfAllVariants %}
                                            <div class="overlay-container overlay-visible">
                                                {{ images.render(image.webPath, 'full', product.name) }}
                                                <a href="{{ image.webPath | imagine_filter('full') }}"
                                                   class="slick-carousel--popup-img overlay-link" title="image title"><i
                                                            class="fa fa-plus"></i></a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% if product.getImagesOfAllVariants|length > 1 %}
                                        <div class="content-slider-thumbs-container">
                                            <div class="slick-carousel content-slider-thumbs">
                                                {% for image in product.getImagesOfAllVariants %}
                                                    <div class="slick-nav-thumb">
                                                        {{ images.render(image.webPath, 'full', product.name) }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="tab-pane" id="pill-2">
                                    <div class="overlay-container">
                                        <img src="/assets/frontend/images/page-about-2.jpg" alt="">
                                        <a class="overlay-link" href="#"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- pills end -->
                            <hr class="mb-10">
                            <div class="clearfix mb-20">
                    <span>
                      <i class="fa fa-star text-default"></i>
                      <i class="fa fa-star text-default"></i>
                      <i class="fa fa-star text-default"></i>
                      <i class="fa fa-star text-default"></i>
                      <i class="fa fa-star"></i>
                    </span>
                                <a href="#" class="wishlist"><i class="fa fa-plus pl-10 pr-1"></i>Ajouter à</a>
                                <a href="{{ path('sylius_frontend_product_review_create', { 'productId': product.id }) }}" class="wishlist"><i class="fa fa-star-o pl-10 pr-1"></i>Votre avis</a>
                                <a href="{{ path('app_frontend_game_play_create', { 'productSlug': product.slug } ) }}" class="wishlist"><i class="fa fa-table pl-10 pr-1"></i>Enregistrer une
                                    partie</a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-xl-7 pv-30">
                            <h2 class="mt-4">{{ 'sylius.ui.description'|trans }}</h2>
                            {{ product.description|raw }}
                            <h4 class="space-top">{{ 'app.ui.specifications'|trans }}</h4>
                            <hr>
                            {% include 'frontend/product/show/_specifications.html.twig' %}
                            <hr>
                        </div>
                    </div>
                </div>
                <!-- main end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="pv-30 light-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs style-4" role="tablist">
                        <li class="nav-item"><a class="nav-link active" href="#reviews" role="tab" data-toggle="tab"><i
                                        class="fa fa-star pr-1"></i>(3) Avis</a></li>
                        <li class="nav-item"><a class="nav-link" href="#articles" role="tab" data-toggle="tab"><i
                                        class="fa fa-star pr-1"></i>(2) Articles</a></li>
                        <li class="nav-item"><a class="nav-link" href="#h2tab4" role="tab" data-toggle="tab"><i
                                        class="fa fa-star pr-1"></i>(22) Parties</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content padding-top-clear padding-bottom-clear">
                        <div class="tab-pane active" id="reviews">
                            {% include 'frontend/product/show/_reviews.html.twig' %}
                        </div>
                        <div class="tab-pane" id="articles">
                            {% include 'frontend/product/show/_articles.html.twig' %}
                        </div>
                    </div>
                </div>

                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="col-lg-4 col-xl-3 ml-xl-auto">
                    <div class="sidebar">
                        <div class="block clearfix">
                            <h3 class="title">Dans la même série</h3>
                            <div class="separator-2"></div>
                            <div class="media margin-clear">
                                <div class="d-flex pr-2">
                                    <div class="overlay-container">
                                        <img class="media-object" src="/assets/frontend/images/product-5.jpg"
                                             alt="blog-thumb">
                                        <a href="shop-product.html" class="overlay-link small"><i
                                                    class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="shop-product.html">Gùgōng</a></h6>
                                    <p class="margin-clear">
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                    </p>
                                    <p class="comment-meta">2 à 5 joueurs <br>à partir de 8 ans</p>
                                </div>
                            </div>
                            <hr>
                            <div class="media margin-clear">
                                <div class="d-flex pr-2">
                                    <div class="overlay-container">
                                        <img class="media-object" src="/assets/frontend/images/product-6.jpg"
                                             alt="blog-thumb">
                                        <a href="shop-product.html" class="overlay-link small"><i
                                                    class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="shop-product.html">Puerto Rico</a></h6>
                                    <p class="margin-clear">
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star"></i>
                                    </p>
                                    <p class="comment-meta">2 à 5 joueurs <br>à partir de 8 ans</p>
                                </div>
                            </div>
                            <hr>
                            <div class="media margin-clear">
                                <div class="d-flex pr-2">
                                    <div class="overlay-container">
                                        <img class="media-object" src="/assets/frontend/images/product-7.jpg"
                                             alt="blog-thumb">
                                        <a href="shop-product.html" class="overlay-link small"><i
                                                    class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="shop-product.html">Râ</a></h6>
                                    <p class="margin-clear">
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star"></i>
                                    </p>
                                    <p class="comment-meta">2 à 5 joueurs <br>à partir de 8 ans</p>
                                </div>
                            </div>
                            <hr>
                            <div class="media margin-clear">
                                <div class="d-flex pr-2">
                                    <div class="overlay-container">
                                        <img class="media-object" src="/assets/frontend/images/product-8.jpg"
                                             alt="blog-thumb">
                                        <a href="shop-product.html" class="overlay-link small"><i
                                                    class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="shop-product.html">Shogun</a></h6>
                                    <p class="margin-clear">
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </p>
                                    <p class="comment-meta">2 à 5 joueurs <br>à partir de 8 ans</p>
                                </div>
                            </div>
                        </div>
                        <div class="block clearfix">
                            <h3 class="title">Extensions</h3>
                            <div class="separator-2"></div>
                            <div class="media margin-clear">
                                <div class="d-flex pr-2">
                                    <div class="overlay-container">
                                        <img class="media-object" src="/assets/frontend/images/product-5.jpg"
                                             alt="blog-thumb">
                                        <a href="shop-product.html" class="overlay-link small"><i
                                                    class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="shop-product.html">Gùgōng</a></h6>
                                    <p class="margin-clear">
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                    </p>
                                    <p class="comment-meta">2 à 5 joueurs <br>à partir de 8 ans</p>
                                </div>
                            </div>
                            <hr>
                            <div class="media margin-clear">
                                <div class="d-flex pr-2">
                                    <div class="overlay-container">
                                        <img class="media-object" src="/assets/frontend/images/product-6.jpg"
                                             alt="blog-thumb">
                                        <a href="shop-product.html" class="overlay-link small"><i
                                                    class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="shop-product.html">Puerto Rico</a></h6>
                                    <p class="margin-clear">
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star"></i>
                                    </p>
                                    <p class="comment-meta">2 à 5 joueurs <br>à partir de 8 ans</p>
                                </div>
                            </div>
                            <hr>
                            <div class="media margin-clear">
                                <div class="d-flex pr-2">
                                    <div class="overlay-container">
                                        <img class="media-object" src="/assets/frontend/images/product-7.jpg"
                                             alt="blog-thumb">
                                        <a href="shop-product.html" class="overlay-link small"><i
                                                    class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="shop-product.html">Râ</a></h6>
                                    <p class="margin-clear">
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star"></i>
                                    </p>
                                    <p class="comment-meta">2 à 5 joueurs <br>à partir de 8 ans</p>
                                </div>
                            </div>
                            <hr>
                            <div class="media margin-clear">
                                <div class="d-flex pr-2">
                                    <div class="overlay-container">
                                        <img class="media-object" src="/assets/frontend/images/product-8.jpg"
                                             alt="blog-thumb">
                                        <a href="shop-product.html" class="overlay-link small"><i
                                                    class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="shop-product.html">Shogun</a></h6>
                                    <p class="margin-clear">
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star text-default"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </p>
                                    <p class="comment-meta">2 à 5 joueurs <br>à partir de 8 ans</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- sidebar end -->

            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="section dark-translucent-bg pv-40"
             style="background-image:url('images/shop-banner.jpg');background-position: 50% 32%;">
        <div class="container">
            <div class="row grid-space-10">
                <div class="col-lg-3 col-md-6">
                    <div class="pv-30 ph-20 feature-box text-center object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon default-bg"><i class="fa fa-diamond"></i></span>
                        <h3>Premium &amp; Guaranteed Quality</h3>
                        <div class="separator clearfix"></div>
                        <p>Voluptatem ad provident non repudiandae beatae cupiditate.</p>
                        <a href="page-services.html" class="link-dark">{{ 'app.ui.read_more'|trans }}<i
                                    class="pl-1 fa fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="pv-30 ph-20 feature-box text-center object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                        <span class="icon default-bg"><i class="fa fa-lock"></i></span>
                        <h3>Secure &amp; Safe Payment</h3>
                        <div class="separator clearfix"></div>
                        <p>Iure sequi unde hic. Sapiente quaerat sequi inventore.</p>
                        <a href="page-services.html" class="link-dark">{{ 'app.ui.read_more'|trans }}<i
                                    class="pl-1 fa fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-lg-3 col-md-6">
                    <div class="pv-30 ph-20 feature-box text-center object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                        <span class="icon default-bg"><i class="fa fa-globe"></i></span>
                        <h3 class="pl-10 pr-10">Free &amp; Fast Shipping</h3>
                        <div class="separator clearfix"></div>
                        <p>Inventore dolores aut laboriosam cum consequuntur.</p>
                        <a href="page-services.html" class="link-dark">{{ 'app.ui.read_more'|trans }}<i
                                    class="pl-1 fa fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="pv-30 ph-20 feature-box text-center object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="250">
                        <span class="icon default-bg"><i class="fa fa-thumbs-up"></i></span>
                        <h3>Unt loremcu doloriem</h3>
                        <div class="separator clearfix"></div>
                        <p>Inventore dolores aut laboriosam cum consequuntur.</p>
                        <a href="page-services.html" class="link-dark">{{ 'app.ui.read_more'|trans }}<i
                                    class="pl-1 fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action text-center">
                        <div class="row justify-content-lg-center">
                            <div class="col-lg-8">
                                <h2 class="title"><strong>Subscribe</strong> To Our Newsletter</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error pariatur
                                    deserunt laudantium nam, mollitia quas nihil inventore, quibusdam?</p>
                                <div class="separator"></div>
                                <form class="form-inline margin-clear d-flex justify-content-center">
                                    <div class="form-group has-feedback">
                                        <label class="sr-only" for="subscribe3">Email address</label>
                                        <input type="email" class="form-control form-control-lg" id="subscribe3"
                                               placeholder="Enter email" required="">
                                        <i class="fa fa-envelope form-control-feedback"></i>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-gray-transparent btn-animated ml-2">
                                        Submit <i class="fa fa-send"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    {% include 'frontend/product/show/_footerTop.html.twig' %}
{% endblock content %}
