{% from 'macros/articles.html.twig' import magazineItemOne %}

<!-- Image Box #4 Starts -->
<div class="img-box-4 text-center jeu-list">
    <!-- Container -->
    <div class="container">
        <div class="row">
            {% for key, article in articles %}
            {% if key > 0 and key%4 == 0 %}
        </div>
        <div class="row">
            {% endif %}

            {% set bgColor = 'bg-lblue' %}
            {% set icon = 'fa fa-video-camera' %}

            {% if article.mainTaxon.code == constant('AppBundle\\Entity\\Taxon::CODE_REVIEW_ARTICLE') %}
                {% set bgColor = 'bg-red' %}
                {% set icon = 'fa fa-bar-chart' %}
            {% elseif article.mainTaxon.code == constant('AppBundle\\Entity\\Taxon::CODE_IN_THE_BOXES') %}
                {% set bgColor = 'bg-lblue' %}
                {% set icon = 'fa fa-th-large' %}
            {% elseif article.mainTaxon.code == constant('AppBundle\\Entity\\Taxon::CODE_NEWS') %}
                {% set bgColor = 'bg-purple' %}
                {% set icon = 'fa fa-newspaper-o' %}
            {% elseif article.mainTaxon.code == constant('AppBundle\\Entity\\Taxon::CODE_PREVIEWS') %}
                {% set bgColor = 'bg-green' %}
                {% set icon = 'fa fa-arrow-right' %}
            {% elseif article.mainTaxon.code == constant('AppBundle\\Entity\\Taxon::CODE_REPORT_ARTICLE') %}
                {% set bgColor = 'bg-black' %}
                {% set icon = 'fa fa-camera' %}
            {% endif %}



            <div class="col-md-3 col-sm-6">
                <div class="img-box-4-item">
                    <div class="img-container">
                        <a href="{{ path('app_frontend_article_show', {'name': article.name} ) }}" class="lightbox"><img
                                    src="{{ article.imagePath|imagine_filter('cmf_full') }}" alt=""
                                    class="img-responsive"></a>

                    </div>
                    <div class="img-box-4-content">
                        <a href="{{ path('app_frontend_article_show', {'name': article.name} ) }}"><i class="{{ icon }} {{ bgColor }}"></i></a>
                        <h4><a href="#">{{ article }}</a></h4>
                        <div class="bor {{ bgColor }}"></div>
                        <p>Publié le {{ article.publishStartDate|localizeddate('medium', 'none') }}</p>

                        <div class="magazine-meta">
                            <i class="fa fa-eye"></i> {{ article.viewCount }}
                            - <i class="fa fa-comments"></i> {{ article.topic ? article.topic.postCount : 0 }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Image Box #4 Ends -->