{% extends "::base.html.twig" %}
{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    Nouvelle partie
{% endblock %}

{% block breadcrumb_content %}
    <a href="{{ path('sylius_frontend_product_index') }}">Jeux</a>
    / {{ game_play.product }}
    / Nouvelle partie
{% endblock %}

{% block container %}
    {{ form_start(form) }}
    {% include 'frontend/game_play/_form.html.twig' %}
    <br />
    {{ action.create() }}
    {{ form_end(form) }}
{% endblock container %}
