{% extends "::base.html.twig" %}

{% import 'macros/items.html.twig' as item %}

{% set topic = game_play.topic %}

{% block headline %}
    Partie de {{ game_play.product }}
{% endblock %}

{% block breadcrumb_content %}
    <a href="{{ path('app_frontend_game_play_index') }}">{{ 'app.ui.game_plays'|trans }}</a>
    / {{ game_play.product }}
{% endblock %}

{% block container %}
    <div class="col-md-8">

        {% if app.user and app.user.id == game_play.author.id %}
            <div class="pull-right">
                <a title="Modifier la partie" class="btn btn-default"
                   href="{{ path('app_frontend_game_play_update', {'id' : game_play.id, 'productSlug': game_play.product.slug}) }}">
                    <span class="fa fa-pencil">
                    </span>
                </a>
            </div>

        {% endif %}

        {{ item.blogAuthor(game_play.author, null, game_play.createdAt) }}
        {% include "frontend/game_play/show/_header.html.twig" %}

        {% if topic %}
            <div class="block-heading-two">
                <h3><span>Commentaires</span>
                    <small>({{ topic.posts|length }})</small>
                </h3>
            </div>

            <div class="blog-comments">
                {% for post in topic.posts %}
                    {% include 'frontend/post/show/_content.html.twig' with {
                        'editPath': path('app_frontend_game_play_post_update', {'id': post.id, 'gamePlayId': game_play.id})
                    } %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-md-4">
        {% include "frontend/game_play/show/_sidebar.html.twig" %}
    </div>

{% endblock container %}