{% import 'macro/image.html.twig' as images %}
{% from 'macro/rating.html.twig' import rating %}

{% set avatarPath = product_review.author.avatar is not null ? product_review.author.avatar.webPath : '/assets/frontend/images/avatar-placeholder.png'  %}

<!-- comment start -->
<div class="comment clearfix" itemprop="review" itemscope itemtype="http://schema.org/Review">
    <div class="comment-avatar">
        <meta itemprop="author" content="{{ product_review.author }}">
        {{ images.render(avatarPath, 'thumbnail', "avatar", 'rounded-circle') }}
    </div>
    <header>
        <h3>{{ product_review.title }}</h3>
        <div class="comment-meta" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
            <span itemprop="ratingValue" content="{{ product_review.rating }}">{{ rating(product_review.rating) }}</span> |
            {{ product_review.createdAt|localizeddate('medium', 'none') }} |
            {{ product_review.author }}
            <meta itemprop="worstRating" content="1">
            <meta itemprop="bestRating" content="10">
        </div>
    </header>
    <div class="comment-content">
        <div class="comment-body clearfix">
            {{ product_review.comment|raw }}
        </div>
    </div>
</div>
<!-- comment end -->
