{% extends "base.html.twig" %}

{% from 'macros/posts.html.twig' import blogCommentItem %}
{% import 'macros/items.html.twig' as item %}
{% from 'macros/game_reviews.html.twig' import blogCommentItem %}

{% set topic = article.topic %}

{% block body_class %}article{% endblock %}

{% block headline %}
    {{ article.document.title }}
{% endblock %}

{% block breadcrumb_content %}
    Articles /
    {{ article.document.title }}
{% endblock %}

{% block body -%}

    {% set mainTaxonCode = article.mainTaxon ? article.mainTaxon.code : null %}
    {% set articleIsTest = 'review-articles' == mainTaxonCode %}

    <div class="container">
        <div class="col-md-9">

            {% for block in article.document.children %}

                {% if 'mainImage' != block.name %}
                    {{ sonata_block_render({
                        'name': block.id
                    }) }}
                {% endif %}

            {% endfor %}

            {% if article.author %}
                {{ item.blogAuthor(article.author, null, article.document.publishStartDate) }}
            {% endif %}

            {% if article.reviews|length > 0 %}
                <div class="block-heading-two">
                    <h3><span>Avis de la rédaction</span>
                    </h3>
                </div>

                <div class="blog-comments">
                    {% for review in article.reviews %}
                        {{ blogCommentItem(review) }}
                    {% endfor %}
                </div>
            {% endif %}


            {% if topic %}
                <div class="block-heading-two">
                    <h3><span>Commentaires</span>
                        <small>({{ topic.posts|length }})</small>
                    </h3>
                </div>

                <div class="blog-comments">
                    {% for post in topic.posts %}
                        {{ blogCommentItem(post) }}
                    {% endfor %}
                </div>
            {% endif %}

        </div>
        <div class="col-md-3">
            {% include "frontend/content/page/article_content/_sidebar.html.twig" %}
        </div>
    </div>

{% endblock %}