{% extends "::base.html.twig" %}
{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    Modifier un distributeur
{% endblock headline %}

{% block breadcrumb_content %}
    <a href="{{ path('jdj_compta_homepage') }}">Comptabilité</a> /
    <a href="{{ path('compta_dealer') }}">Distributeurs</a> /
    Modifier
{% endblock breadcrumb_content %}

{% block container -%}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ action.update() }}
    {{ form_end(form) }}
{% endblock container %}
