<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <i class="fa fa-home pr-2"></i>
                <a class="link-dark" href="{{ path('app_homepage') }}">
                    <span itemprop="name">{{ 'sylius.ui.home'|trans }}</span>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-dark" itemprop="item" href="{{ path('sylius_frontend_product_index' ) }}">
                    <span itemprop="name">{{ 'app.ui.boardgames' | trans }}</span>
                    <meta itemprop="position" content="2">
                </a>
            </li>
            <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span itemprop="name">{{ product.name }}</span>
                <meta itemprop="position" content="3">
            </li>
        </ol>
    </div>
</div>
<!-- breadcrumb end -->
