{% import 'macro/image.html.twig' as images %}
{% from 'macro/rating.html.twig' import rating %}

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-12">
                <div class="row">
                    <div class="col-lg-4 col-xl-5">
                        <!-- pills start -->
                        <!-- ================ -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#pill-1" data-toggle="tab"
                                                    title="images"><i
                                            class="fa fa-camera pr-1"></i> Photo</a></li>
                            <li class="nav-item"><a class="nav-link" href="#videos" data-toggle="tab" title="videos"><i
                                            class="fa fa-video-camera pr-1"></i>({{ product.videos|length }}) {{ 'app.ui.videos'|trans }}</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content clear-style">
                            <div class="tab-pane active" id="pill-1">
                                <div class="slick-carousel content-slider-with-thumbs mb-20">
                                    {% for image in product.getImagesOfAllVariants %}
                                        <div class="overlay-container overlay-visible">
                                            {{ images.render(image.webPath, 'full', product.name) }}
                                            <a href="{{ image.webPath | imagine_filter('full') }}"
                                               class="slick-carousel--popup-img overlay-link"
                                               title="{{ image.description }}"><i class="fa fa-plus"></i></a>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% if product.getImagesOfAllVariants|length > 1 %}
                                    <div class="content-slider-thumbs-container">
                                        <div class="slick-carousel content-slider-thumbs">
                                            {% for image in product.getImagesOfAllVariants %}
                                                <div class="slick-nav-thumb">
                                                    {{ images.render(image.webPath, 'full', product.name) }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="videos">
                                {% for video in product.videos %}
                                    <div class="overlay-container overlay-visible">
                                        {% set imagePath = video.image is not null and video.image.webpath is not null ? video.image.webPath : '/assets/frontend/images/placeholder.png' %}
                                        <a class="popup-iframe" href="{{ video.path }}">
                                            {{ images.render(imagePath, 'full', video.title) }}
                                        </a>
                                        <a class="overlay-link popup-iframe" href="{{ video.path }}"><i class="fa fa-link"></i></a>
                                        <div class="overlay-bottom text-left">
                                            <p class="lead margin-clear">{{ video.title }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- pills end -->
                        <div class="clearfix mb-20">
                            <strong>{{ 'app.ui.your_rating'|trans }}</strong>
                            {{ render(url('sylius_partial_product_rating_show', { 'productId': product.id })) }}

                            <hr class="mb-10">
                            <a href="#"
                               class="wishlist"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" ><i class="fa fa-plus pl-10 pr-1"></i>Ajouter à</a>
                            <ul class="dropdown-menu"
                                style="white-space: nowrap; padding: 10px">
                                <li>
                                    <form id="productListForm">
                                        <input type="hidden" name="productId"
                                               value="{{ product.id }}"/>
                                        <div class="list">
                                            <input id="game_library" type="checkbox" data-code="game_library"/>
                                            <label for="game_library">{{ 'app.ui.game_library'|trans }}</label>
                                        </div>
                                        <div class="list">
                                            <input id="wishes" type="checkbox" data-code="wishes"/>
                                            <label for="wishes">{{ 'app.ui.wishes'|trans }}</label>
                                        </div>
                                        <div class="list">
                                            <input id="see_later" type="checkbox" data-code="see_later"/>
                                            <label for="see_later">{{ 'app.ui.see_later'|trans }}</label>
                                        </div>
                                    </form>
                                </li>
                                <li>
                                    <hr/>
                                    <form method="post" class="form-inline" id="newProductListForm">
                                        <div class="form-group">
                                            <input type="text"
                                                   id="list_name"
                                                   name="name"
                                                   class="form-control"
                                                   placeholder="{{ 'app.ui.new_list'|trans }}"/>
                                        </div>
                                        <button type="submit"
                                                class="btn btn-default"><span
                                                    class="fa fa-check"></span> {{ 'sylius.ui.create'|trans }}
                                        </button>
                                    </form>
                                </li>
                            </ul>
                            {{ render(url('sylius_partial_product_review_show_create_or_update_link', {'productSlug': product.slug})) }}
                            <a href="{{ path('app_frontend_game_play_create', { 'productSlug': product.slug } ) }}" class="wishlist"><i class="fa fa-table pl-10 pr-1"></i>Enregistrer une
                                partie</a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xl-7 pv-30">
                        <h2 class="mt-4">{{ 'sylius.ui.description'|trans }}</h2>
                        {{ product.description|raw }}
                        <h4 class="space-top">{{ 'app.ui.specifications'|trans }}</h4>
                        <hr>
                        {% include 'frontend/product/show/_specifications.html.twig' %}
                        {% if product.hasYearAwards %}
                            <h4 class="space-top">{{ 'app.ui.game_awards'|trans }}</h4>
                            <hr>
                            {% include 'frontend/product/show/_awards.html.twig' %}
                        {% endif %}
                        <hr>
                    </div>
                </div>
            </div>
            <!-- main end -->

        </div>
    </div>
</section>
<!-- main-container end -->
