{% extends "::base.html.twig" %}
{% from 'JDJWebBundle:Macros:misc.html.twig' import pagination %}

{% block container %}

    <div class="block-heading-two">
        <ul class="list-inline pull-right">
            <li>
                <a class="btn btn-green" href="{{ path('compta_book_entry_new') }}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Créer une écriture comptable
                </a>
            </li>
        </ul>
        <h3><span>Liste des écritures comptables</span></h3>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'label.date'|trans }}</th>
            <th>{{ 'label'|trans }}</th>
            <th>{{ 'label.credit'|trans }}</th>
            <th>{{ 'label.debit'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for bookEntry in bookEntries %}
            <tr>
                <td>
                    {% if bookEntry.debitedAt %}
                        {{ bookEntry.debitedAt|localizeddate('long', 'none') }}
                    {% else %}
                        {{ bookEntry.creditedAt|localizeddate('long', 'none') }}
                    {% endif %}
                </td>
                <td>{{ bookEntry.label }}</td>
                <td>
                    {% if bookEntry.creditedAt %}
                        {{ bookEntry.price }} €
                    {% endif %}
                </td>
                <td>
                    {% if bookEntry.debitedAt %}
                        {{ bookEntry.price }} €
                    {% endif %}
                </td>
                <td class="text-right">
                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-green"
                               href="{{ path('compta_book_entry_edit', { 'bookEntry': bookEntry.id }) }}">
                                <span class="glyphicon glyphicon-pencil"></span> Modifier
                            </a>
                        </li>
                        <li>
                            {{ form_start(deleteForms[bookEntry.id]) }}
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Supprimer
                            </button>
                            {{ form_end(deleteForms[bookEntry.id]) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% block Pagination %}
        <div class="pagination-wrapper">
            <div class="pagination-bottom">
                {{ pagination(bookEntries) }}
            </div>
        </div>
    {% endblock %}

{% endblock container %}