{% extends "layout/backend_index.html.twig" %}
{% from 'JDJWebBundle:Macros:misc.html.twig' import pagination %}
{% import 'macros/buttons.html.twig' as button %}
{% from '::macros/sorting.html.twig' import sorting %}

{% set sorting = app.request.get('sorting') %}

{% set icon = false %}
{% set currentOrder = null %}

{% if null == sorting %}
    {% set icon = true %}
    {% set currentOrder = 'desc' %}
{% endif %}

{% block new_entity_button %}
    <a class="btn btn-primary" href="{{ path('compta_book_entry_new') }}">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Créer une écriture comptable
    </a>
{% endblock new_entity_button %}

{% block page_title %}
    Liste des écritures comptables
{% endblock page_title %}

{% block list %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ sorting('compta_book_entry', 'label.date'|trans, 'activeAt', 'desc', icon, currentOrder) }}</th>
            <th>{{ sorting('compta_book_entry', 'label'|trans, 'label', 'desc') }}</th>
            <th>{{ 'label.credit'|trans }}</th>
            <th>{{ 'label.debit'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for bookEntry in bookEntries %}
            <tr>
                <td>
                    {{ bookEntry.activeAt|localizeddate('long', 'none') }}
                </td>
                <td>{{ bookEntry.label }}</td>
                <td>
                    {% if 'credited' == bookEntry.state %}
                        {{ bookEntry.price }} €
                    {% endif %}
                </td>
                <td>
                    {% if 'debited' == bookEntry.state %}
                        {{ bookEntry.price }} €
                    {% endif %}
                </td>
                <td class="text-right">
                    <ul class="list-inline">
                        <li>
                            {{ button.edit(path('compta_book_entry_edit', { 'id': bookEntry.id })) }}
                        </li>
                        <li>
                            {{ button.delete(path('compta_book_entry_delete', { 'id': bookEntry.id })) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock list %}

{% block Pagination %}
    <div class="pagination-wrapper">
        <div class="pagination-bottom">
            {{ pagination(bookEntries) }}
        </div>
    </div>
{% endblock %}