{% extends "layout/backend_index.html.twig" %}
{% from '::macros/misc.html.twig' import pagination %}
{% import 'macros/buttons.html.twig' as button %}
{% from 'macros/sorting.html.twig' import sorting %}
{% import 'macros/modal.html.twig' as modal %}

{% set sorting = app.request.get('sorting') %}

{% set icon = false %}
{% set currentOrder = null %}

{% if null == sorting %}
    {% set icon = true %}
    {% set currentOrder = 'asc' %}
{% endif %}

{% block headline %}
    Liste des mécanismes
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    Mécanismes
{% endblock %}

{% block new_entity_button %}
    <a class="btn btn-primary" href="{{ path('admin_mechanism_new') }}">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Nouveau mécanisme
    </a>
{% endblock new_entity_button %}

{% block list %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ sorting('admin_mechanism_index', 'label.name'|trans, 'name', 'asc', icon, currentOrder) }}</th>
            <th>{{ sorting('admin_mechanism_index', 'label.description'|trans, 'description', 'asc') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for mechanism in mechanisms %}
            <tr>
                <td>{{ mechanism.id }}</td>
                <td>{{ mechanism }}</td>
                <td>{{ mechanism.description|striptags }}</td>
                <td class="text-right">
                    <ul class="list-inline text-nowrap">
                        <li>
                            {{ button.show(path('mechanism_show', { 'id': mechanism.id, 'slug': mechanism.slug })) }}
                        </li>
                        <li>
                            {{ button.edit(path('admin_mechanism_edit', { 'id': mechanism.id })) }}
                        </li>
                        <li>
                            {{ button.delete(path('admin_mechanism_delete', { 'id': mechanism.id })) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock list %}

{% block Pagination %}
    <div class="pagination-wrapper">
        <div class="pagination-bottom">
            {{ pagination(mechanisms) }}
        </div>
    </div>
{% endblock %}