{% import 'macro/image.html.twig' as images %}
{% import 'macro/social_links.html.twig' as social_links %}

<!-- header-top start -->
<!-- classes:  -->
<!-- "dark": dark version of header top e.g. class="header-top dark" -->
<!-- "colored": colored version of header top e.g. class="header-top colored" -->
<!-- ================ -->
<div class="header-top colored">
    <div class="container">
        <div class="row">
            <div class="col-2 col-sm-6 col-lg-9">
                <!-- header-top-first start -->
                <!-- ================ -->
                <div class="header-top-first clearfix">
                    <ul class="social-links circle small clearfix hidden-sm-down">
                        {{ social_links.list() }}
                    </ul>
                    <div class="social-links hidden-md-up circle small">
                        <div class="btn-group dropdown">
                            <button id="header-top-drop-1" type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt"></i></button>
                            <ul class="dropdown-menu dropdown-animation" aria-labelledby="header-top-drop-1">
                                {{ social_links.list() }}
                            </ul>
                        </div>
                    </div>
                    <ul class="list-inline hidden-md-down">
                        <li class="list-inline-item">
                            <a href="{{ path('app_frontend_contact_request_create') }}">
                                <i class="fa fa-envelope-o pr-1 pl-2"></i>
                                {{ 'sylius.ui.contact_us'|trans }}
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- header-top-first end -->
            </div>
            <div class="col-10 col-sm-6 col-lg-3">

                <!-- header-top-second start -->
                <!-- ================ -->
                <div id="header-top-second"  class="clearfix">

                    <!-- header top dropdowns start -->
                    <!-- ================ -->
                    <div class="header-top-dropdown text-right">
                        <div class="btn-group">
                            <a href="{{ path('app_frontend_register') }}" class="btn btn-default btn-sm"><i class="fa fa-user pr-2"></i> {{ 'sylius.ui.register'|trans }}</a>
                        </div>
                        {% if app.user is null %}
                            <div class="btn-group">
                                <button id="header-top-drop-2" type="button" class="btn dropdown-toggle btn-default btn-sm dropdown-toggle--no-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lock pr-2"></i> {{ 'sylius.ui.login'|trans }}</button>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-animation" aria-labelledby="header-top-drop-2">
                                    <li>
                                        {% include 'frontend/header/top/_loginForm.html.twig' %}
                                    </li>
                                </ul>
                            </div>
                        {% else %}

                            <div class="btn-group">
                                {% set customer = app.user.customer %}
                                {% set avatarPath = customer.avatar is not null ? customer.avatar.webPath : '/assets/frontend/templates/images/avatar-placeholder.png' %}

                                {#{{ images.render(avatarPath, 'thumbnail', customer, 'avatar rounded-circle') }}#}
                                <a href="#" id="header-top-drop-3" type="button" class="button-avatar dropdown-toggle dropdown-toggle--no-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ images.render(avatarPath, 'thumbnail', customer, 'avatar rounded-circle') }}
                                    {{ app.user }}
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right dropdown-animation" aria-labelledby="header-top-drop-3">
                                    <li>
                                        <a href="{{ path('sylius_frontend_account_dashboard') }}">
                                           <i class="fa fa-lock"></i>
                                           {{ 'sylius.ui.my_account'|trans }}
                                        </a>
                                    </li>
                                    <li><a href="{{ path('app_frontend_account_product_list_index') }}">
                                            <i class="fa fa-list"></i>
                                            {{ 'app.ui.my_game_lists'|trans }}
                                        </a></li>
                                    <li>
                                        <a href="{{ path('app_frontend_account_games_library') }}">
                                            <i class="fa fa-th"></i>
                                            {{ 'app.ui.my_virtual_game_library'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_frontend_account_game_play_index') }}">
                                            <i class="fa fa-play"></i>
                                            {{ 'app.ui.my_game_plays'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="app-logout-button" href="{{ path('app_frontend_logout') }}">
                                            <i class="fa fa-sign-out"></i>
                                            {{ 'sylius.ui.logout'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                    <!--  header top dropdowns end -->
                </div>
                <!-- header-top-second end -->
            </div>
        </div>
    </div>
</div>
<!-- header-top end -->
