{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-sm-2"></div>

    <div class="col-sm-6">
        <h1>{{ 'resetting.title'|trans }}</h1>
    </div>
</div>
<br>
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-horizontal">
    <div>
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="username">{{ 'resetting.request.username'|trans }}</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Nom d'utilisateur" id="username" name="username" required="required" />
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-success" id="_submit" name="_submit" value="{{ 'resetting.request.submit'|trans }}" />
        </div>
    </div>
</form>