{% extends "::base.html.twig" %}

{% block headline %}
    Comptabilité
{% endblock headline %}

{% block breadcrumb_container %}
    Comptabilité
{% endblock breadcrumb_container %}

{% block container %}

    <!-- Icon Box #1 Starts-->
    <div class="icon-box-1 text-center">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box One Item -->
                    <div class="icon-box-1-item">
                        <!-- Icon Box One Icon -->
                        <a href="{{ path('compta_book_entry') }}"><i class="fa fa-list green"></i></a>
                        <!-- Icon Box One Headeing -->
                        <h4><a href="{{ path('compta_book_entry') }}">Ecritures comptables</a></h4>
                        <!-- Icon Box One Paragraph -->
                        <p>Les entrées et les sorties du compte bancaire.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box One Item -->
                    <div class="icon-box-1-item">
                        <a href="{{ path('compta_bill') }}"><i class="fa fa-file-text-o red"></i></a>
                        <h4><a href="{{ path('compta_bill') }}">Factures</a></h4>
                        <p>Les factures émises aux partenaires de jedisjeux.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box One Item -->
                    <div class="icon-box-1-item">
                        <a href="{{ path('compta_customer') }}"><i class="fa fa-user lblue"></i></a>
                        <h4><a href="{{ path('compta_customer') }}">Clients</a></h4>
                        <p>Les partenaires de jedisjeux.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box One Item -->
                    <div class="icon-box-1-item">
                        <a href="{{ path('compta_subscription') }}"><i class="fa fa-calendar purple"></i></a>
                        <h4><a href="{{ path('compta_subscription') }}">Abonnements</a></h4>
                        <p>Les abonnements des partenaires aux services de jedisjeux.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box One Item -->
                    <div class="icon-box-1-item">
                        <a href="{{ path('compta_product') }}"><i class="fa fa-barcode black"></i></a>
                        <h4><a href="{{ path('compta_product') }}">Produits</a></h4>
                        <p>Les offres proposées par Jedisjeux aux partenaires.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box One Item -->
                    <div class="icon-box-1-item">
                        <!-- Icon Box One Icon -->
                        <a href="{{ path('compta_payment_method') }}"><i class="fa fa-cog"></i></a>
                        <!-- Icon Box One Headeing -->
                        <h4><a href="{{ path('compta_payment_method') }}">Modes de paiement</a></h4>
                        <!-- Icon Box One Paragraph -->
                        <p>Les modes de paiement des factures et des écritures comptables.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box One Item -->
                    <div class="icon-box-1-item">
                        <!-- Icon Box One Icon -->
                        <a href="{{ path('compta_dealer') }}"><i class="fa fa-envelope-o black"></i></a>
                        <!-- Icon Box One Headeing -->
                        <h4><a href="{{ path('compta_dealer') }}">Distributeurs</a></h4>
                        <!-- Icon Box One Paragraph -->
                        <p>Les informations et adresse de facturation de Jedisjeux.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock container %}