<div class="large-3 columns">
    <h3>Filtrez votre contenu</h3>

    {{ form_start(form, {'method': 'GET'}) }}

    {{ form_widget(form.cible, { 'attr': {'style': 'display: none'}}) }}

    <button class="small button begginer">Débutant</button><br />
    <button class="small button intermediate">Intermédiaire</button><br />
    <button class="small button master">Expert</button>

    <h4>Nombre de joueurs</h4>

    {{ form_widget(form.joueurCount) }}

    <h4>Durée</h4>
    {{ form_widget(form.duree) }}

    <h4>Age</h4>
    <ul>
        {{ form_widget(form.ageMin) }}
    </ul>

    <h4>Mécanisme</h4>
    {{ form_widget(form.mechanism) }}

    <h4>Thème</h4>
    {{ form_widget(form.theme) }}

    {{ form_row(form.submit, { 'attr': {'class': 'small button'}, 'label': 'Appliquer les critères' }) }}
    {{ form_end(form) }}

</div>