<div class="row">
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {# Bloc form informations principales #}
    <fieldset>
        <legend>Informations principales</legend>

        <div class="row">
            <div class="small-3 columns">
                {{ form_label(form.ageMin, 'Nom du jeu') }}
            </div>
            <div class="error">
                {{ form_errors(form.libelle) }}
            </div>
            <div class="small-9 columns">
                {{ form_widget(form.libelle) }}
            </div>
        </div>

        <div class="row">
            <div class="small-3 columns">
                {{ form_label(form.ageMin, 'A partir de') }}
            </div>
            <div class="error">
                {{ form_errors(form.ageMin) }}
            </div>
            <div class="small-1 columns">
                {{ form_widget(form.ageMin) }}
            </div>
            <div class="small-8 columns">
                <label class="left inline">ans</label>
            </div>
        </div>

        <div class="row">
            <div class="small-3 columns">
                {{ form_label(form.ageMin, 'Nombre de joueurs') }}
            </div>
            <div class="error">
                {{ form_errors(form.joueurMin) }}
            </div>
            <div class="small-1 columns">
                {{ form_widget(form.joueurMin) }}
            </div>
            <div class="small-1 columns">
                <label for="right-label" class="left inline">joueurs</label>
            </div>
            <div class="small-3 columns">
                <select id="select-joueur-max">
                    <option value="identical"
                            {% if entity.joueurMin == entity.joueurMax %}
                            selected="selected"
                            {% endif %}>exclusivement
                    </option>
                    <option value="minimal"
                            {% if entity.joueurMin != "" and entity.joueurMax == "" %}
                        selected="selected"
                            {% endif %}>minimum</option>
                    <option value="custom"
                            {% if entity.joueurMax != "" and entity.joueurMax != entity.joueurMin %}
                        selected="selected"
                            {% endif %}>jusqu'à</option>
                </select>
            </div>
            <div class="joueurMax" style="display: none">
                <div class="small-1 columns">
                    {{ form_widget(form.joueurMax) }}
                </div>
                <div class="small-3 columns">
                    <label for="right-label" class="left inline">joueurs</label>
                </div>
            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend>Description</legend>

        <div class="row">
            <div class="small-3 columns">
                {{ form_label(form.intro) }}
            </div>
            <div class="error">
                {{ form_errors(form.intro) }}
            </div>
            <div class="small-9 columns">
                {{ form_widget(form.intro) }}
            </div>
        </div>

        <div class="row">
            <div class="small-3 columns">
                {{ form_label(form.but) }}
            </div>
            <div class="error">
                {{ form_errors(form.but) }}
            </div>
            <div class="small-9 columns">
                {{ form_widget(form.but) }}
            </div>
        </div>

        <div class="row">
            <div class="small-3 columns">
                {{ form_label(form.description, 'Présentation') }}
            </div>
            <div class="error">
                {{ form_errors(form.description) }}
            </div>
            <div class="small-9 columns">
                {{ form_widget(form.description) }}
            </div>
        </div>

        <div class="row">
            <div class="small-3 columns">
                {{ form_label(form.status, 'Status') }}
            </div>
            <div class="error">
                {{ form_errors(form.status) }}
            </div>
            <div class="small-9 columns">
                {{ form_widget(form.status) }}
            </div>
        </div>
    </fieldset>

    {{ form_end(form) }}
</div>
