{# synthaxe pour importer toutes les macros #}
{#{% import "JDJJeuBundle:Jeu:macros.html.twig" as macros %}#}
{# synthaxe pour importer une macro spécifique #}
{% from "JDJJeuBundle:Jeu:macros.html.twig" import joueurCount %}

<div class="row">
    {% if 1 != jeu.statut.id %}
        <div class="alert-box alert">
            Attention, ce jeu est en statut : {{ jeu.statut.libelle }}
            <a href="#" class="close">&times;</a>
        </div>
    {% endif %}
    <div class="medium-3 columns">
        <img src="http://www.jedisjeux.net/img/800/{{ jeu.imageCouverture }}">
    </div>
    <div class="medium-9 columns">
        <h1 class="columns">{{ jeu.libelle }}</h1>

        <div class="medium-7 columns">
            <p>
                {% if jeu.auteurs|length > 0 %}
                Un jeu de
                    {% for key, personne in jeu.auteurs %}{% if (key > 0) %},{% endif %} <a href="{{ path('personne_show', { 'id': personne.id, 'slug': personne.slug })  }}">{{ personne }}</a>{% endfor %}
                    <br />
                {% endif %}

                {% if jeu.illustrateurs|length > 0 %}
                    illustré{% if jeu.illustrateurs|length > 1 %}s{% endif %} par
                    {% for key, personne in jeu.illustrateurs %}{% if (key > 0) %},{% endif %} <a href="{{ path('personne_show', { 'id': personne.id, 'slug': personne.slug })  }}">{{ personne }}</a>{% endfor %}
                    <br />
                {% endif %}

                {% if jeu.editeurs|length > 0 %}
                    édité{% if jeu.editeurs|length > 1 %}s{% endif %} par
                    {% for key, personne in jeu.editeurs %}{% if (key > 0) %},{% endif %} <a href="{{ path('personne_show', { 'id': personne.id, 'slug': personne.slug })  }}">{{ personne }}</a>{% endfor %}
                    <br />
                {% endif %}
            </p>
            <p>

                {% if jeu.ageMin %}
                    à partir de {{ jeu.ageMin }} ans<br />
                {% endif %}

                {% if jeu.joueurMin or jeu.joueurMax %}
                    {{ joueurCount(jeu) }}<br />
                {% endif %}

                {% if jeu.mecanismes|length > 0 %}
                    Mécanismes : {% for key, mecanisme in jeu.mecanismes %}{% if (key > 0) %},{% endif %} <a href="{{ path('mecanisme_show', { 'id': mecanisme.id, 'slug': mecanisme.slug })  }}">{{ mecanisme }}</a>{% endfor %}
                    <br />
                {% endif %}

                {% if jeu.themes|length > 0 %}
                    Thèmes : {% for key, theme in jeu.themes %}{% if (key > 0) %},{% endif %} <a href="{{ path('theme_show', { 'id': theme.id, 'slug': theme.slug })  }}">{{ theme }}</a>{% endfor %}
                    <br />
                {% endif %}
            </p>
        </div>
        <div class="medium-5 columns">
            <ul>
                {% for jeuCaracteristique in jeu.jeuCaracteristiques %}
                    <li>
                        {{ jeuCaracteristique.caracteristique.libelle }}
                        <img src="http://www.jedisjeux.net/img/notes/etoiles{{ jeuCaracteristique.caracteristiqueNote.valeur*2 }}.png"
                             alt="{{ jeuCaracteristique.caracteristiqueNote.libelle }}"
                             title="{{ jeuCaracteristique.caracteristiqueNote.valeur }}/5 : {{ jeuCaracteristique.caracteristiqueNote.libelle }}"/>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>