{% from 'backend/macro/sorting.html.twig' import sorting %}
{% import 'SyliusUiBundle:Macro:buttons.html.twig' as button %}

{% set defaultSorting = app.request.get('sorting') ? false : true %}
{% set defaultOrder = 'asc' %}
{% set currentOrder = defaultSorting ? defaultOrder : app.request.get('sorting') %}

{% if static_contents|length > 0 %}
    <table class="ui celled table">
        <thead>
        <tr>
            <th>{{ 'app.ui.internal_name'|trans }}</th>
            <th>{{ sorting('sylius_backend_static_content_index', 'sylius.ui.title'|trans, 'title', defaultOrder, true, currentOrder ) }}</th>
            <th>{{ 'sylius.ui.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for static_content in static_contents %}
            <tr>
                <td>{{ static_content.name }}</td>
                <td>{{ static_content.title }}</td>
                <td>
                    <div class="ui buttons">
                        {{ button.edit(path('sylius_backend_static_content_update', { 'id': static_content.id } )) }}
                        {{ button.delete(path('sylius_backend_static_content_delete', { 'id': static_content.id } )) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ messages.info('sylius.ui.no_results_to_display'|trans) }}
{% endif %}