{% extends "backend/base.html.twig" %}

{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    Nouvelle personne
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }} /
    <a href="{{ path('app_admin_person_index') }}">Personnes</a> /
    Nouveau
{% endblock %}

{% block container %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ action.create() }}
    {{ form_end(form) }}
{% endblock container %}
