<div class="block-heading-two">
    <h3><span>{{ personne }}</span></h3>
</div>

<div class="img-box-5">
    <!-- Container -->
    <div class="container">
        <!-- Image Box #5 Item -->
        <div class="img-box-5-item">
            <div class="row">
                <div class="col-md-4">
                    <!-- Image Box #5 Image -->
                    <div class="img-box-5-img">
                        <!-- Image -->
                        {% if (personne.image) %}
                            <a href="{{ personne.image.webPath | imagine_filter('default') }}" class="fancybox"><img
                                        src="{{ personne.image.webPath | imagine_filter('default') }}" alt=""
                                        class="img-responsive img-thumbnail"/></a>
                        {% else %}
                            <span class="fa fa-user"></span>
                        {% endif %}

                    </div>
                </div>
                <div class="col-md-8">
                    <!-- Image Box #5 Content -->
                    <div class="img-box-5-content">

                        {% if (personne.pays) %}
                            <div class="row">
                                <label class="col-md-3">Pays</label>

                                <div class="col-md-9">{{ personne.pays.libelle }}</div>
                            </div>
                        {% endif %}

                        {% if (personne.siteWeb) %}
                            <div class="row">
                                <label class="col-md-3">Site Web</label>

                                <div class="col-md-9"><a target="_blank"
                                                         href="{{ personne.siteWeb }}">{{ personne.siteWeb }}</a></div>
                            </div>
                        {% endif %}

                        {% if personne.auteurJeux|length > 0 %}
                            <div class="row">
                                <label class="col-md-3">Auteur de</label>
                                <div class="col-md-9">{{ personne.auteurJeux|length }} jeu{% if personne.auteurJeux|length > 1 %}x{% endif %}</div>
                            </div>
                        {% endif %}

                        {% if personne.illustrateurJeux|length > 0 %}
                            <div class="row">
                                <label class="col-md-3">Illustrateur de</label>
                                <div class="col-md-9">{{ personne.illustrateurJeux|length }} jeu{% if personne.illustrateurJeux|length > 1 %}x{% endif %}</div>
                            </div>
                        {% endif %}

                        {% if personne.editeurJeux|length > 0 %}
                            <div class="row">
                                <label class="col-md-3">Editeur de</label>
                                <div class="col-md-9">{{ personne.editeurJeux|length }} jeu{% if personne.editeurJeux|length > 1 %}x{% endif %}</div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<blockquote>
    <p>{{ personne.description|raw }}</p>
</blockquote>