{% import 'macro/image.html.twig' as images %}

{% set personPath = path('app_frontend_person_show', { 'slug': person.slug }) %}
{% set imagePath =  person.mainImage is not null ? person.mainImage.webPath : '/assets/frontend/images/placeholder.png' %}

<div class="image-box style-2 mb-20 bordered light-gray-bg">
    <div class="overlay-container overlay-visible">
        {{ images.render(imagePath, 'magazine_item', person) }}
        <a class="overlay-link" href="{{ personPath }}"><i class="fa fa-link"></i></a>
        <div class="overlay-bottom text-left">
            <p class="lead margin-clear">{{ person }}</p>
        </div>
    </div>
    <div class="body text-center">
        <ul class="list-icons mb-10 small">
            {% if person.productCountAsDesigner > 0 %}
                <li><i class="fa fa-cogs"></i> Auteur de {{ person.productCountAsDesigner }} jeux</li>
            {% endif %}
            {% if person.productCountAsArtist > 0 %}
                <li><i class="fa fa-paint-brush"></i> Illustrateur de {{ person.productCountAsArtist }} jeux</li>
            {% endif %}
            {% if person.productCountAsPublisher > 0 %}
                <li><i class="fa fa-upload"></i> Éditeur de {{ person.productCountAsPublisher }} jeux</li>
            {% endif %}
        </ul>
        <a href="{{ personPath }}" class="btn btn-default btn-sm margin-clear">{{ 'sylius.ui.view_more'|trans }}<i class="fa fa-arrow-right pl-10"></i></a>
    </div>
</div>
