{% extends "base.html.twig" %}
{% from 'macros/misc.html.twig' import pagination %}

{% set pageTitle = 'Les ludographies' %}

{% block subtitle %}
    {% if taxon is defined %}
        ayant pour {{ taxon.root }} : {{ taxon }}
    {% endif %}
{% endblock %}

{% block breadcrumb_content %}
    <a href="{{ path('app_frontend_person_index') }}">Ludographies</a>
    {#TODO macro to handle recursivity#}
    {% if taxon is defined %}
        {% if taxon.parent and not taxon.parent.isRoot %}
            / <a
                href="{{ path('app_frontend_person_index_by_taxon', {'slug': taxon.parent.slug}) }}">{{ taxon.parent }}</a>
        {% endif %}
        / {{ taxon }}
    {% endif %}
{% endblock %}

{% block body -%}
    <div class="col-md-9">

        <div class="container" id="people-list">
            {% include 'frontend/person/partial/_list.html.twig' with {'people': people.data} %}
            {{ pagination(people.data) }}
        </div>

    </div>
    <div class="col-md-3">
        {% include 'frontend/person/_sidebar.html.twig' %}
    </div>

{% endblock %}