<div class="medium-3 columns">
    <div class="image crop">
        <a href="{{ path('mecanisme_show', { 'id': mecanisme.id, 'slug': mecanisme.slug }) }}">
            <img src="" alt="{{ mecanisme.libelle }}"/>
        </a>
    </div>
    <div class="panel" data-equalizer-watch>
        <a href="{{ path('mecanisme_show', { 'id': mecanisme.id, 'slug': mecanisme.slug }) }}">
            <h3>{{ mecanisme.libelle }}</h3>
            <ul>
                <li>{{ mecanisme.description | striptags }}</li>
            </ul>
        </a>
    </div>
</div>