{% extends 'JDJWebBundle::layout.html.twig' %}

{% block body -%}
    <h1>CptaEcriture</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ entity.libelle }}</td>
            </tr>
            <tr>
                <th>Sens</th>
                <td>{{ entity.sens }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ entity.montant }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ entity.datecreation|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Facturefilename</th>
                <td>{{ entity.facturefilename }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ecriture') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ecriture_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
