<tr>
    <td>{{ entity.nom }}</td>
    <td>{{ entity.prenom }}</td>
    <td>{{ entity.avatar }}</td>
    <td>{{ entity.presentation }}</td>
    <td>{{ entity.slug }}</td>
    <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td class="small-4">
        <ul class="inline-list">
            <li>
                <a class="small button" href="{{ path('espace_personnel_edit', { 'id': entity.id }) }}">édition</a>
            </li>
            <li>
                {{ form_start(deleteForms[entity.id]) }}
                {{ form_widget(deleteForms[entity.id].submit, {'attr': {'class': 'small button'}, 'label': 'Supprimer'}) }}
                {{ form_end(deleteForms[entity.id]) }}
            </li>
        </ul>
    </td>
</tr>