<div class="ui active tab" data-tab="details">
    <h3 class="ui dividing header">{{ 'sylius.ui.details'|trans }}</h3>
    {{ form_row(form.name) }}
    {{ form_row(form.title) }}
    {{ form_row(form.mainImage) }}
    {{ form_row(form.shortDescription) }}
    {{ form_row(form.status) }}
</div>
