{% extends 'base.html.twig' %}

{% block page_heading %}
{% endblock %}

{% block container %}
    <br/>

    {{ render(url('app_frontend_partial_festival_list_latest', {
        'template': 'frontend/festival_list/_homepage.html.twig',
        'count': 1,
    })) }}

    <div class="col-md-8">

        {% include "layout/_flashes.html.twig" %}

        <!-- Outer layer -->

        <div class="row">

            <div class="col-md-6 col-sm-6">

                <h4 class="mag-head"><a href="{{ path('app_frontend_article_index') }}"><i class="fa fa-cloud color"></i> Articles Récents</a></h4>
                <!-- TODO publishedAt -->
                {{ render(url('app_partial_article_index', {
                    'template': 'frontend/article/_magazine_items_one_and_list_items.html.twig',
                    'paginate': 5,
                    'sorting': {
                        'publishStartDate': 'desc'
                    }} )) }}

                <hr/>
            </div>

            <div class="col-md-6 col-sm-6">
                <h4 class="mag-head"><a href="{{ path('app_frontend_article_index', {'sorting': {'viewCount': 'desc'}}) }}"><i class="fa fa-star color"></i> Top Articles</a></h4>

                <!-- TODO publishedAt -->
                {{ render(url('app_partial_article_index', {
                    'template': 'frontend/article/_magazine_items_one_and_list_items_image_less.html.twig',
                    'paginate': 5,
                    'criteria': {
                        'publishStartDateFrom': '2 months ago'|date('Y-m-d')
                    },
                    'sorting': {
                        'viewCount': 'desc'
                    }} )) }}

                <hr/>

            </div>

        </div>

        <h4 class="mag-head"><a href="{{ path('sylius_frontend_product_index') }}"><i class="fa fa-puzzle-piece color"></i> Derniers jeux ajoutés</a></h4>

        {{ render(url('sylius_partial_product_index', {
            'paginate': 3,
            'template': 'frontend/game/index/list-3.html.twig',
            'criteria': {
                'status': 'PUBLISHED'
            },
            'sorting': {
                'createdAt': 'desc'
            }
        })) }}

        <hr/>

        <h4 class="mag-head"><a href="{{ path('app_frontend_game_play_index') }}"><i class="fa fa-play color"></i> Dernières parties jouées</a></h4>

        {{ render(url('app_partial_game_play_index', {
            'paginate': 3,
            'template': 'frontend/game_play/_list3.html.twig',
            'criteria': {
                'hasTopic': 1
            },
            'sorting': {
                'createdAt': 'desc'
            }
        })) }}

        <hr/>

    </div>

    <!-- Sidebar column -->
    <div class="col-md-4">

        <!-- Sidebar -->
        <div class="sidebar">

            <div class="s-widget">
                <h5><i class="fa fa-calendar color"></i> <a href="{{ path('sylius_frontend_product_release_index') }}">Sorties de jeux</a></h5>

                <div class="widget-content">

                    {{ render(url('sylius_partial_product_index', {
                        'paginate': 2,
                        'template': 'partial/recent_release_product/_home_sidebar.html.twig',
                        'criteria': {
                            'status': 'PUBLISHED',
                            'releasedAtTo': "now"|date("Y-m-d")
                        },
                        'sorting': {
                            'variant.releasedAt': 'desc'
                        }
                    })) }}

                </div>

            </div>

            <hr/>

            <!-- Social media widget -->
            <div class="s-widget">
                <!-- Widgets Content -->
                <div class="widget-content brand-bg">
                    <!-- Social Media Icons -->
                    <a href="https://fr-fr.facebook.com/jedisjeux" class="facebook"><i class="fa fa-facebook square-5"></i></a>
                    <a href="https://twitter.com/jedisjeux" class="twitter"><i class="fa fa-twitter square-5"></i></a>
                    <a href="https://www.youtube.com/user/jedisjeux" class="youtube"><i class="fa fa-youtube square-5"></i></a>
                    <a href="https://github.com/Jedisjeux/Jedisjeux" class="github"><i class="fa fa-github square-5"></i></a>
                </div>
            </div>

            <hr/>

            {% include 'frontend/pub_banner/_sidebarWidget.html.twig' %}

            <!-- Nav tab widget - popular, recent and comments -->
            <div class="s-widget">
                <h5><a href="{{ path('app_frontend_topic_index') }}"><i class="fa fa-comments color"></i> Topics</a></h5>

                <div class="widget-content tabs">
                    <div class="nav-tabs-two">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#recent" data-toggle="tab">Récents</a></li>
                            <li><a href="#popular" data-toggle="tab">Populaires</a></li>
                        </ul>
                        <!-- Tab content -->
                        <div class="tab-content">
                            <!-- Recent posts -->
                            <div class="tab-pane fade in active" id="recent">
                                {{ render(url('app_partial_topic_index', {
                                    'sorting': {
                                        'createdAt': 'desc'
                                    },
                                    'paginate': 5,
                                    'template': 'partial/topic/_sidebarList.html.twig'
                                })) }}
                            </div>
                            <!-- Popular posts -->
                            <div class="tab-pane fade" id="popular">
                                {{ render(url('app_partial_topic_index', {
                                    'sorting': {
                                        'postCount': 'desc'
                                    },
                                    'paginate': 5,
                                    'template': 'partial/topic/_sidebarList.html.twig'
                                })) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-12">
        {{ render(url('app_counter_index')) }}
    </div>


{% endblock container %}