{% extends "::base.html.twig" %}

{% block container %}

    <div class="block-heading-two">
        <h3><span>Liste des produits</span></h3>
    </div>

    <ul class="list-inline">
        <li>
            <a class="btn btn-green" href="{{ path('produit_new') }}">
                <span class="glyphicon glyphicon-plus"></span>
                Créer un produit
            </a>
        </li>
    </ul>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Libelle</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('produit_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.libelle }}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-green" href="{{ path('produit_edit', { 'id': entity.id }) }}">
                                <span class="glyphicon glyphicon-pencil"></span> Modifier
                            </a>
                        </li>
                        <li>
                            {{ form_start(deleteForms[entity.id]) }}
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Supprimer
                            </button>
                            {{ form_end(deleteForms[entity.id]) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock container %}