{% extends 'base.html.twig' %}

{% set pageTitle = 'sylius.ui.register'|trans %}

{% block headline %}
    {{ pageTitle }}
{% endblock %}

{% block container %}
    <div class="small-12 user-form">

        {{ form_errors(form) }}

        <form action="{{ path('app_frontend_register') }}?" method="post" class="form-horizontal">

            {{ form_row(form.email, {attr: {'placeholder': 'sylius.ui.email'|trans}}) }}
            {{ form_row(form.user.username, {attr: {'placeholder': 'sylius.ui.username'|trans}}) }}
            {{ form_row(form.user.plainPassword.first, {attr: {'placeholder': 'sylius.ui.password'|trans}}) }}
            {{ form_row(form.user.plainPassword.second, {attr: {'placeholder': 'sylius.ui.repeat_new_password'|trans}}) }}

            {{ form_rest(form) }}
            <div class="pull-right">
                <button class="btn btn-primary" type="submit" id="_submit"
                        name="_submit">{{ 'label.validate'|trans }}</button>
            </div>
        </form>

    </div>
{% endblock %}