{% extends 'frontend/layout.html.twig' %}

{% set pageTitle = 'sylius.ui.register'|trans %}

{% block content %}
    {% include 'frontend/register/_breadcrumb.html.twig' %}

    <!-- main-container start -->
    <!-- ================ -->
    <div class="main-container dark-translucent-bg" style="background-image:url('/assets/frontend/images/background-img-6.jpg');">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <!-- main start -->
                    <!-- ================ -->
                    <div class="main object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                        <div class="form-block p-30 light-gray-bg border-clear">
                            <h2 class="title">{{ pageTitle }}</h2>

                            {{ form_errors(form) }}

                            <form action="{{ path('app_frontend_register') }}?" method="post" class="form-horizontal">
                                {{ form_row(form.email, {attr: {'placeholder': 'sylius.ui.email'|trans}}) }}
                                {{ form_row(form.user.username, {attr: {'placeholder': 'sylius.ui.username'|trans}}) }}
                                {{ form_row(form.user.plainPassword.first, {attr: {'placeholder': 'sylius.ui.password'|trans}}) }}
                                {{ form_row(form.user.plainPassword.second, {attr: {'placeholder': 'sylius.ui.repeat_new_password'|trans}}) }}

                                {{ form_rest(form) }}

                                <div class="form-group row">
                                    <div class="ml-md-auto col-md-9">
                                        <button type="submit" class="btn btn-group btn-default btn-animated">{{ 'sylius.ui.create_an_account'|trans }} <i class="fa fa-check"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- main end -->
                </div>
            </div>
        </div>
    </div>
    <!-- main-container end -->

    {% include 'frontend/register/_footerTop.html.twig' %}
{% endblock content %}
