{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="{{ path('app_homepage') }}">{{ 'sylius.ui.home'|trans }}</a></li>
                <li class="breadcrumb-item active">{{ 'sylius.ui.login'|trans }}</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- main-container start -->
    <!-- ================ -->
    <div class="main-container dark-translucent-bg" style="background-image:url('/assets/frontend/images/shop-banner-2.jpg');">
        <div class="container">
            <div class="row justify-content-center">
                <!-- main start -->
                <!-- ================ -->
                <div class="main object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                    <div class="form-block p-30 light-gray-bg border-clear">
                        <h2 class="title">{{ 'sylius.ui.login'|trans }}</h2>

                        {% form_theme form 'frontend/form/horizontal.html.twig' %}

                        <form class="form-horizontal" action="{{ path("sylius_frontend_login_check") }}" method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_errors(form) }}
                                </div>
                            </div>

                            {{ form_row(form._username, {attr: {'placeholder': 'app.ui.username_or_email'}}) }}
                            {{ form_row(form._password, {attr: {'placeholder': 'sylius.form.login.password'}}) }}

                            <div class="form-group row">
                                <div class="ml-md-auto col-md-9">
                                    <div class="checkbox form-check">
                                        <input class="form-check-input" type="checkbox" id="remember-me">
                                        <label class="form-check-label" for="remember-me">
                                            {{ 'sylius.form.login.remember_me'|trans }}
                                        </label>
                                    </div>
                                    <input type="hidden" name="_csrf_shop_security_token" value="{{ csrf_token('shop_authenticate') }}">
                                    {{ form_rest(form, {'render_rest': false}) }}
                                    <button id="_login" type="submit" class="btn btn-group btn-default btn-animated">{{ 'sylius.ui.login_button'|trans }} <i class="fa fa-user"></i></button>
                                    <ul class="space-top">
                                        <li><a href="{{ path('sylius_user_request_password_reset_token') }}">{{ 'sylius.ui.forgot_password'|trans }}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                    <p class="text-center space-top">{{ 'app.ui.do_not_have_an_account_yet'|trans }} <a href="{{ path('app_frontend_register') }}">{{ 'sylius.ui.register'|trans }}</a></p>
                </div>
                <!-- main end -->
            </div>
        </div>
    </div>
    <!-- main-container end -->

    {% include 'frontend/footer/_top.html.twig' %}
{% endblock content %}
