{% macro create() %}

    {% import _self as action %}

    <div class="pull-right">
        {{ action.createButton() }}
        {{ action.cancelButton(cancel_url) }}
    </div>
{% endmacro %}

{% macro update() %}

    {% import _self as action %}

    <div class="pull-right">
        {{ action.updateButton() }}
        {{ action.cancelButton(cancel_url) }}
    </div>
{% endmacro %}

{% macro createButton() %}
    <button type="submit"
            class="btn btn-primary">
        <span class="glyphicon glyphicon-ok"></span>
        {{ 'label.create'|trans }}
    </button>
{% endmacro %}

{% macro updateButton() %}
    <button type="submit"
            class="btn btn-primary">
        <span class="icon-save"></span>
        {{ 'label.save_changes'|trans }}
    </button>
{% endmacro %}

{% macro cancelButton(cancel_url) %}
    <a href="{{ cancel_url|default(app.request.headers.get('referer')) }}"
       class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span>
        {{ 'label.cancel'|trans }}
    </a>
{% endmacro %}