{% macro playerCount(jeu) %}
    {% if jeu.joueurMin == jeu.joueurMax %}
        à {{ jeu.joueurMin }} joueur{% if jeu.joueurMin>1 %}s{% endif %} exclusivement
    {% elseif not jeu.joueurMax %}
        à partir de {{ jeu.joueurMin }} joueur{% if jeu.joueurMin>1 %}s{% endif %}
    {% else %}
        {{ jeu.joueurMin }} à {{ jeu.joueurMax }} joueurs
    {% endif %}
{% endmacro %}

{% macro duration(game) %}{% spaceless %}
    {% if game.durationMin %}
        {{ game.durationMin }}
        {% if game.durationMin != game.durationMax %}
            - {{ game.durationMax }}
        {% endif %}
        minute{% if game.durationMin > 1 %}s{% endif %}{% if game.durationByPlayer %} {{ 'label.per_player'|trans|lower }}{% endif %}
    {% endif %}
{% endspaceless %}{% endmacro %}

{% macro magazineItemOne(game) %}
    {% import 'macros/items.html.twig' as item %}

    {% set meta %}
        <i class="fa fa-calendar"></i> <!-- TODO publishedAt -->{{ game.createdAt|localizeddate('long', 'none') }}
        - <i class="fa fa-comments"></i> 5 Comments
    {% endset %}
    {% set body %}
        <p>Nemo enim ipsam voluptatem quia quia neque porro qui dolorem ipsum quia dolor sit amet
            consectetur. </p>
    {% endset %}

    {{ item.magazineItemOne(game.imageCouverture.webPath, game.name, 'magazine_item', 'img-responsive', path('jeu_show', {'id': game.id, 'slug': game.slug}), game.name, body, meta) }}

{% endmacro %}