{% macro image(product, filter) %}
    {% set filter = filter|default('thumbnail') %}

    {% set imageSrc = asset('assets/frontend/img/product-placeholder.png'| imagine_filter(filter)) %}

    {% if (product.mainImage) %}
        {% set imageSrc = product.mainImage.webPath | imagine_filter(filter) %}
    {% endif %}

    {{ imageSrc }}
{% endmacro %}

{% macro playerCount(jeu) %}
    {% if jeu.joueurMin == jeu.joueurMax %}
        à {{ jeu.joueurMin }} joueur{% if jeu.joueurMin>1 %}s{% endif %} exclusivement
    {% elseif not jeu.joueurMax %}
        à partir de {{ jeu.joueurMin }} joueur{% if jeu.joueurMin>1 %}s{% endif %}
    {% else %}
        {{ jeu.joueurMin }} à {{ jeu.joueurMax }} joueurs
    {% endif %}
{% endmacro %}

{% macro releasedAt(product_variant, date_format) %}
    {% set date_format = date_format|default('medium') %}

    {% if constant('AppBundle\\Entity\\ProductVariant::RELEASED_AT_PRECISION_ON_DAY') == product_variant.releasedAtPrecision %}
        {{ product_variant.releasedAt|localizeddate(date_format, 'none') }}
    {% elseif constant('AppBundle\\Entity\\ProductVariant::RELEASED_AT_PRECISION_ON_MONTH') == product_variant.releasedAtPrecision %}
        {% set format = null %}

        {% if 'medium' == date_format %}
            {% set format = 'MMM Y' %}
        {% elseif 'long' == date_format %}
            {% set format = 'MMMM Y' %}
        {% endif %}

        {{ product_variant.releasedAt|localizeddate(date_format, 'none', null, null, format) }}
    {% elseif constant('AppBundle\\Entity\\ProductVariant::RELEASED_AT_PRECISION_ON_YEAR') == product_variant.releasedAtPrecision %}
        {{ product_variant.releasedAt|date('Y') }}
    {% endif %}

{% endmacro %}

{% macro duration(game) %}{% spaceless %}
    {% if game.durationMin %}
        {{ game.durationMin }}
        {% if game.durationMin != game.durationMax %}
            - {{ game.durationMax }}
        {% endif %}
        minute{% if game.durationMin > 1 %}s{% endif %}{% if game.durationByPlayer %} {{ 'label.per_player'|trans|lower }}{% endif %}
    {% endif %}
{% endspaceless %}{% endmacro %}

{% macro magazineItemOne(game, filter, meta) %}
    {% import 'macros/items.html.twig' as item %}

    {% set filter = filter|default('magazine_item') %}

    {% set meta = meta|default() %}

    {% if meta is empty %}
        {% set meta %}
            <i class="fa fa-calendar"></i> <!-- TODO publishedAt -->{{ game.createdAt|localizeddate('long', 'none') }}
            - <i class="fa fa-comments"></i> 5 Comments
        {% endset %}
    {% endif %}

    {% set body %}
        <div class="rating-container">
            <div class="rating yellow" data-readonly="true"
                 data-max-value="10" data-rate-value="{{ game.averageRating }}" data-step-size="0.1"></div>
        </div>
    {% endset %}

    {{ item.magazineItemOne(game.mainImage ? game.mainImage.webPath : 'assets/frontend/img/avatar_2x.png', game.name, filter, 'img-responsive', path('sylius_frontend_product_show', {'slug': game.slug}), game.name, body, meta) }}

{% endmacro %}

{% macro magazineListItem(product) %}
    {% import 'macros/items.html.twig' as item %}

    {% set meta %}
        <i class="fa fa-calendar"></i> {{ product.createdAt|localizeddate('long', 'none') }}
    {% endset %}

    {{ item.magazineListItem(product.mainImage ? product.mainImage.webPath : 'assets/frontend/img/avatar_2x.png', product.name, 'thumbnail', 'img-responsive', path('sylius_frontend_product_show', {'slug': product.slug}), product.name, meta) }}

{% endmacro %}