{% macro blogCommentItem(game_review) %}
    {% import 'macros/items.html.twig' as item %}
    {% from 'macros/users.html.twig' import avatar %}
    {% set game = game_review.reviewSubject %}
    {% set user = game_review.author.user %}
    {% set imagePath = avatar(user) %}
    {% set meta %}
        <!-- Date -->
        <a href="#"><i class="fa fa-calendar"></i> &nbsp; {{ game_review.createdAt|date('d/m/Y') }}</a> &nbsp;
        <!-- Author -->
        <a href="#"><i class="fa fa-user"></i> &nbsp; {{ user }}</a> &nbsp;
        <a href="#">
            <i class="fa fa-thumbs-up"></i>
            <span data-user-review="2" class="nbLikes">0{#{{ game_review.nbLikes }}#}</span>
        </a>
        &nbsp;
        <a href="#">
            <i class="fa fa-thumbs-down"></i>
            <span data-user-review="2" class="nbDislikes">0{#{{ game_review.nbDislikes }}#}</span>
        </a>
    {% endset %}
    <div class="pull-right rating-container rating-gly-star" data-content="">
        <div class="rating-stars" data-content="" style="width: {{ game_review.rating*2 }}0%;"></div>
    </div>
    {{ item.blogCommentItem(imagePath, user.username, 'thumbnail', 'img-responsive img-round', '#', game_review.title, meta, game_review.comment) }}
{% endmacro %}