{% macro image(path, filter, label, class, linkUrl, target) %}
    {% if linkUrl %}
        <a href="{{ linkUrl }}" title="{{ label|default('') }}"{% if target %} target="{{ target }}" {% endif %}>
    {% endif %}
    <img class="{{ class }}" src="{{ path | imagine_filter(filter|default('full')) }}" alt="{{ label }}"/>
    {% if linkUrl %}
        </a>
    {% endif %}
{% endmacro %}