{% macro blockquoteOne(body) %}
    <div class="quote-one">
        <div class="row">
            <!-- Quote One Item -->
            <div class="quote-one-item">
                <span class="color">“</span>
                <div class="quote-one-right">
                    {{ body|raw }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro magazineItemOne(imagePath, imageLabel, imageFilter, imageClass, linkUrl, title, body, meta) %}
    {% from 'macros/images.html.twig' import image %}

    <!-- Magazine item one starts -->
    <div class="magazine-item mag-1">
        <!-- Image -->
        {{ image(imagePath, imageFilter, imageLabel, imageClass, linkUrl) }}
        <!-- Heading -->
        <h4><a href="{{ linkUrl }}">{{ title }}</a></h4>
        <!-- Meta -->
        <div class="magazine-meta">
            {{ meta|raw }}
        </div>
        <!-- Para -->
        {{ body|raw }}
    </div>
    <!-- Magazine item one ends -->
{% endmacro %}

{% macro magazineItemTwo(imagePath, imageLabel, imageFilter, imageClass, linkUrl, title, body, meta) %}
    {% from 'macros/images.html.twig' import image %}

    <!-- Magazine item two starts -->
    <div class="magazine-item mag-2">
        <!-- Image -->
        {{ image(imagePath, imageFilter, imageLabel, imageClass, linkUrl) }}
        <div class="mag-2-content">
            <!-- Heading -->
            <h4><a href="{{ linkUrl }}">{{ title }}</a></h4>
            <!-- Meta -->
            <div class="magazine-meta">
                {{ meta|raw }}
            </div>
            <!-- Para -->
            {{ body|raw }}
        </div>
    </div>
    <!-- Magazine item two ends -->
{% endmacro %}

{% macro magazineListItem(imagePath, imageLabel, imageFilter, imageClass, linkUrl, title, meta) %}
    {% from 'macros/images.html.twig' import image %}

    {% if (imagePath) %}
        {{ image(imagePath, imageFilter, imageLabel, imageClass, linkUrl) }}
    {% endif %}
    <div class="m-list-content">
        <!-- Heading -->
        <h5><a href="{{ linkUrl }}">{{ title }}</a></h5>
        <!-- Meta -->
        <div class="magazine-meta">
            {{ meta|raw }}
        </div>
    </div>
{% endmacro %}

{% macro magazineListItemImageLess(linkUrl, title, meta) %}
    <!-- Heading -->
    <h5><a href="{{ linkUrl }}">{{ title }}</a></h5>
    <!-- Meta -->
    <div class="magazine-meta">
        {{ meta|raw }}
    </div>
{% endmacro %}

{% macro blogCommentItem(imagePath, imageLabel, imageFilter, imageClass, linkUrl, title, meta, body) %}
    {% from 'macros/images.html.twig' import image %}

    <div class="blog-comment-item">
        <div class="comment-author-image">
            {{ image(imagePath, imageFilter, imageLabel, imageClass, linkUrl) }}
        </div>
        <div class="comment-details">
            <!-- Name -->
            <h5><a href="{{ linkUrl }}">{{ title }}</a></h5>
            <div class="blog-meta">
                {{ meta|raw }}
            </div>
            <!-- Paragraph -->
            {{ body|raw }}
        </div>
    </div>
{% endmacro %}

{% macro blogAuthor(customer, body, createdAt) %}
    {% from 'macros/users.html.twig' import avatar %}

    <div class="blog-author">
        <!-- Author image -->
        <div class="blog-author-img">
            <a href="#"><!-- Item image -->
                <img src="{{ avatar(customer.user) | imagine_filter('thumbnail') }}"
                     alt="" class="img-responsive img-round"/></a>
        </div>
        <!-- Author details -->
        <div class="blog-author-content">
            <h5><a href="#">{{ customer.user.username }}
                    <small>
                        le {{ createdAt|localizeddate('full', 'none') }} {{ 'label.at'|trans|lower }} {{ createdAt|localizeddate('none', 'short') }}</small>
                </a></h5>
            {% if body %}
                {{ body|raw }}
            {% endif %}
        </div>
        <div class="clearfix"></div>
    </div>
{% endmacro %}
