{% macro magazineItemOne(imagePath, imageLabel, imageFilter, imageClass, linkUrl, title, body, meta) %}
    {% from 'macros/images.html.twig' import image %}

    <!-- Magazine item one starts -->
    <div class="magazine-item mag-1">
        <!-- Image -->
        {{ image(imagePath, imageFilter, imageLabel, imageClass, linkUrl) }}
        <!-- Heading -->
        <h4><a href="{{ linkUrl }}">{{ title }}</a></h4>
        <!-- Meta -->
        <div class="magazine-meta">
            {{ meta|raw }}
        </div>
        <!-- Para -->
        {{ body|raw }}
    </div>
    <!-- Magazine item one ends -->
{% endmacro %}

{% macro magazineItemTwo(imagePath, imageLabel, imageFilter, imageClass, linkUrl, title, body, meta) %}
    {% from 'macros/images.html.twig' import image %}

    <!-- Magazine item two starts -->
    <div class="magazine-item mag-2">
        <!-- Image -->
        {{ image(imagePath, imageFilter, imageLabel, imageClass, linkUrl) }}
        <div class="mag-2-content">
            <!-- Heading -->
            <h4><a href="{{ linkUrl }}">{{ title }}</a></h4>
            <!-- Meta -->
            <div class="magazine-meta">
                {{ meta|raw }}
            </div>
            <!-- Para -->
            {{ body|raw }}
        </div>
    </div>
    <!-- Magazine item two ends -->
{% endmacro %}

{% macro magazineListItem(imagePath, imageLabel, imageFilter, imageClass, linkUrl, title, meta) %}
    {% from 'macros/images.html.twig' import image %}
    {{ image(imagePath, imageFilter, imageLabel, imageClass, linkUrl) }}

    <div class="m-list-content">
        <!-- Heading -->
        <h5><a href="{{ linkUrl }}">{{ title }}</a></h5>
        <!-- Meta -->
        <div class="magazine-meta">
            {{ meta|raw }}
        </div>
    </div>
{% endmacro %}

{% macro magazineListItemImageLess(linkUrl, title, meta) %}
    <!-- Heading -->
    <h5><a href="{{ linkUrl }}">{{ title }}</a></h5>
    <!-- Meta -->
    <div class="magazine-meta">
        {{ meta|raw }}
    </div>
{% endmacro %}

{% macro blogCommentItem(imagePath, imageLabel, imageFilter, imageClass, linkUrl, title, createdAt, body) %}
    {% from 'macros/images.html.twig' import image %}

    <div class="blog-comment-item">
        <div class="comment-author-image">
            {{ image(imagePath, imageFilter, imageLabel, imageClass, linkUrl) }}
            {#<a href="#"><img src="img/user/1.jpg" alt="" class="img-responsive img-thumbnail"></a>#}
        </div>
        <div class="comment-details">
            <!-- Name -->
            <h5><a href="{{ linkUrl }}">{{ title }}</a> <small>{{ createdAt|date('d/m/Y') }}</small></h5>
            <!-- Paragraph -->
            {{ body|raw }}
        </div>
    </div>
{% endmacro %}