{% macro formModal(id, title, body) %}
    <!-- Modal -->
    <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="label{{ id }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="label{{ id }}">{{ title }}</h4>
                </div>
                <div class="modal-body">
                    {{ body }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'label.cancel'|trans }}</button>
                    <button type="button" class="btn btn-primary">{{ 'label.save'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}