{% macro blogCommentItem(post) %}
    {% import 'macros/items.html.twig' as item %}
    {% from 'macros/users.html.twig' import avatar %}
    {% import 'macros/buttons.html.twig' as button %}

    {% set user = post.author.user %}
    {% set imagePath = avatar(user) %}

    {% set meta %}
        {% if post.createdBy == app.user %}
            {% set editPath = path('app_post_update', { 'id': post.id }) %}
            <a class="pull-right" title="{{ 'label.edit'|trans }}" href="{{ editPath }}">
                <span class="fa fa-pencil"></span>
            </a>
        {% endif %}

        <!-- Date -->
        <a href="#"><i class="fa fa-calendar"></i> &nbsp; {{ post.createdAt|date('d/m/Y H\\hi') }}</a>
        &nbsp;
        <!-- Author -->
        <a href="#"><i class="fa fa-user"></i> &nbsp; {{ user.customer.user }}</a>
        &nbsp;
        <a href="#">
            <i class="fa fa-thumbs-up"></i>
            <span data-post-id="{{ post.id }}" class="nbLikes">0</span>
        </a>
        &nbsp;
        <a href="#">
            <i class="fa fa-thumbs-down"></i>
            <span data-post-id="{{ post.id }}" class="nbDislikes">0</span>
        </a>
        &nbsp;
    {% endset %}

    {{ item.blogCommentItem(imagePath, user.username, 'thumbnail', 'img-responsive img-round', null, null, meta, post.body) }}

{% endmacro %}