{% macro blogCommentItem(post) %}
    {% import 'macros/items.html.twig' as item %}
    {% from 'macros/users.html.twig' import avatar %}
    {% import 'macros/buttons.html.twig' as button %}

    {% set user = post.author.user %}
    {% set imagePath = avatar(user) %}
    {% set isTopic = post.parent ? true : false %}

    {% set meta %}
        {% if post.author.user == app.user %}
            {% set editPath = isTopic ? path('app_frontend_topic_update', { 'id': post.parent.id }) : path('app_post_update', { 'id': post.id }) %}
            {% set removePath = isTopic ? path('app_frontend_topic_delete', {'id': post.parent.id}) : path('app_post_delete', {'id': post.id}) %}
            <div class="btn-group pull-right">
                <a class="btn btn-default" title="{{ 'label.edit'|trans }}" href="{{ editPath }}">
                    <span class="fa fa-pencil"></span>
                </a>
                {% if isTopic and post.parent.posts|length == 0 or not isTopic %}
                    <form action="{{ removePath }}" name="form" method="post" style="display: inline;">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-default btn-confirm" type="submit" title="{{ 'label.delete'|trans }}">
                            <i class="fa fa-remove"></i>
                        </button>
                    </form>
                {% endif %}
            </div>
        {% endif %}

        <!-- Date -->
        <a href="#"><i class="fa fa-calendar"></i> &nbsp; {{ post.createdAt|date('d/m/Y H\\hi') }}</a>
        &nbsp;
        <!-- Author -->
        <a href="#"><i class="fa fa-user"></i> &nbsp; {{ user.customer.user }}</a>
        &nbsp;
        <a href="#">
            <i class="fa fa-thumbs-up"></i>
            <span data-post-id="{{ post.id }}" class="nbLikes">0</span>
        </a>
        &nbsp;
        <a href="#">
            <i class="fa fa-thumbs-down"></i>
            <span data-post-id="{{ post.id }}" class="nbDislikes">0</span>
        </a>
        &nbsp;
    {% endset %}

    {{ item.blogCommentItem(imagePath, user.username, 'thumbnail', 'img-responsive img-round', null, null, meta, post.body) }}

{% endmacro %}