{% macro productStatus(game) %}

    {% set statusLabel = game.status %}
    {% set statusClass = '' %}
    {% set iconClass = '' %}

    {% if constant('AppBundle\\Entity\\Product::PUBLISHED') == game.status %}
        {% set statusClass = 'success' %}
        {% set statusLabel = 'label.published'|trans %}
    {% elseif constant('AppBundle\\Entity\\Product::WRITING') == game.status %}
        {% set statusClass = 'danger' %}
        {% set statusLabel = 'label.writing'|trans %}
    {% elseif constant('AppBundle\\Entity\\Product::NEED_A_TRANSLATION') == game.status %}
        {% set statusClass = 'danger' %}
        {% set statusLabel = 'label.need_a_translation'|trans %}
    {% elseif constant('AppBundle\\Entity\\Product::NEED_A_REVIEW') == game.status %}
        {% set statusClass = 'warning' %}
        {% set statusLabel = 'label.need_a_review'|trans %}
        {% set iconClass = 'fa fa-laptop' %}
    {% elseif constant('AppBundle\\Entity\\Product::READY_TO_PUBLISH') == game.status %}
        {% set statusClass = 'primary' %}
        {% set statusLabel = 'label.ready_to_published'|trans %}
    {% endif %}

    <span class="label label-{{ statusClass }}">
        <span class="{{ iconClass }}"></span>
        {{ statusLabel }}
    </span>

{% endmacro %}

{% macro subscriptionStatus(subscription) %}

    {% import 'macros/modal.html.twig' as modal %}

    {% set statusLabel = subscription.status %}
    {% set statusClass = '' %}
    {% set iconClass = '' %}

    {% if 'in_progress' == subscription.status %}
        {% set statusClass = 'success' %}
        {% set statusLabel = 'label.in_progress'|trans %}
    {% elseif 'waiting_for_payment' == subscription.status %}
        {% set statusClass = 'danger' %}
        {% set statusLabel = 'label.waiting_for_payment'|trans %}
    {% elseif 'waiting_for_installation' == subscription.status %}
        {% set statusClass = 'warning' %}
        {% set statusLabel = 'label.waiting_for_installation'|trans %}
        {% set iconClass = 'fa fa-laptop' %}
    {% elseif 'finished' == subscription.status %}
        {% set statusClass = 'primary' %}
        {% set statusLabel = 'label.finished'|trans %}
    {% endif %}


    {% if ('waiting_for_payment' == subscription.status) %}
        {% set modalId = 'payment' ~ subscription.id %}
        {% set bill = subscription.billProduct.bill %}
        {% set modalBody %}
            {{ render(url('compta_bill_payment_update', {'id': bill.id})) }}
        {% endset %}
        {{ modal.formModal(modalId, 'label.payment'|trans, modalBody) }}

        <!-- Button trigger modal -->
        <a href="#" data-toggle="modal" data-target="#{{ modalId }}">
                             <span class="label label-{{ statusClass }}">
                                 <span
                                         class="glyphicon glyphicon-euro">

                                 </span>
                                 {{ statusLabel|trans }}</span>
        </a>
    {% else %}
        <span class="label label-{{ statusClass }}">
            <span class="{{ iconClass }}"></span>
            {{ statusLabel }}
        </span>
    {% endif %}

{% endmacro %}