{% macro list(taxons) %}
    {% import 'macros/alerts.html.twig' as alerts %}

    {% if taxons|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'label.code'|trans }}</th>
                <th>{{ 'label.name'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{ _self.tree(taxons) }}
            </tbody>
        </table>
    {% else %}
        {{ alerts.info('sylius.ui.there_are_no_taxons_to_display'|trans) }}
    {% endif %}

{% endmacro %}

{% macro tree(taxons) %}
    {% import 'macros/buttons.html.twig' as buttons %}

    {% for taxon in taxons %}
        <tr id="{{ taxon.id }}">
            <td>
                {{ taxon.code }}
            </td>
            <td>
                <span style="padding-left: {{ taxon.level * 20 }}px;">
                    {{ taxon.name }}
                </span>
            </td>
            <td>
                <div class="pull-right">
                    {{ buttons.edit(path('sylius_backend_taxon_update', {'id': taxon.id})) }}
                    {{ buttons.delete(path('sylius_backend_taxon_delete', {'id': taxon.id})) }}
                </div>
            </td>
        </tr>
        {% if taxon.children|length > 0 %}
            {{ _self.tree(taxon.children) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro sidebarList(taxons, routeName, currentTaxon, itemCountProperty) %}
    <ul class="list-6">
        {% set hiddenElements = false %}
        {% for key, taxon in taxons %}
            {% set is_parent = currentTaxon and (taxon == currentTaxon or (taxon.hasChild(currentTaxon))) %}

            {% set hiddenElements = key >= 5 %}

            <li{% if hiddenElements %} class="closed" style="display: none"{% endif %}>
                <a href="{{ path(routeName, { 'permalink': taxon.permalink }) }}">
                    {% if is_parent %}
                    <strong>
                        {% endif %}
                        {{ taxon }}
                        {% if is_parent %}
                    </strong>
                    {% endif %}
                    {% if itemCountProperty %}
                        <span class="color">({{ attribute(taxon, itemCountProperty) }})</span>
                    {% endif %}
                </a>
                {% if (is_parent and taxon.children|length > 0) %}
                    {{ _self.sidebarList(taxon.children, routeName, currentTaxon) }}
                {% endif %}
            </li>

        {% endfor %}

        {% if hiddenElements %}
            <a data-closed="1" data-open-label="Plus..." data-close-label="Moins..." class="color show-more-2" href="#">
                <span class="fa fa-chevron-down"></span>
                Plus...
            </a>
        {% endif %}
    </ul>
{% endmacro %}