{% macro blogCommentItem(user_review) %}
    {% import 'macros/items.html.twig' as item %}
    {% from 'macros/users.html.twig' import avatar %}
    {% set game = user_review.jeuNote.jeu %}
    {% set user = user_review.jeuNote.author %}
    {% set imagePath = avatar(user) %}
    {% set meta %}
        <!-- Date -->
        <a href="#"><i class="fa fa-calendar"></i> &nbsp; {{ user_review.createdAt|date('d/m/Y') }}</a> &nbsp;
        <!-- Author -->
        <a href="#"><i class="fa fa-user"></i> &nbsp; {{ user }}</a> &nbsp;
        <a href="#"><i class="fa fa-thumbs-up"></i> <span data-user-review="2" class="nbLikes">{{ user_review.nbLikes }}</span></a>
        &nbsp;
        <a href="#"><i class="fa fa-thumbs-down"></i> <span data-user-review="2" class="nbDislikes">{{ user_review.nbDislikes }}</span></a>
    {% endset %}
    <div class="pull-right rating-container rating-gly-star" data-content="">
        <div class="rating-stars" data-content="" style="width: {{ user_review.jeuNote.note.valeur }}0%;"></div>
    </div>
    {{ item.blogCommentItem(imagePath, user.username, 'thumbnail', 'img-responsive img-round', '#', user_review.libelle, meta, user_review.body) }}
{% endmacro %}