<div class="dropdown-menu dropdown-menu-right" style="width: 400px" aria-labelledby="toolbar-jeu-{{ jeu.id }}">
    <div class="row">
        <div class="col-md-3">
            <!-- Image Box #5 Image -->
            <div class="img-box-5-img">
                <!-- Image -->
                <a href="#">
                    <img src="{{ jeu.imageCouverture.webPath | imagine_filter('default') }}" alt="" class="img-responsive img-thumbnail" />
                </a>
            </div>
        </div>
        <div class="col-md-9">

            <h4>{{ jeu.libelle }}</h4>

            <input class="game-rating rating" type="number" min=0 max=5 step=0.5 data-size="xs">

            <br/>

            <div class="btn-group" role="group">
                <button type="button" data-toggle="tooltip" data-placement="top" title="Ajouter à ma ludothèque"
                        class="b-tooltip btn {% if userGameAttribute %}
                                                {% if userGameAttribute.isOwned %}
                                                    btn-yellow
                                                {% else %}
                                                    btn-default
                                                {% endif %}
                                            {% else %}
                                                btn-default
                                            {% endif %} btn-sm owned" data-jeu-id="{{ jeu.id }}"
                data-uid="{{ app.user.id }}"><span
                            class="fa fa-user"></span>
                </button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Ajouter à mes envies"
                        class="b-tooltip btn {% if userGameAttribute %}
                                                {% if userGameAttribute.isWanted %}
                                                    btn-yellow
                                                {% else %}
                                                    btn-default
                                                {% endif %}
                                            {% else %}
                                                btn-default
                                            {% endif %} btn-sm wanted" data-jeu-id="{{ jeu.id }}" data-uid="{{ app.user.id }}"><span
                            class="fa fa-bookmark"></span></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="j'y ai joué"
                        class="b-tooltip btn {% if userGameAttribute %}
                                                {% if userGameAttribute.hasPlayed %}
                                                    btn-yellow
                                                {% else %}
                                                    btn-default
                                                {% endif %}
                                            {% else %}
                                                btn-default
                                            {% endif %} btn-sm played" data-jeu-id="{{ jeu.id }}" data-uid="{{ app.user.id }}"><span
                            class="fa fa-play"></span></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Coup de coeur"
                        class="b-tooltip btn {% if userGameAttribute %}
                                                {% if userGameAttribute.isFavorite %}
                                                    btn-yellow
                                                {% else %}
                                                    btn-default
                                                {% endif %}
                                            {% else %}
                                                btn-default
                                            {% endif %} btn-sm favorite" data-jeu-id="{{ jeu.id }}" data-uid="{{ app.user.id }}"><span
                            class="fa fa-heart"></span></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Rédiger une critique"
                        class="b-tooltip btn btn-default btn-sm user-review" data-jeu-id="{{ jeu.id }}"><span
                            class="fa fa-pencil"></span></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Ajouter à une liste"
                        class="b-tooltip btn btn-default btn-sm collection" data-jeu-id="{{ jeu.id }}"><span
                            class="fa fa-list"></span></button>
            </div>
        </div>
    </div>
</div>