{% extends "::base.html.twig" %}

{% block container %}

    <div class="block-heading-two">
        <ul class="list-inline pull-right">
            <li>
                <a class="btn btn-green" href="{{ path('compta_bill_new') }}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Créer une facture
                </a>
            </li>
        </ul>
        <h3><span>Liste des factures</span></h3>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'label.id'|trans }}</th>
            <th>{{ 'label.created_at'|trans }}</th>
            <th>{{ 'label.company'|trans }}</th>
            <th>{{ 'label.total_price'|trans }}</th>
            <th>{{ 'label.paid_at'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for bill in bills %}
            <tr>
                <td><a href="{{ path('compta_bill_show', { 'bill': bill.id }) }}">
                        {{ bill.id }}
                    </a>
                </td>
                <td>{{ bill.createdAt|localizeddate('long', 'none') }}</td>
                <td>{{ bill.customer.companyName }}</td>
                <td>{{ totalPrices[bill.id]|localizedcurrency('EUR') }}</td>
                <td>{% if bill.paidAt %}
                        {{ bill.paidAt|localizeddate('long', 'none') }}
                    {% else %}
                        {{ 'label.not_paid'|trans }}
                    {% endif %}
                </td>
                <td class="text-right">
                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-green" href="{{ path('compta_bill_edit', { 'bill': bill.id }) }}">
                                <span class="glyphicon glyphicon-pencil"></span> Modifier
                            </a>
                        </li>
                        <li>
                            {{ form_start(deleteForms[bill.id]) }}
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Supprimer
                            </button>
                            {{ form_end(deleteForms[bill.id]) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock container %}