{% extends "layout/backend_index.html.twig" %}
{% from 'JDJWebBundle:Macros:misc.html.twig' import pagination %}
{% import 'macros/buttons.html.twig' as button %}
{% from '::macros/sorting.html.twig' import sorting %}

{% set sorting = app.request.get('sorting') %}

{% set icon = false %}
{% set currentOrder = null %}

{% if null == sorting %}
    {% set icon = true %}
    {% set currentOrder = 'desc' %}
{% endif %}

{% block new_entity_button %}
    <a class="btn btn-primary" href="{{ path('compta_bill_create') }}">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Créer une facture
    </a>
{% endblock new_entity_button %}

{% block page_title %}
    Liste des factures
{% endblock page_title %}

{% block list %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ sorting('compta_bill', 'label.created_at'|trans, 'createdAt', 'desc', icon, currentOrder) }}</th>
            <th>{{ sorting('compta_bill', 'label.society'|trans, 'society', 'asc') }}</th>
            <th>{{ 'label.total_price'|trans }}</th>
            <th>{{ sorting('compta_bill', 'label.paid_at'|trans, 'paidAt', 'asc') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for bill in bills %}
            <tr>
                <td><a href="{{ path('compta_bill_show', { 'id': bill.id }) }}">
                        {{ bill.id }}
                    </a>
                </td>
                <td>{{ bill.createdAt|localizeddate('long', 'none') }}</td>
                <td>{{ bill.customer.society }}</td>
                <td>{{ bill.totalPrice|localizedcurrency('EUR') }}</td>
                <td>
                    {% if bill.paidAt %}
                        {{ bill.paidAt|localizeddate('long', 'none') }}
                    {% else %}
                        <span class="label label-danger"><span class="glyphicon glyphicon-euro" ></span> {{ 'label.waiting_for_payment'|trans }}</span>
                    {% endif %}
                </td>
                <td class="text-right">
                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-default" href="{{ path('compta_bill_show', { 'id': bill.id }) }}">
                                <span class="glyphicon glyphicon-book"></span> Facture
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-primary" href="{{ path('compta_bill_update', { 'id': bill.id }) }}">
                                <span class="glyphicon glyphicon-pencil"></span> Modifier
                            </a>
                        </li>
                        <li>
                            {{ button.delete(path('compta_bill_delete', { 'id': bill.id })) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock list %}

{% block Pagination %}
    <div class="pagination-wrapper">
        <div class="pagination-bottom">
            {{ pagination(bills) }}
        </div>
    </div>
{% endblock %}