{% extends "layout/backend_index.html.twig" %}
{% from '::macros/misc.html.twig' import pagination %}
{% import 'macros/buttons.html.twig' as button %}
{% from 'macros/sorting.html.twig' import sorting %}
{% import 'macros/modal.html.twig' as modal %}

{% set sorting = app.request.get('sorting') %}

{% set icon = false %}
{% set currentOrder = null %}

{% if null == sorting %}
    {% set icon = true %}
    {% set currentOrder = 'desc' %}
{% endif %}

{% block headline %}
    Liste des factures
{% endblock headline %}

{% block breadcrumb_container %}
    <a href="{{ path('jdj_compta_homepage') }}">Comptabilité</a> /
    Factures
{% endblock breadcrumb_container %}

{% block new_entity_button %}
    <a class="btn btn-primary" href="{{ path('compta_bill_create') }}">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Créer une facture
    </a>
{% endblock new_entity_button %}

{% block list %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ sorting('compta_bill', 'label.created_at'|trans, 'createdAt', 'desc', icon, currentOrder) }}</th>
            <th>{{ sorting('compta_bill', 'label.society'|trans, 'society', 'asc') }}</th>
            <th>{{ 'label.total_price'|trans }}</th>
            <th>{{ sorting('compta_bill', 'label.paid_at'|trans, 'paidAt', 'asc') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for bill in bills %}
            <tr>
                <td><a href="{{ path('compta_bill_show', { 'id': bill.id }) }}">
                        {{ bill.id }}
                    </a>
                </td>
                <td>{{ bill.createdAt|localizeddate('long', 'none') }}</td>
                <td>{{ bill.customer.society }}</td>
                <td>{{ bill.totalPrice|localizedcurrency('EUR') }}</td>
                <td>
                    {% if bill.paidAt %}
                        {{ bill.paidAt|localizeddate('long', 'none') }}
                    {% else %}
                        {% set modalId = 'payment' ~ bill.id %}
                        {% set modalBody %}
                            {{ render(url('compta_bill_payment_update', {'id': bill.id})) }}
                        {% endset %}
                        {{ modal.formModal(modalId, 'label.payment'|trans, modalBody) }}

                        <!-- Button trigger modal -->
                        <a href="#" data-toggle="modal" data-target="#{{ modalId }}">
                             <span class="label label-danger">
                                 <span
                                         class="glyphicon glyphicon-euro">

                                 </span>
                                 {{ 'label.waiting_for_payment'|trans }}</span>
                        </a>

                    {% endif %}
                </td>
                <td class="text-right">
                    <ul class="list-inline">
                        {% set disabled = bill.paidAt ? true : false %}
                        <li>
                            <a class="btn btn-default" href="{{ path('compta_bill_show', { 'id': bill.id }) }}">
                                <span class="glyphicon glyphicon-book"></span> Facture
                            </a>
                        </li>
                        <li>
                            {{ button.edit(path('compta_bill_update', { 'id': bill.id }), null, null, disabled) }}
                        </li>
                        <li>
                            {{ button.delete(path('compta_bill_delete', { 'id': bill.id }), null, disabled) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock list %}

{% block Pagination %}
    <div class="pagination-wrapper">
        <div class="pagination-bottom">
            {{ pagination(bills) }}
        </div>
    </div>
{% endblock %}