{% extends "layout/pdf.html.twig" %}

{% set customer = bill.customer %}
{% set address = bill.customer.address %}

{% block body %}

    <div class="row">
        <h3>Association Loi 1901</h3>

        <p>SIREN : 537 646 036 / SIRET : 537 646 036 00013 / Code APE : 9499Z</p>
    </div>

    <div class="row">
        <h3>Siège Social :</h3>

        <p>Jedisjeux<br/>
            Fremont Loïc<br/>
            2 allée de la châtaigneraie<br/>
            35740 PACE</p>
    </div>

    <div class="row">
        <p>Email : <a href="#">jedisjeux@jedisjeux.net</a></p>
    </div>

    <div class="row">
        <div class="col-xs-6 col-xs-offset-6">
            <div class="row">
                <address class="lead">
                    <strong>
                        {{ customer.society }}<br/>
                        {{ address.street }}<br/>
                        {% if (address.additionalAddressInfo) %}
                            {{ address.additionalAddressInfo }}<br/>
                        {% endif %}
                        {{ address.postalCode }} {{ address.city }}
                    </strong>
                </address>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>N° Client</th>
                        <th>N° Facture</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ bill.customer.id }}</td>
                        <td>{{ bill.id }}</td>
                        <td>{{ bill.createdAt|date('d/m/Y') }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Référence - Désignation</th>
                <th>Quantité</th>
                <th>Prix unitaire Net</th>
                <th>Montant</th>
            </tr>
            </thead>
            <tbody>
            {% for billProduct in bill.billProducts %}
                {% set productPrice = billProduct.product.price * billProduct.quantity %}
                <tr>
                    <td>{{ billProduct.product.name }} - {{ billProduct.product.subscriptionDuration }} mois</td>
                    <td>{{ billProduct.quantity }}</td>
                    <td>{{ billProduct.product.price|localizedcurrency('EUR') }}</td>
                    <td>{{ productPrice|localizedcurrency('EUR') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="pull-right">{{ bill.totalPrice|localizedcurrency('EUR') }}</div>
        <div>Montant total HT :</div>
    </div>

    <div class="row">
        <p>Exonéré T.V.A - article 261-7-1° du CGI</p>
    </div>

    <div class="row">
        <div class="pull-right">{{ bill.totalPrice|localizedcurrency('EUR') }}</div>
        <div>Montant total à payer :</div>
    </div>

{% endblock body %}