{% extends "layout/pdf.html.twig" %}

{% set dealer = bill.dealer %}
{% set customer = bill.customer %}

{% block body %}

    <div class="bill-content">

        <div class="row">
            <!-- Logo section -->
            <div class="logo">
                <h1><a href="#">{% block headline %}{{ dealer.name }}{% endblock %}</a></h1>
            </div>

        </div>

        <div class="row">
            <h3><span>Association Loi 1901</span></h3>
        </div>

        <div class="row">
            <p>SIREN : 537 646 036 / SIRET : 537 646 036 00013 / Code APE : 9499Z</p>
        </div>

        <div class="row">
            <h3><span>Siège Social :</span></h3>
        </div>

        <div class="row">
            <address>
                {{ dealer.name }}<br/>
                {{ dealer.address.street }}<br/>
                {% if (dealer.address.additionalAddressInfo) %}
                    {{ dealer.address.additionalAddressInfo }}<br/>
                {% endif %}
                {{ dealer.address.postalCode }} {{ dealer.address.city }}
            </address>
        </div>

        <div class="row">
            <p>Email : <a href="#">jedisjeux@jedisjeux.net</a></p>
        </div>

        <div class="row">
            <div class="col-xs-6 col-xs-offset-6">
                <div class="row">
                    <address class="lead customer">
                        {{ customer.society }}<br/>
                        {{ customer.address.street }}<br/>
                        {% if (customer.address.additionalAddressInfo) %}
                            {{ customer.address.additionalAddressInfo }}<br/>
                        {% endif %}
                        {{ customer.address.postalCode }} {{ customer.address.city }}
                    </address>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>N° Client</th>
                            <th>N° Facture</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ bill.customer.id }}</td>
                            <td>{{ bill.id }}</td>
                            <td>{{ bill.createdAt|date('d/m/Y') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Référence - Désignation</th>
                    <th>Quantité</th>
                    <th>Prix unitaire Net</th>
                    <th>Montant</th>
                </tr>
                </thead>
                <tbody>
                {% for billProduct in bill.billProducts %}
                    {% set productPrice = billProduct.product.price * billProduct.quantity %}
                    <tr>
                        <td>{{ billProduct.product.name }}</td>
                        <td>{{ billProduct.quantity }}</td>
                        <td>{{ billProduct.product.price|localizedcurrency('EUR') }}</td>
                        <td>{{ productPrice|localizedcurrency('EUR') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="bill-footer">
        <div class="row">
            <div class="pull-right">{{ bill.totalPrice|localizedcurrency('EUR') }}</div>
            <div>Montant total HT :</div>
        </div>

        <div class="row">
            <p>Exonéré T.V.A - article 261-7-1° du CGI</p>
        </div>

        <div class="row">
            <div class="pull-right">{{ bill.totalPrice|localizedcurrency('EUR') }}</div>
            <div>Montant total à payer :</div>
        </div>
    </div>



{% endblock body %}