{% extends 'backend/layout.html.twig' %}

{% import 'SyliusUiBundle:Macro:headers.html.twig' as headers %}
{% import 'backend/macro/breadcrumb.html.twig' as breadcrumb %}

{% set breadcrumbs = [
{ label: 'app.ui.administration'|trans, url: path('app_backend_dashboard') },
{ label: (metadata.applicationName~'.ui.'~metadata.pluralName)|trans, url: path(configuration.getRouteName('index'), configuration.vars.route.parameters|default({})) },
{ label: resource.id }
]
%}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.'~metadata.name) %}

{% block title %}{{ parent() }} {{ header|trans }}{% endblock %}

{% block content %}
    {{ headers.default(header|trans, configuration.vars.icon|default('mail'), configuration.vars.subheader|default(null)|trans) }}

    {{ breadcrumb.crumble(breadcrumbs) }}

    <div class="ui two column stackable grid">
        <div class="column">
            <div class="ui segment">
                <h4 class="ui dividing header">{{ 'sylius.ui.customer_details'|trans }}</h4>
                <p><strong>{{ 'sylius.ui.first_name'|trans }} :</strong> {{ contact_request.firstName }}</p>
                <p><strong>{{ 'sylius.ui.last_name'|trans }} :</strong> {{ contact_request.lastName }}</p>
                <p><strong>{{ 'sylius.ui.email'|trans }} :</strong> <span id="email">{{ contact_request.email }}</span></p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p><strong>{{ 'sylius.ui.body'|trans }} :</strong> {{ contact_request.body|raw }}</p>
            </div>
        </div>
    </div>


{% endblock %}
