{% extends "::base.html.twig" %}

{% block container -%}

    <div class="block-heading-two">
        <h3><span>Liste des écritures</span></h3>
    </div>

    <ul class="list-inline">
        <li>
            <a class="btn btn-green" href="{{ path('ecriture_new') }}">
                <span class="glyphicon glyphicon-plus"></span> Créer une écriture
            </a>
        </li>
    </ul>

    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Libelle</th>
                <th>Débit</th>
                <th>Crédit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.datecreation %}{{ entity.datecreation|date('d/m/Y') }}{% endif %}</td>
                <td>{{ entity.libelle }}</td>
                <td>{% if 'debit' == entity.sens %}{{ entity.montant }}{% endif %}</td>
                <td>{% if 'credit' == entity.sens %}{{ entity.montant }}{% endif %}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-green" href="{{ path('ecriture_edit', { 'id': entity.id }) }}">
                                <span class="glyphicon glyphicon-pencil"></span> Modifier
                            </a>
                        </li>
                        <li>
                            {{ form_start(deleteForms[entity.id]) }}
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Supprimer
                            </button>
                            {{ form_end(deleteForms[entity.id]) }}
                        </li>
                    </ul>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock container %}
