{# synthaxe pour importer toutes les macros #}
{#{% import "JDJJeuBundle:Jeu:macros.html.twig" as macros %}#}
{# synthaxe pour importer une macro spécifique #}
{% from "JDJJeuBundle:Jeu:macros.html.twig" import joueurCount %}

<div class="row">
    <div class="medium-4 columns">
        <img src="http://www.jedisjeux.net/img/800/rokoko-49-1375739818.jpg"/>
    </div>
    <div class="medium-8 columns">
        <h1>{{ jeu.libelle }}</h1>

        <div class="medium-6 columns">
            <ul>
                {% if jeu.ageMin %}
                    <li>A partir de {{ jeu.ageMin }} ans</li>
                {% endif %}

                {% if jeu.joueurMin or jeu.joueurMax %}
                    <li>
                        {{ joueurCount(jeu) }}
                    </li>
                {% endif %}

                <li>{{ jeu.mecanismes|join(", ") }}</li>
                {#{% for mecanisme in jeu.mecanismes %}
                    {{ mecanisme.libelle }}
                {% endfor %}#}

                <li>{{ jeu.themes|join(", ") }}</li>
            </ul>
        </div>
        <div class="medium-6 columns">
            <ul>
                {% for jeuCaracteristique in jeu.jeuCaracteristiques %}
                    <li>
                        {{ jeuCaracteristique.caracteristique.libelle }}
                        <img src="http://www.jedisjeux.net/img/notes/etoiles{{ jeuCaracteristique.caracteristiqueNote.valeur*2 }}.png"
                             alt="{{ jeuCaracteristique.caracteristiqueNote.libelle }}"
                             title="{{ jeuCaracteristique.caracteristiqueNote.valeur }}/5 : {{ jeuCaracteristique.caracteristiqueNote.libelle }}"/>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>