{% extends "JDJWebBundle::layout.html.twig" %}

{% block body -%}
    <h1>Liste des écritures</h1>

    <ul>
        <li>
            <a class="button" href="{{ path('cptaecriture_new') }}">
                Créer une écriture
            </a>
        </li>
    </ul>

    <table class="records_list">
        <thead>
            <tr>
                <th>Date</th>
                <th>Libelle</th>
                <th>Débit</th>
                <th>Crédit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.datecreation %}{{ entity.datecreation|date('d/m/Y') }}{% endif %}</td>
                <td>{{ entity.libelle }}</td>
                <td>{% if 'debit' == entity.sens %}{{ entity.montant }}{% endif %}</td>
                <td>{% if 'credit' == entity.sens %}{{ entity.montant }}{% endif %}</td>
                <td>
                <ul class="inline-list">
                    <li>
                        <a class="small button" href="{{ path('cptaecriture_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a class="small button" href="{{ path('cptaecriture_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                    <ul class="inline-list">
                        <li>
                            <a class="small button" href="{{ path('cptaecriture_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="small button" href="{{ path('cptaecriture_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
