{% from 'macros/users.html.twig' import avatar %}

<ul>
    {% for article in articles %}
        {% set meta %}
            <!-- Date -->
            <i class="fa fa-calendar"></i>
            &nbsp; {{ article.publishStartDate|localizeddate('short', 'none') }}
            &nbsp;
            <!-- Comments -->
        {% set commentCount = article.topic ? article.topic.postCount : 0 %}
            <i class="fa fa-comments"></i> &nbsp; {{ commentCount }} <span
                class="hidden-xs"></span> &nbsp;
        {% endset %}

        <li>
            <a href="{{ path('app_frontend_article_show', {'name': article.name}) }}">
                {% if article.imagePath %}
                    <!-- Item image -->
                    <img src="{{ article.imagePath | imagine_filter('cmf_thumbnail') }}" alt=""
                         class="img-responsive img-round"/>
                {% endif %}

                <!-- Item title -->
                <span>{{ article.title }}</span><br/>
            </a>

            <div class="meta">
                {{ meta|raw }}
            </div>

            <div class="clearfix"></div>
        </li>
    {% endfor %}
</ul>