{% from 'macros/users.html.twig' import avatar %}

<ul>
    {% for article in articles %}
        {% set user = article.author.user %}
        {% set articleDocument = article.document %}

        {% set meta %}
            <!-- Date -->
            <i class="fa fa-calendar"></i>
            &nbsp; {{ article.publishStartDate|localizeddate('long', 'none') }}
            &nbsp;
            <!-- Comments -->
        {% set commentCount = article.topic ? article.topic.postCount : 0 %}
            <i class="fa fa-comments"></i> &nbsp; {{ commentCount }} <span
                class="hidden-xs"></span> &nbsp;
        {% endset %}



        <li>
            <a href="{{ path('article_content_show', {'name': articleDocument.name}) }}">
                <!-- Item image -->
                <img src="{{ avatar(user) | imagine_filter('thumbnail') }}" alt="" class="img-responsive img-round"/>

                <!-- Item title -->
                <span>{{ article.title }}</span><br/>
            </a>

            <div class="meta">
                {{ meta|raw }}
            </div>

            <div class="clearfix"></div>
        </li>
    {% endfor %}
</ul>