{% from 'macros/users.html.twig' import avatar %}

<ul>
    {% for article in articles %}
        {% set meta %}
            <!-- Date -->
            <i class="fa fa-calendar"></i>
            &nbsp; {{ article.publishStartDate|localizeddate('short', 'none') }}
            &nbsp;
            <!-- Comments -->
        {% set commentCount = article.topic ? article.topic.postCount : 0 %}
            <i class="fa fa-comments"></i> &nbsp; {{ commentCount }} <span
                class="hidden-xs"></span> &nbsp;
        {% endset %}

        {% set filter = 'thumbnail' %}
        {% set imageSrc = asset('assets/frontend/img/product-placeholder.png'| imagine_filter(filter)) %}

        {% if (article.mainImage) %}
            {% set imageSrc = article.mainImage.webPath | imagine_filter(filter) %}
        {% endif %}

        <li>
            <a href="{{ path('app_frontend_article_show', {'slug': article.slug}) }}">

                {% if article.mainImage %}
                    <!-- Item image -->
                    <img src="{{ imageSrc }}" alt="{{ article.title }}"
                         class="img-responsive img-round"/>
                {% endif %}

                <!-- Item title -->
                <span>{{ article.title }}</span><br/>
            </a>

            <div class="meta">
                {{ meta|raw }}
            </div>

            <div class="clearfix"></div>
        </li>
    {% endfor %}
</ul>