{% import 'macro/image.html.twig' as images %}

{% set articlePath = path('app_frontend_article_show', { 'slug': article.slug }) %}

<div class="image-box style-2 mb-20 bordered light-gray-bg">
    <div class="overlay-container overlay-visible">
        {% if article.mainImage is not null %}
            {{ images.render(article.mainImage.webPath, 'magazine_item_wide', article.title) }}
            <a href="{{ articlePath }}" class="overlay-link"><i class="fa fa-link"></i></a>
        {% endif %}
        <div class="overlay-bottom text-left">
            <p class="lead margin-clear">{{ article.title }}</p>
        </div>
    </div>
    <div class="body">
        <p class="small mb-10 text-muted">
            <i class="fa fa-calendar-o pr-1"></i> {{ article.publishStartDate|localizeddate('medium', 'none') }}
            {% if article.mainTaxon is not null %}
                <i class="pl-10 pr-1 fa fa-tag"></i> {{ article.mainTaxon.name }}
            {% endif %}
        </p>
        {% if article.shortDescription is not null %}
            <p>{{ article.shortDescription|truncate(150, true)|striptags|raw }}</p>
        {% endif %}
        <a href="{{ articlePath }}" class="btn btn-default btn-sm margin-clear">{{ 'sylius.ui.view_more'|trans }}<i class="fa fa-arrow-right pl-10"></i></a>
    </div>
</div>
