{% extends "base.html.twig" %}

{% from 'macros/misc.html.twig' import pagination %}
{% from 'macros/sorting.html.twig' import sorting %}

{% set pageTitle = 'app.ui.articles'|trans %}

{% block breadcrumb_content %}
    {{ parent() }}

    {% if taxon is defined %}
        <a href="{{ path('app_frontend_article_index') }}">Articles</a>
        / {{ taxon }}
    {% else %}
        Articles
    {% endif %}
{% endblock %}

{% block container %}
    <div class="col-md-9">
        <div class="pull-right sorting">
            {% set sorting = app.request.get('sorting') %}

            {% set icon = false %}
            {% set currentOrder = null %}

            {% if null == sorting %}
                {% set icon = true %}
                {% set currentOrder = 'desc' %}
            {% endif %}

            {% set routeName =  app.request.get('_route') %}
            {% set routeParams =  app.request.get('_route_params') %}

            Trier
            par {{ sorting(routeName, 'label.published_at'|trans, 'publishStartDate', 'desc', icon, currentOrder, routeParams) }}
            ,
            {{ sorting(routeName, 'label.most_viewed'|trans, 'viewCount', 'desc', null, null, routeParams) }},
            {{ sorting(routeName, 'label.most_commented'|trans, 'topic.postCount', 'desc', null, null, routeParams) }}
        </div>

        <div class="clearfix"></div>

        {% include 'frontend/article/index/_list-4.html.twig' %}

        {{ pagination(articles) }}

    </div>
    <div class="col-md-3">
        {% include 'frontend/article/_sidebar.html.twig' %}
    </div>
{% endblock %}