{% extends "base.html.twig" %}

{% set topic = article.topic %}

{% block body_class %}{{ parent() }} article{% endblock %}

{% set pageTitle = article.title %}

{% block breadcrumb_content %}
    <a href="{{ path('app_frontend_article_index') }}">Articles</a> /
    {% if article.mainTaxon %}
        <a href="{{ path('app_frontend_article_index_by_taxon', {'slug': article.mainTaxon.slug}) }}">{{ article.mainTaxon }}</a> /
    {% endif %}
    {{ article.title }}
{% endblock %}

{% block body -%}
    <div class="col-md-8">
        {% include 'frontend/article/show/_content.html.twig' %}
    </div>
    <div class="col-md-4">
        {% include "frontend/article/show/_sidebar.html.twig" %}
    </div>
{% endblock %}