{% from 'macros/images.html.twig' import image %}

{% set imageBlock %}
    {% if block.hasChildren %}
        {% set imagineBlock = block.children.first %}

        <div class="text-center">
            <div class="container {% if 'left' == block.imagePosition %}no-padding-left{% elseif 'right' == block.imagePosition %}no-padding-right{% endif %}">
                <!-- Image -->
                <!-- Image Box #4 Item -->
                <div class="img-box-4-item">
                    <!-- Image -->
                    {{ image(imagineBlock.image.id, 'top' == block.imagePosition ? 'cmf_block' : 'cmf_block_medium', imagineBlock.label, 'img-responsive', imagineBlock.linkUrl) }}
                   <!-- Image Box #4 Content -->
                    <div class="img-box-4-content">
                        <!-- Paragraph -->
                        <p>{{ imagineBlock.label }}</p>
                    </div>
                </div>
            </div>
        </div>


    {% endif %}
{% endset %}

{% set bodyBlock %}
    <!-- Image Box #5 Content -->
    <div class="img-box-5-content">
        <h4><a href="#">{{ block.title }}</a></h4>
        <div class="bor bg-color"></div>
        {{ block.body|raw }}
    </div>
{% endset %}

<div class="{{ block.class }}">
{% if 'left' == block.imagePosition %}
    <div class="pull-left">
        {{ imageBlock }}
    </div>
    <h4><a href="#">{{ block.title }}</a></h4>
    {{ block.body|raw }}
{% elseif 'right' == block.imagePosition %}
    <div class="pull-right">
        {{ imageBlock }}
    </div>
    <h4><a href="#">{{ block.title }}</a></h4>
    {{ block.body|raw }}
{% else %}

    <h4><a href="#">{{ block.title }}</a></h4>
    <div class="bor bg-color"></div>
    {{ imageBlock }}
    {{ block.body|raw }}

{% endif %}
</div>
<div class="clearfix"></div>
