{% extends "base.html.twig" %}
{% from 'macros/misc.html.twig' import pagination %}
{% from 'macros/posts.html.twig' import blogCommentItem %}
{% import 'macros/buttons.html.twig' as button %}

{% block headline %}
    {{ topic }}
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    <a href="{{ path('app_topic_index') }}">Forum</a> /
    {% if topic.mainTaxon %}
        <a href="{{ path('app_topic_index_by_taxon', { 'permalink': topic.mainTaxon.slug }) }}">{{ topic.mainTaxon }}</a> /
    {% endif %}
    {{ topic }}
{% endblock %}

{% block body -%}
    <div class="col-md-8">

        <div class="container">

            <div class="blog-comments">
                {{ blogCommentItem(topic.mainPost) }}
            </div>

            {% set topicRepliesCount = topic.posts|length %}
            <div class="block-heading-two">
                <h3><span>Réponses</span>
                    <small>({{ topicRepliesCount }})</small>
                </h3>
            </div>

            <div class="blog-comments">
                {% for post in posts %}
                    {{ blogCommentItem(post) }}
                {% endfor %}
            </div>

            {{ pagination(posts) }}

        </div>

    </div>

    <div class="col-md-4">
        {% include 'frontend/post/_sidebar.html.twig' %}
    </div>
{% endblock %}