{% extends "base.html.twig" %}
{% from 'macros/misc.html.twig' import pagination %}
{% from 'macros/posts.html.twig' import blogCommentItem %}
{% import 'macros/buttons.html.twig' as button %}

{% block headline %}
    {{ topic }}
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    <a href="{{ path('app_topic_index') }}">Forum</a> /
    <a href="{{ path('app_topic_index_by_taxon', { 'permalink': topic.mainTaxon.slug }) }}">{{ topic.mainTaxon }}</a> /
    {{ topic }}
{% endblock %}

{% block body -%}
    <div class="container">

        <div class="pull-right">
            {# TODO post reply #}
            {{ button.btn(path('app_post_create_by_topic', {'topicId' : topic.id}), 'Répondre au sujet', null, 'plus-sign', 'btn-color') }}
        </div>
        <div class="clearfix"></div>

        <div class="blog-comments">
            {{ blogCommentItem(topic.mainPost) }}
        </div>

        {% set topicRepliesCount = topic.posts|length %}
        <div class="block-heading-two">
            <h3><span>Réponses</span> <small>({{ topicRepliesCount }})</small></h3>
        </div>

        <div class="blog-comments">
            {% for post in posts %}
                {{ blogCommentItem(post) }}
            {% endfor %}
        </div>

        {{ pagination(posts) }}

    </div>
{% endblock %}