<!-- Modal HTML -->
<div id="refuseStatusModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Je refuse de passer le jeu {{ jeu.libelle }} au statut {{ status | trans }}</strong></h3>
            </div>
            <div class="modal-body">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputCommentRefuse" class="col-sm-2 control-label">Commentaire</label>

                            <div class="col-sm-10">
                                <textarea class="form-control" id="inputCommentRefuse" rows="3"></textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    <a href="#" class="btn btn-danger refuseStatus clearfix" name="Refuser Status" id="refuseStatus"
                                       data-jeu-id="{{ jeu.id }}"
                                       data-status="{{ status }}"
                                       data-action="{{ constant('JDJ\\JediZoneBundle\\Entity\\Notification::ACTION_DECLINE') }}"
                                            >Refuser</a>
                                </div>
                            </div>
                        </div>
                    </form>

            </div>

        </div>
    </div>
</div>