{% import 'SyliusUiBundle:Macro:messages.html.twig' as messages %}
{% import 'SyliusUiBundle:Macro:buttons.html.twig' as buttons %}
{% import 'SyliusUiBundle:Macro:labels.html.twig' as labels %}

<div class="ui segment">
    <h3 class="ui dividing header">{{ 'app.ui.new_articles'|trans }}</h3>

    {% if articles|length > 0 %}
        <table class="ui stackable table" id="customers">
            <thead>
                <th>{{ 'sylius.ui.title'|trans }}</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>
                        {{ article }}
                    </td>
                    <td>
                        {% include 'backend/grid/field/state.html.twig' with {'data': article.status,'options': {'vars': {'labels': 'backend/article/label/state'}}} %}
                    </td>
                    <td>
                        <div class="ui right floated buttons">
                            {{ buttons.edit(path('app_backend_article_update', {'id': article.id})) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ messages.info('sylius.ui.no_results_to_display') }}
    {% endif %}
</div>
