{% extends "base.html.twig" %}
{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    Modifier une page
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    <a href="{{ path('admin_static_content_index') }}">Pages</a> /
    Modifier
{% endblock %}

{% block container %}
    <div class="col-md-12">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ action.update() }}
        {{ form_end(form) }}
    </div>
{% endblock container %}
