{% macro generic(url, message, id, icon, class) %}
    <a class="btn {% if class is not empty %} {{ class }} {% else %}btn-default{% endif %}"
            {% if id is not empty %} id="{{ id }}"{% endif %}
       href="{{ url }}">
        {% if icon is not empty %}
            <i class="glyphicon glyphicon-{{ icon }}"></i>
        {% endif %}
        {{ message|trans }}
    </a>
{% endmacro %}

{% macro btn(url, message, id, icon, class) %}
    {% import _self as buttons %}

    {{ buttons.generic(url, message, id, icon, class) }}
{% endmacro %}

{% macro show(url, message, id, class) %}
    {% import _self as buttons %}

    {% if message is empty %}
        {% set message = 'label.show'|trans %}
    {% endif %}

    {{ buttons.btn(url, message, id, 'book', 'btn-default') }}
{% endmacro %}

{% macro create(url, message, id) %}
    {% import _self as buttons %}

    {% if message is empty %}
        {% set message = 'label.create'|trans %}
    {% endif %}

    {{ buttons.btn(url, message, id, 'plus-sign', 'btn-color') }}
{% endmacro %}

{% macro edit(url, message, id, disabled) %}
    {% import _self as buttons %}

    {% if message is empty %}
        {% set message = 'label.edit'|trans %}
    {% endif %}

    {% if disabled %}
        <span class="btn btn-primary disabled">
            <i class="glyphicon glyphicon-pencil"></i><span>{{ message }}</span>
        </span>
    {% else %}
    {{ buttons.btn(url, message, id, 'pencil', 'btn-primary') }}
    {% endif %}
{% endmacro %}

{% macro delete(url, message, disabled, resourceId = null) %}
    {% if disabled %}
        <span class="btn btn-danger disabled">
            <i class="glyphicon glyphicon-trash"></i><span>{{ message is empty ? 'label.delete'|trans : message }}</span>
        </span>
    {% else %}
        <form action="{{ url }}" name="form" method="post" style="display: inline;">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger btn-confirm" type="submit">
                <i class="glyphicon glyphicon-trash"></i> <span>{{ message is empty ? 'label.delete'|trans : message }}</span>
            </button>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token(resourceId) }}" />
        </form>
    {% endif %}
{% endmacro %}

{% macro patch(url, message, icon, class) %}
    <form action="{{ url }}" method="post" novalidate style="display: inline;">
        <input type="hidden" name="_method" value="PATCH">
        <button class="btn btn-{{ class|default('default') }}" type="submit">
            <i class="glyphicon glyphicon-{{ icon|default('transfer') }}"></i> <span>{{ message|trans }}</span>
        </button>
    </form>
{% endmacro %}