{% macro productStatus(game) %}

    {% set statusLabel = game.status %}
    {% set statusClass = '' %}
    {% set iconClass = '' %}

    {% if constant('App\\Entity\\Product::PUBLISHED') == game.status %}
        {% set statusClass = 'success' %}
        {% set statusLabel = 'label.published'|trans %}
    {% elseif constant('App\\Entity\\Product::STATUS_NEW') == game.status %}
        {% set statusClass = 'color' %}
        {% set statusLabel = 'label.new'|trans %}
    {% elseif constant('App\\Entity\\Product::PENDING_TRANSLATION') == game.status %}
        {% set statusClass = 'danger' %}
        {% set statusLabel = 'label.pending_translation'|trans %}
        {% set iconClass = 'fa fa-flag' %}
    {% elseif constant('App\\Entity\\Product::PENDING_REVIEW') == game.status %}
        {% set statusClass = 'warning' %}
        {% set statusLabel = 'label.pending_review'|trans %}
        {% set iconClass = 'fa fa-book' %}
    {% elseif constant('App\\Entity\\Product::PENDING_PUBLICATION') == game.status %}
        {% set statusClass = 'primary' %}
        {% set statusLabel = 'label.ready_to_published'|trans %}
        {% set iconClass = 'fa fa-clock-o' %}
    {% endif %}

    <span class="label label-{{ statusClass }}">
        <span class="{{ iconClass }}"></span>
        {{ statusLabel }}
    </span>

{% endmacro %}

{% macro articleStatus(article) %}

    {% set statusLabel = article.status %}
    {% set statusClass = '' %}
    {% set iconClass = '' %}

    {% if constant('App\\Entity\\Article::STATUS_PUBLISHED') == article.status %}
        {% set statusClass = 'success' %}
        {% set statusLabel = 'label.published'|trans %}
        {% set iconClass = 'fa fa-check' %}
    {% elseif constant('App\\Entity\\Article::STATUS_NEW') == article.status %}
        {% set statusClass = 'color' %}
        {% set statusLabel = 'label.new'|trans %}
    {% elseif constant('App\\Entity\\Article::STATUS_PENDING_REVIEW') == article.status %}
        {% set statusClass = 'warning' %}
        {% set statusLabel = 'label.pending_review'|trans %}
        {% set iconClass = 'fa fa-book' %}
    {% elseif constant('App\\Entity\\Article::STATUS_PENDING_PUBLICATION') == article.status %}
        {% set statusClass = 'primary' %}
        {% set statusLabel = 'label.ready_to_published'|trans %}
        {% set iconClass = 'fa fa-clock-o' %}
    {% endif %}

    <span class="label label-{{ statusClass }}">
        <span class="{{ iconClass }}"></span>
        {{ statusLabel }}
    </span>

{% endmacro %}

{% macro dealerPriceStatus(dealer_price) %}

    {% set statusLabel = dealer_price.status %}
    {% set statusClass = '' %}
    {% set iconClass = '' %}

    {% if constant('App\\Entity\\DealerPrice::STATUS_AVAILABLE') == dealer_price.status %}
        {% set statusClass = 'success' %}
        {% set statusLabel = 'sylius.ui.available'|trans %}
        {% set iconClass = 'fa fa-check' %}
    {% elseif constant('App\\Entity\\DealerPrice::STATUS_PRE_ORDER') == dealer_price.status %}
        {% set statusClass = 'warning' %}
        {% set statusLabel = 'sylius.ui.pre_order'|trans %}
        {% set iconClass = 'fa fa-book' %}
    {% elseif constant('App\\Entity\\DealerPrice::STATUS_OUT_OF_STOCK') == dealer_price.status %}
        {% set statusClass = 'danger' %}
        {% set statusLabel = 'sylius.ui.out_of_stock'|trans %}
        {% set iconClass = 'fa fa-clock-o' %}
    {% endif %}

    <span class="label label-{{ statusClass }}">
        <span class="{{ iconClass }}"></span>
        {{ statusLabel }}
    </span>

{% endmacro %}

{% macro subscriptionStatus(subscription) %}

    {% import 'macros/modal.html.twig' as modal %}

    {% set statusLabel = subscription.status %}
    {% set statusClass = '' %}
    {% set iconClass = '' %}

    {% if 'in_progress' == subscription.status %}
        {% set statusClass = 'success' %}
        {% set statusLabel = 'label.in_progress'|trans %}
    {% elseif 'waiting_for_payment' == subscription.status %}
        {% set statusClass = 'danger' %}
        {% set statusLabel = 'label.waiting_for_payment'|trans %}
    {% elseif 'waiting_for_installation' == subscription.status %}
        {% set statusClass = 'warning' %}
        {% set statusLabel = 'label.waiting_for_installation'|trans %}
        {% set iconClass = 'fa fa-laptop' %}
    {% elseif 'finished' == subscription.status %}
        {% set statusClass = 'primary' %}
        {% set statusLabel = 'label.finished'|trans %}
    {% endif %}


    {% if ('waiting_for_payment' == subscription.status) %}
        {% set modalId = 'payment' ~ subscription.id %}
        {% set bill = subscription.billProduct.bill %}
        {% set modalBody %}
            {{ render(url('compta_bill_payment_update', {'id': bill.id})) }}
        {% endset %}
        {{ modal.formModal(modalId, 'label.payment'|trans, modalBody) }}

        <!-- Button trigger modal -->
        <a href="#" data-toggle="modal" data-target="#{{ modalId }}">
                             <span class="label label-{{ statusClass }}">
                                 <span
                                         class="glyphicon glyphicon-euro">

                                 </span>
                                 {{ statusLabel|trans }}</span>
        </a>
    {% else %}
        <span class="label label-{{ statusClass }}">
            <span class="{{ iconClass }}"></span>
            {{ statusLabel }}
        </span>
    {% endif %}

{% endmacro %}