{% extends "::base.html.twig" %}
{% from '::macros/misc.html.twig' import pagination %}
{% from '::macros/status.html.twig' import subscriptionStatus as status %}

{% block container %}

    <div class="block-heading-two">
        <h3><span>Liste des abonnements</span></h3>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'label.society'|trans }}</th>
            <th>{{ 'label.product'|trans }}</th>
            <th>{{ 'label.start_at'|trans }}</th>
            <th>{{ 'label.end_at'|trans }}</th>
            <th>{{ 'label.status'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
            <tr>
                <td>{{ subscription.bill.customer.society }}</td>
                <td>{{ subscription.product.name }}</td>
                <td>
                    {% if subscription.startAt %}
                        {{ subscription.startAt|localizeddate('long', 'none') }}
                    {% endif %}
                </td>
                <td>
                    {% if subscription.endAt %}
                        {{ subscription.endAt|localizeddate('long', 'none') }}
                    {% endif %}
                </td>
                <td>{{ status(subscription) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock container %}