{% extends "::base.html.twig" %}
{% from '::macros/misc.html.twig' import pagination %}
{% from '::macros/status.html.twig' import subscriptionStatus as status %}

{% block container %}

    <div class="block-heading-two">
        <h3><span>Liste des abonnements</span></h3>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'label.society'|trans }}</th>
            <th>{{ 'label.product'|trans }}</th>
            <th>{{ 'label.created_at'|trans }}</th>
            <th>{{ 'label.paid_at'|trans }}</th>
            <th>{{ 'label.end_at'|trans }}</th>
            <th>{{ 'label.status'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
            <tr>
                <td>{{ subscription.customer.society }}</td>
                <td>{{ subscription.product.name }}</td>
                <td>{{ subscription.createdAt|localizeddate('long', 'none') }}</td>
                <td>
                    {% if subscription.bill.paidAt %}
                        {{ subscription.bill.paidAt|localizeddate('long', 'none') }}
                    {% endif %}
                </td>
                <td>
                    {% if subscription.endAt %}
                        {{ subscription.endAt|localizeddate('long', 'none') }}
                    {% endif %}
                </td>
                <td>{{ status(subscription) }}</td>
                <td class="text-right">
                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-default" href="{{ path('compta_bill_show', { 'bill': subscription.bill.id }) }}">
                                <span class="glyphicon glyphicon-book"></span> Facture
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% block Pagination %}
        <div class="pagination-wrapper">
            <div class="pagination-bottom">
                {{ pagination(subscriptions) }}
            </div>
        </div>
    {% endblock %}

{% endblock container %}