{% extends "layout/backend_index.html.twig" %}
{% from '::macros/misc.html.twig' import pagination %}
{% from '::macros/status.html.twig' import subscriptionStatus as status %}
{% from '::macros/sorting.html.twig' import sorting %}

{% set sorting = app.request.get('sorting') %}

{% set icon = false %}
{% set currentOrder = null %}

{% if null == sorting %}
    {% set icon = true %}
    {% set currentOrder = 'desc' %}
{% endif %}

{% block headline %}
    Liste des abonnements
{% endblock headline %}

{% block breadcrumb_content %}
    <a href="{{ path('compta_home') }}">Comptabilité</a> /
    Abonnements
{% endblock breadcrumb_content %}

{% block new_entity_button %}
{% endblock new_entity_button %}

{% block list %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ sorting('compta_subscription', 'label.society'|trans, 'society', 'asc') }}</th>
            <th>{{ sorting('compta_subscription', 'label.product'|trans, 'product', 'asc') }}</th>
            <th>{{ sorting('compta_subscription', 'label.created_at'|trans, 'createdAt', 'desc', icon, currentOrder) }}</th>
            <th>{{ sorting('compta_subscription', 'label.paid_at'|trans, 'paidAt', 'asc') }}</th>
            <th>{{ sorting('compta_subscription', 'label.end_at'|trans, 'endAt', 'asc') }}</th>
            <th>{{ sorting('compta_subscription', 'label.status'|trans, 'status', 'asc') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
            <tr>
                <td>{{ subscription.customer.society }}</td>
                <td>{{ subscription.product.name }}</td>
                <td>{{ subscription.createdAt|localizeddate('long', 'none') }}</td>
                <td>
                    {% if subscription.bill.paidAt %}
                        {{ subscription.bill.paidAt|localizeddate('long', 'none') }}
                    {% endif %}
                </td>
                <td>
                    {% if subscription.endAt %}
                        {{ subscription.endAt|localizeddate('long', 'none') }}
                    {% endif %}
                </td>
                <td>{{ status(subscription) }}</td>
                <td class="text-right">
                    <ul class="list-inline">
                        {% if ('waiting_for_installation' == subscription.status) %}
                            <li>
                                <a class="btn btn-color"
                                   href="{{ path('compta_subscription_start', { 'id': subscription.id }) }}">
                                    <span class="glyphicon glyphicon-play"></span> Démarrer
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="btn btn-default"
                               href="{{ path('compta_bill_show', { 'id': subscription.billProduct.bill.id }) }}">
                                <span class="glyphicon glyphicon-book"></span> Facture
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock list %}

{% block Pagination %}
    <div class="pagination-wrapper">
        <div class="pagination-bottom">
            {{ pagination(subscriptions) }}
        </div>
    </div>
{% endblock %}