<div class="ui fluid labeled three icon item menu">
    <a href="{{ path('sylius_admin_product_index') }}" class="item">
        <i class="cubes icon"></i>
        {{ 'sylius.ui.products'|trans }}
    </a>
    <a href="{{ path('app_backend_article_index') }}" class="item">
        <i class="newspaper icon"></i>
        {{ 'app.ui.articles'|trans }}
    </a>
    <a href="{{ path('sylius_backend_customer_index') }}" class="item">
        <i class="users icon"></i>
        {{ 'sylius.ui.customers'|trans }}
    </a>
</div>
