{% extends 'base.html.twig' %}
{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    Modifier un mode de paiement
{% endblock headline %}

{% block breadcrumb_content %}
    <a href="{{ path('compta_home') }}">Comptabilité</a> /
    <a href="{{ path('compta_payment_method') }}">Modes de paiement</a> /
    Modifier
{% endblock breadcrumb_content %}

{% block container -%}
    {{ form_start(form) }}
    {% include 'compta/payment-method/_form.html.twig' %}
    {{ action.update() }}
    {{ form_end(form) }}
{% endblock container %}