{% extends "::base.html.twig" %}

{% block container %}

    <div class="block-heading-two">
        <ul class="list-inline pull-right">
            <li>
                <a class="btn btn-primary" href="{{ path('compta_payment_method_new') }}">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Créer un mode de paiement
                </a>
            </li>
        </ul>
        <h3><span>Liste des modes de paiement</span></h3>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'label.name'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for paymentMethod in paymentMethods %}
            <tr>
                <td>{{ paymentMethod.name }}</td>
                <td class="text-right">
                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-primary" href="{{ path('compta_payment_method_edit', { 'paymentMethod': paymentMethod.id }) }}">
                                <span class="glyphicon glyphicon-pencil"></span> Modifier
                            </a>
                        </li>
                        <li>
                            {{ form_start(deleteForms[paymentMethod.id]) }}
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span> Supprimer
                            </button>
                            {{ form_end(deleteForms[paymentMethod.id]) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock container %}