{% extends 'base.html.twig' %}
{% import 'macros/buttons.html.twig' as button %}

{% block container %}

    <div class="block-heading-two">
        <ul class="list-inline pull-right">
            <li>
                {{ button.create(path('compta_payment_method_new'), 'Créer un mode de paiement') }}
            </li>
        </ul>
        <h3><span>Liste des modes de paiement</span></h3>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'label.name'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for paymentMethod in paymentMethods %}
            <tr>
                <td>{{ paymentMethod.name }}</td>
                <td class="text-right">
                    <ul class="list-inline">
                        <li>
                            {{ button.edit(path('compta_payment_method_edit', { 'paymentMethod': paymentMethod.id })) }}
                        </li>
                        <li>
                            {{ button.delete(path('compta_payment_method_delete', { 'paymentMethod': paymentMethod.id })) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock container %}