{% from 'macros/users.html.twig' import avatar  %}

<div class="top-bar">
    <div class="container">

        <!-- Contact starts -->
        <div class="tb-contact pull-left">
            <!-- Email -->
            <i class="fa fa-envelope color"></i> &nbsp; <a
                    href="{{ path('app_frontend_contact_request_create') }}">{{ 'label.contact_us'|trans }}</a>
        </div>
        <!-- Contact ends -->

        <!-- Login form starts -->
        {% if not app.user %}
            <div class="tb-shopping-cart pull-right ">
                <!-- Link with badge -->
                Vous avez déjà un compte ? <a href="{{ path('sylius_shop_login') }}"><i
                            class="fa fa-user color"></i> Connexion</a>
            </div>
        {% endif %}
        <!-- Login form ends -->

        <!-- Alarm notification starts -->
        {% if app.user %}
            {% include 'layout/top-bar/_alarm-notification.html.twig' %}
        {% endif %}
        <!-- Alarm notification ends -->

        <!-- user starts -->
        <div class="tb-language dropdown pull-right">
            {% if app.user %}
                {% set user = app.user %}

                <a href="#" data-toggle="dropdown"><img src="{{ avatar(user) | imagine_filter('thumbnail') }} " class="avatar img-round" /> {{ user }} <i
                            class="fa fa-angle-down color"></i></a>
                <!-- Dropdown menu with languages -->
                <ul class="dropdown-menu dropdown-mini" role="menu">
                    <li><a href="{{ path('sylius_frontend_account_dashboard') }}">{{ 'sylius.ui.my_account'|trans }}</a></li>
                    <li><a href="{{ path('app_frontend_account_product_list_index') }}">{{ 'app.ui.my_game_lists'|trans }}</a></li>
                    <li><a href="{{ path('app_frontend_account_games_library') }}">{{ 'app.ui.my_virtual_game_library'|trans }}</a></li>
                    <li><a href="{{ path('app_frontend_account_game_play_index') }}">{{ 'app.ui.my_game_plays'|trans }}</a></li>
                    <li><a href="{{ path('app_frontend_logout') }}">{{ 'sylius.ui.logout'|trans }}</a></li>
                </ul>
            {% endif %}
        </div>
        <!-- user ends -->

        <!-- dashboard starts -->
        {% if is_granted('ROLE_DASHBOARD') %}
            <div class="tb-language pull-right">
                <a href="{{ path('app_backend_dashboard') }}">
                    <span class="glyphicon glyphicon-cog"></span>
                    Administration</a>
            </div>
        {% endif %}
        <!-- dashboard ends -->

        <!-- Search section for responsive design -->
        <div class="tb-search pull-left">
            <a href="#" class="b-dropdown"><i class="fa fa-search square-2 rounded-1 bg-color white"></i></a>

            <div class="b-dropdown-block">
                <form role="form" action="{{ path('app_frontend_search_index') }}">
                    <!-- Input Group -->
                    <div class="input-group">
                        <input type="text" name="query" class="form-control mainSearch" placeholder="Recherche...">
									<span class="input-group-btn">
										<button class="btn btn-color" type="submit">Rechercher</button>
									</span>
                    </div>
                </form>
            </div>
        </div>
        <!-- Search section ends -->

        <!-- Social media starts -->
        <div class="tb-social pull-right">
            <div class="brand-bg text-right">
                <!-- Brand Icons -->
                <a href="https://www.facebook.com/jedisjeux" target="_blank" class="facebook"><i
                            class="fa fa-facebook square-2 rounded-1"></i></a>
                <a href="https://twitter.com/jedisjeux" class="twitter"><i class="fa fa-twitter square-2 rounded-1"></i></a>
                <a href="https://www.youtube.com/user/jedisjeux" class="youtube"><i class="fa fa-youtube square-2 rounded-1"></i></a>
            </div>
        </div>
        <!-- Social media ends -->

        <div class="clearfix"></div>
    </div>
</div>