<div class="navi">
    <div class="container">
        <div class="navy">
            <ul>
                <!-- Main menu -->
                <li>
                    <a href="{{ path('jdj_web_homepage') }}">Accueil</a>
                </li>

                {#<li><a href="#">Articles</a></li>#}

                {#<li><a href="{{ path('jeu') }}">Jeux</a>#}
                {#<ul>#}
                {#<li><a href="{{ path('jeu') }}">Liste complète</a></li>#}
                {#</ul>#}
                {#</li>#}

                {#<li>#}
                {#<a href="#">Ludotheque</a>#}
                {#</li>#}
                {#<li>#}
                {#<a href="#">Forum</a>#}
                {#</li>#}

                {#<li>#}
                {#<a href="about-us-one.html">A Propos</a>#}
                {#</li>#}
                {#<li>#}
                {#<a href="contact-us-one.html">Contactez-Nous</a>#}
                {#</li>#}

                {% if is_granted('ROLE_OFFICE') %}
                    <li>
                        <a href="{{ path('compta_home') }}">Compta</a>

                        <ul>
                            <li>
                                <a href="{{ path('compta_book_entry') }}">Ecritures comptables</a>
                            </li>
                            <li>
                                <a href="{{ path('compta_bill') }}">Factures</a>
                            </li>
                            <li>
                                <a href="{{ path('compta_customer') }}">Clients</a>
                            </li>
                            <li>
                                <a href="{{ path('compta_subscription') }}">Abonnements</a>
                            </li>
                            <li>
                                <a href="{{ path('compta_product') }}">Produits</a>
                            </li>
                            <li>
                                <a href="{{ path('compta_payment_method') }}">Modes de paiement</a>
                            </li>
                            <li>
                                <a href="{{ path('compta_dealer') }}">Distributeurs</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>