{% from 'macros/users.html.twig' import avatar  %}

<div class="top-bar">
    <div class="container">

        <!-- Contact starts -->
        <div class="tb-contact pull-left">
            <!-- Email -->
            <i class="fa fa-envelope color"></i> &nbsp; <a
                    href="mailto:jedisjeux@jedisjeux.net">jedisjeux@jedisjeux.net</a>
        </div>
        <!-- Contact ends -->

        <!-- Login form starts -->
        {% if not app.user %}
            {% if app.request.attributes.get('_route') != 'fos_user_security_login' %}
                <div class="tb-shopping-cart pull-right ">
                    <!-- Link with badge -->
                    Vous avez déjà un compte ? <a href="#" id="topBarLoginDropdown" class="b-dropdown"><i
                                class="fa fa-user color"></i> Connexion</a>
                    <!-- Dropdown content with item details -->
                    <div class="b-dropdown-block bloc-login">
                        <!-- Heading -->
                        <h4><i class="fa fa-user color"></i> Connexion</h4>
                        {{ render(url('user_login_form'))}}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <!-- Login form ends -->

        <!-- user starts -->
        <div class="tb-language dropdown pull-right">
            {% if app.user %}
                {% set user = app.security.getToken().getUser() %}

                <a href="#" data-toggle="dropdown"><img src="{{ avatar(user) | imagine_filter('thumbnail') }} " class="avatar img-round" /> {{ user }} <i
                            class="fa fa-angle-down color"></i></a>
                <!-- Dropdown menu with languages -->
                <ul class="dropdown-menu dropdown-mini" role="menu">
                    <li><a href="#">Mon compte</a></li>
                    <li><a href="{{ path('my_collections') }}">Mes listes</a></li>
                    <li><a href="#">Mes parties</a></li>
                    <li><a href="{{ path('sylius_user_security_logout') }}">Déconnexion</a></li>
                </ul>
            {% endif %}
        </div>
        <!-- user ends -->

        <!-- administration starts -->
        {% if is_granted('ROLE_ADMIN') %}
            <div class="tb-language pull-right">
                <a href="{{ path('admin_homepage') }}">
                    <span class="glyphicon glyphicon-cog"></span>
                    Administration</a>
            </div>
        {% endif %}
        <!-- administration ends -->

        <!-- Search section for responsive design -->
        <div class="tb-search pull-left">
            <a href="#" class="b-dropdown"><i class="fa fa-search square-2 rounded-1 bg-color white"></i></a>

            <div class="b-dropdown-block">
                <form role="form">
                    <!-- Input Group -->
                    <div class="input-group">
                        <input type="text" class="form-control mainSearch" placeholder="Type Something">
									<span class="input-group-btn">
										<button class="btn btn-color" type="button">Search</button>
									</span>
                    </div>
                </form>
            </div>
        </div>
        <!-- Search section ends -->

        <!-- Social media starts -->
        <div class="tb-social pull-right">
            <div class="brand-bg text-right">
                <!-- Brand Icons -->
                <a href="https://www.facebook.com/jedisjeux" target="_blank" class="facebook"><i
                            class="fa fa-facebook square-2 rounded-1"></i></a>
                <a href="#" class="twitter"><i class="fa fa-twitter square-2 rounded-1"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus square-2 rounded-1"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin square-2 rounded-1"></i></a>
                <a href="#" class="pinterest"><i class="fa fa-pinterest square-2 rounded-1"></i></a>
            </div>
        </div>
        <!-- Social media ends -->

        <div class="clearfix"></div>
    </div>
</div>