{% extends "::base.html.twig" %}

{% block headline %}
    Administration
{% endblock %}

{% block breadcrumb_content %}
    <a href="{{ path('admin_homepage') }}">Administration</a>
{% endblock %}

{% block container %}

    <div class="container">
        <div class="col-md-12">
            <div class="block-heading-two">
                <h3><span>Jeux</span></h3>
            </div>
        </div>
    </div>

    <!-- Icon Box #1 Starts-->
    <div class="icon-box-1 text-center">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box One Item -->
                    <div class="icon-box-1-item">
                        <!-- Icon Box One Icon -->
                        <a href="{{ path('sylius_admin_product_index') }}"><i class="fa fa-puzzle-piece purple"></i></a>
                        <!-- Icon Box One Headeing -->
                        <h4><a href="{{ path('sylius_admin_product_index') }}">Jeux</a></h4>
                        <!-- Icon Box One Paragraph -->
                        <p>Les fiches de jeu.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box One Item -->
                    <div class="icon-box-1-item">
                        <!-- Icon Box One Icon -->
                        <a href="{{ path('app_admin_person_index') }}"><i class="fa fa-user black"></i></a>
                        <!-- Icon Box One Headeing -->
                        <h4><a href="{{ path('app_admin_person_index') }}">Personnes</a></h4>
                        <!-- Icon Box One Paragraph -->
                        <p>Les auteurs, éditeurs et illustrateurs.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box One Item -->
                    <div class="icon-box-1-item">
                        <!-- Icon Box One Icon -->
                        <a href="{{ path('sylius_backend_taxon_index') }}"><i class="fa fa-folder orange"></i></a>
                        <!-- Icon Box One Headeing -->
                        <h4><a href="{{ path('sylius_backend_taxon_index') }}">Catégorisation</a></h4>
                        <!-- Icon Box One Paragraph -->
                        <p>Les mécanismes de jeu.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box One Item -->
                    <div class="icon-box-1-item">
                        <!-- Icon Box One Icon -->
                        <a href="{{ path('sylius_admin_user_index') }}"><i class="fa fa-users green"></i></a>
                        <!-- Icon Box One Headeing -->
                        <h4><a href="{{ path('sylius_admin_user_index') }}">Utilisateurs</a></h4>
                        <!-- Icon Box One Paragraph -->
                        <p>Les utilisateurs du site.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-md-12">
            <div class="block-heading-two">
                <h3><span>Contenu</span></h3>
            </div>
        </div>
    </div>

    <!-- Icon Box #1 Starts-->
    <div class="icon-box-1 text-center">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box One Item -->
                    <div class="icon-box-1-item">
                        <!-- Icon Box One Icon -->
                        <a href="{{ path('admin_page_index') }}"><i class="glyphicon glyphicon-file black"></i></a>
                        <!-- Icon Box One Headeing -->
                        <h4><a href="{{ path('admin_page_index') }}">Pages</a></h4>
                        <!-- Icon Box One Paragraph -->
                        <p>Les pages "statiques" du site.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box One Item -->
                    <div class="icon-box-1-item">
                        <!-- Icon Box One Icon -->
                        <a href="{{ path('admin_block_index') }}"><i
                                    class="glyphicon glyphicon-th-large"></i></a>
                        <!-- Icon Box One Headeing -->
                        <h4><a href="{{ path('admin_block_index') }}">Blocs</a></h4>
                        <!-- Icon Box One Paragraph -->
                        <p>Les blocs éditables du site.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock container %}