{% extends "::base.html.twig" %}
{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    Modifier un thème
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    <a href="{{ path('admin_theme_index') }}">Thèmes</a> /
    Modifier
{% endblock %}

{% block container %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ action.update() }}
    {{ form_end(form) }}
{% endblock container %}
