{% from 'macros/users.html.twig' import avatar %}
{% from 'macros/topics.html.twig' import getPath %}

<ul>
    {% for topic in topics %}
        {% set user = topic.author.user %}

        {% set meta %}
            <!-- Date -->
            <i class="fa fa-calendar"></i>
            &nbsp; {{ topic.createdAt|localizeddate('medium', 'none') }}
            &nbsp;
            <!-- Comments -->
        {% set commentCount = topic.postCount %}
            <i class="fa fa-comments"></i> &nbsp; {{ commentCount }} <span
                class="hidden-xs"></span> &nbsp;
        {% endset %}


        <li>
            <a href="{{ getPath(topic) }}">
                <!-- Item image -->
                <img src="{{ avatar(user) | imagine_filter('thumbnail') }}" alt="" class="img-responsive img-round"/>

                <!-- Item title -->
                <span>{{ topic.title }}</span><br/>
            </a>

            <div class="meta">
                {{ meta|raw }}
            </div>

            <div class="clearfix"></div>
        </li>
    {% endfor %}
</ul>