{% from 'macros/users.html.twig' import avatar %}

<ul>
    {% for topic in topics %}
        {% set user = topic.createdBy %}

        {% set meta %}
            <!-- Date -->
            <i class="fa fa-calendar"></i>
            &nbsp; {{ topic.createdAt|localizeddate('long', 'none') }}
            &nbsp;
            <!-- Comments -->
        {% set commentCount = topic.posts|length %}
            <i class="fa fa-comments"></i> &nbsp; {{ commentCount }} <span
                class="hidden-xs"></span> &nbsp;
        {% endset %}


        <li>
            {% if topic.gamePlay %}
                {% set linkUrl = path('app_game_play_show', {'productSlug': topic.gamePlay.product.slug, 'id': topic.gamePlay.id }) %}
            {% else %}
                {% set linkUrl = path('app_post_index_by_topic', {'topicId': topic.id}) %}
            {% endif %}

            <a href="{{ linkUrl }}">
                <!-- Item image -->
                <img src="{{ avatar(user) | imagine_filter('thumbnail') }}" alt="" class="img-responsive img-round"/>

                <!-- Item title -->
                <span>{{ topic.title }}</span><br/>
            </a>

            <div class="meta">
                {{ meta|raw }}
            </div>

            <div class="clearfix"></div>
        </li>
    {% endfor %}
</ul>