{% extends "base.html.twig" %}

{% block body -%}
    <h1>Modifier mon avis</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('user_review') }}">
                Back to the list
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit, {'attr': {'class': 'small button'}, 'label': 'Supprimer'}) }}
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
