{% extends "JDJWebBundle::layout.html.twig" %}

{% block body -%}

    {% include "JDJUserReviewBundle:UserReview:partial/_show.html.twig" with {'entity': entity} %}

    <ul class="record_actions">
        <li>
            <a href="{{ path('user_review') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a class="small button edit" href="{{ path('user_review_edit', { 'id': entity.id }) }}">
                Modifier
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit, {'attr': {'class': 'small button'}, 'label': 'Supprimer'}) }}
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}