{% extends "layout/backend_index.html.twig" %}
{% from '::macros/misc.html.twig' import pagination %}
{% import 'macros/buttons.html.twig' as button %}
{% from 'macros/sorting.html.twig' import sorting %}
{% import 'macros/modal.html.twig' as modal %}

{% set sorting = app.request.get('sorting') %}

{% set icon = false %}
{% set currentOrder = null %}

{% if null == sorting %}
    {% set icon = true %}
    {% set currentOrder = 'desc' %}
{% endif %}

{% block headline %}
    Liste des utilisateurs
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    Utilisateurs
{% endblock %}

{% block new_entity_button %}
    <a class="btn btn-primary" href="{{ path('admin_user_new') }}">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Nouvel utilisateur
    </a>
{% endblock new_entity_button %}

{% block list %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'label.name'|trans }}</th>
            <th>{{ sorting('admin_user_index', 'label.created_at'|trans, 'created', 'desc', icon, currentOrder) }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user }}</td>
                <td>{{ user.created|localizeddate('long', 'none') }}</td>
                <td class="text-right">
                    <ul class="list-inline text-nowrap">
                        {#<li>#}
                            {#{{ button.show(path('user_show', { 'id': user.id, 'slug': user.slug })) }}#}
                        {#</li>#}
                        <li>
                            {{ button.edit(path('admin_user_edit', { 'id': user.id })) }}
                        </li>
                        <li>
                            {{ button.delete(path('admin_user_delete', { 'id': user.id })) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock list %}

{% block Pagination %}
    <div class="pagination-wrapper">
        <div class="pagination-bottom">
            {{ pagination(users) }}
        </div>
    </div>
{% endblock %}