{% from 'macro/status.html.twig' import dealerPriceStatus as status %}
{% import 'macro/image.html.twig' as images %}

{% if (dealer_prices.currentPageResults|length > 0) %}

    {% for dealer_price in dealer_prices %}
        {% set dealer = dealer_price.dealer %}
            <div class="overlay-container mb-10">
                {% if dealer.image %}
                    {{ images.render(dealer.image.webPath, 'small_height_fixed', dealer.name) }}
                {% endif %}
                <a href="{{ dealer_price.url }}" class="overlay-link small">
                    <i class="fa fa-link"></i>
                </a>
            </div>
            <h6 class="media-heading"><a href="{{ dealer_price.url }}">{{ (dealer_price.price/100)|localizedcurrency('EUR') }}</a></h6>
            <p>{{ status(dealer_price) }}</p>
    {% endfor %}

{% endif %}
