<tr>
    <td>{{ entity.slug }}</td>
    <td>
        {% if entity.avatar.getWebPath is defined %}
        <img src="{{ entity.avatar.webPath | imagine_filter('thumbnail') }}" alt="" class="img-responsive img-thumbnail" />
        {% endif %}
    </td>
    <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td class="text-right">
        <ul class="list-inline">
            <li>
                <a class="btn btn-primary" href="{{ path('espace_personnel_edit', { 'id': entity.id }) }}">
                    <span class="glyphicon glyphicon-pencil"></span> Modifier
                </a>
            </li>
            <li>
                {{ form_start(deleteForms[entity.id]) }}
                {{ form_widget(deleteForms[entity.id].submit, {'attr': {'class': 'btn btn-danger'}, 'label': 'Supprimer'}) }}
                {{ form_end(deleteForms[entity.id]) }}
            </li>
        </ul>

    </td>
</tr>