<div class="row">
    {{ form_start(form) }}
    {% if form_errors(form) %}
        <div data-alert class="alert-box alert round">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="large-12">
        <div class="row">
            <div class="small-3 columns">
                <label for="right-label" class="left inline">{{ form_label(form.nom) }}</label>
            </div>
            <div class="error">
                {{ form_errors(form.nom) }}
            </div>
            <div class="small-9 columns">
                {{ form_widget(form.nom) }}
            </div>
        </div>
    </div>

    <div class="large-12">
        <div class="row">
            <div class="small-3 columns">
                <label for="right-label" class="left inline">{{ form_label(form.score) }}</label>
            </div>
            <div class="error">
                {{ form_errors(form.score) }}
            </div>
            <div class="small-9 columns">
                {{ form_widget(form.score) }}
            </div>
        </div>
    </div>

    {{ form_widget(form.partie) }}

    {{ form_widget(form._token) }}
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}
</div>
