{% macro productStatus(game) %}

    {% set statusLabel = game.status %}
    {% set statusClass = '' %}
    {% set iconClass = '' %}

    {% if constant('AppBundle\\Entity\\Product::PUBLISHED') == game.status %}
        {% set statusClass = 'success' %}
        {% set statusLabel = 'label.published'|trans %}
    {% elseif constant('AppBundle\\Entity\\Product::STATUS_NEW') == game.status %}
        {% set statusClass = 'color' %}
        {% set statusLabel = 'label.new'|trans %}
    {% elseif constant('AppBundle\\Entity\\Product::PENDING_TRANSLATION') == game.status %}
        {% set statusClass = 'danger' %}
        {% set statusLabel = 'label.pending_translation'|trans %}
        {% set iconClass = 'fa fa-flag' %}
    {% elseif constant('AppBundle\\Entity\\Product::PENDING_REVIEW') == game.status %}
        {% set statusClass = 'warning' %}
        {% set statusLabel = 'label.pending_review'|trans %}
        {% set iconClass = 'fa fa-book' %}
    {% elseif constant('AppBundle\\Entity\\Product::PENDING_PUBLICATION') == game.status %}
        {% set statusClass = 'primary' %}
        {% set statusLabel = 'label.ready_to_published'|trans %}
        {% set iconClass = 'fa fa-clock-o' %}
    {% endif %}

    <span class="badge badge-{{ statusClass }}">
        <span class="{{ iconClass }}"></span>
        {{ statusLabel }}
    </span>

{% endmacro %}

{% macro articleStatus(article) %}

    {% set statusLabel = article.status %}
    {% set statusClass = '' %}
    {% set iconClass = '' %}

    {% if constant('AppBundle\\Entity\\Article::STATUS_PUBLISHED') == article.status %}
        {% set statusClass = 'success' %}
        {% set statusLabel = 'label.published'|trans %}
        {% set iconClass = 'fa fa-check' %}
    {% elseif constant('AppBundle\\Entity\\Article::STATUS_NEW') == article.status %}
        {% set statusClass = 'color' %}
        {% set statusLabel = 'label.new'|trans %}
    {% elseif constant('AppBundle\\Entity\\Article::STATUS_PENDING_REVIEW') == article.status %}
        {% set statusClass = 'warning' %}
        {% set statusLabel = 'label.pending_review'|trans %}
        {% set iconClass = 'fa fa-book' %}
    {% elseif constant('AppBundle\\Entity\\Article::STATUS_PENDING_PUBLICATION') == article.status %}
        {% set statusClass = 'primary' %}
        {% set statusLabel = 'label.ready_to_published'|trans %}
        {% set iconClass = 'fa fa-clock-o' %}
    {% endif %}

    <span class="badge badge-{{ statusClass }}">
        <span class="{{ iconClass }}"></span>
        {{ statusLabel }}
    </span>

{% endmacro %}

{% macro dealerPriceStatus(dealer_price) %}

    {% set statusLabel = dealer_price.status %}
    {% set statusClass = '' %}
    {% set iconClass = '' %}

    {% if constant('AppBundle\\Entity\\DealerPrice::STATUS_AVAILABLE') == dealer_price.status %}
        {% set statusClass = 'success' %}
        {% set statusLabel = 'sylius.ui.available'|trans %}
        {% set iconClass = 'fa fa-check' %}
    {% elseif constant('AppBundle\\Entity\\DealerPrice::STATUS_PRE_ORDER') == dealer_price.status %}
        {% set statusClass = 'warning' %}
        {% set statusLabel = 'sylius.ui.pre_order'|trans %}
        {% set iconClass = 'fa fa-book' %}
    {% elseif constant('AppBundle\\Entity\\DealerPrice::STATUS_OUT_OF_STOCK') == dealer_price.status %}
        {% set statusClass = 'danger' %}
        {% set statusLabel = 'sylius.ui.out_of_stock'|trans %}
        {% set iconClass = 'fa fa-clock-o' %}
    {% endif %}

    <span class="badge badge-{{ statusClass }}">
        <span class="{{ iconClass }}"></span>
        {{ statusLabel }}
    </span>

{% endmacro %}
