{% macro render_comments(topic) %}
    {% import 'macro/image.html.twig' as images %}

    {% for post in topic.posts %}
        {% set avatar = post.author.avatar %}
        {% set avatarPath = avatar is not null ? avatar.webPath : '/assets/frontend/images/avatar-placeholder.png' %}

        <!-- comment start -->
        <div class="comment clearfix">
            {% if app.user and post.author.id == app.user.customer.id %}
                <form class="form-inline text-right" action="{{ path('app_frontend_post_delete', { 'id': post.id }) }}" name="form" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-default btn-confirm" type="submit" title="{{ 'label.delete'|trans }}">
                        <i class="fa fa-remove"></i>
                    </button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token(post.id) }}" />
                </form>
            {% endif %}
            <div class="comment-avatar">
                {{ images.render(avatarPath, 'thumbnail', topic.author, 'rounded-circle') }}
            </div>
            <header>
                <div class="comment-meta pv-20">By <a href="#">{{ post.author }}</a> | {{ post.createdAt|localizeddate('medium', 'short') }}</div>
            </header>
            <div class="comment-content">
                <div class="comment-body clearfix">
                    {{ post.body|raw }}
                    <a href="#" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
                </div>
            </div>
        </div>
        <!-- comment end -->
    {% endfor %}
{% endmacro %}
