{% macro render_comments(topic, posts) %}
    {% import 'macro/image.html.twig' as images %}
    {% import _self as self %}

    {% for post in posts %}
        {% set avatar = post.author.avatar %}
        {% set avatarPath = avatar is not null ? avatar.webPath : '/assets/frontend/images/avatar-placeholder.png' %}

        <!-- comment start -->
        <div class="comment clearfix">
            {% if app.user and post.author.id == app.user.customer.id %}
                <div class="float-right mb-10">
                    <div class="btn-group">
                        <a class="btn btn-default" href="{{ self.getUpdatePath(topic, post) }}"><i class="fa fa-pencil"></i></a>
                    </div>

                    <div class="btn-group">
                        <form class="form-inline" action="{{ path('app_frontend_post_delete', { 'id': post.id }) }}" name="form" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger btn-confirm" type="submit" title="{{ 'label.delete'|trans }}">
                                <i class="fa fa-remove"></i>
                            </button>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token(post.id) }}" />
                        </form>
                    </div>
                </div>
            {% endif %}
            <div class="comment-avatar">
                {{ images.render(avatarPath, 'thumbnail', topic.author, 'rounded-circle') }}
            </div>
            <header>
                <div class="comment-meta pv-20">By <a href="#">{{ post.author }}</a> | {{ post.createdAt|localizeddate('medium', 'short') }}</div>
            </header>
            <div class="comment-content">
                <div class="comment-body clearfix">
                    {{ post.body|raw }}
                    {#<a href="#" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>#}
                </div>
            </div>
        </div>
        <!-- comment end -->
    {% endfor %}
{% endmacro %}

{% macro getPath(topic, page) %}{% spaceless %}
    {% if topic.gamePlay %}
        {% set linkUrl = path('app_frontend_game_play_show', {'productSlug': topic.gamePlay.product.slug, 'id': topic.gamePlay.id }) %}
    {% elseif topic.article %}
        {% set linkUrl = path('app_frontend_article_show', {'slug': topic.article.slug}) %}
    {% else %}
        {% set linkUrl = path('app_frontend_post_index_by_topic', {'topicId': topic.id, 'page': page}) %}
    {% endif %}

    {{ linkUrl }}
{% endspaceless %}{% endmacro %}

{% macro getUpdatePath(topic, post) %}{% spaceless %}
    {% if topic.article is not null %}
        {% set updatePath = path('app_frontend_article_post_update', { 'id': post.id, 'articleSlug': topic.article.slug }) %}
    {% elseif topic.gamePlay is not null %}
        {% set updatePath = path('app_frontend_game_play_post_update', { 'id': post.id, 'gamePlayId': topic.gamePlay.id }) %}
    {% else %}
        {% set updatePath = path('app_frontend_post_update', { 'id': post.id }) %}
    {% endif %}

    {{ updatePath }}
{% endspaceless %}{% endmacro %}
