{% from "JDJJeuBundle:Jeu:macros.html.twig" import joueurCount %}

{% set jeuHref = path('jeu_show', {'id': jeu.id, 'slug': jeu.slug}) %}

<!-- Image Box #4 Item -->
<div class="img-box-4-item">
    <!-- Image -->
    <div class="img-container">
        <a href="{{ jeuHref }}">
            {#<img
                    src="http://www.jedisjeux.net/img/800/{{ jeu.imageCouverture }}" alt="" class="img-responsive">#}
            <img src="{{ jeu.imageCouverture.webPath }}" alt="" class="img-responsive" />
        </a>
    </div>
    <!-- Image Box #4 Content -->
    <div class="img-box-4-content">
        <!-- Icon -->
        <a href="#"><i class="fa {{ faImg }} {{ bg }}"></i></a>
        <!-- Heading -->
        <h4><a href="{{ jeuHref }}">{{ jeu.libelle }}</a></h4>
        <!-- Border -->
        <div class="bor {{ bg }}"></div>
        <!-- Paragraph -->
        <p>
            {{ joueurCount(jeu) }}<br/>
            à partir de {{ jeu.ageMin }} ans<br/>
        </p>
    </div>
</div>