{% extends 'layout/backend_index.html.twig' %}
{% from 'macros/misc.html.twig' import pagination %}
{% import 'macros/buttons.html.twig' as button %}
{% from 'macros/sorting.html.twig' import sorting %}
{% import 'macros/modal.html.twig' as modal %}
{% from 'macros/status.html.twig' import productStatus as status %}
{% from 'macros/images.html.twig' import image %}

{% set sorting = app.request.get('sorting') %}

{% block headline %}
    Liste des variants
{% endblock %}

{% block form_filter %}
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    <a href="{{ path('sylius_admin_product_index') }}">Jeux</a> /
    Variants
{% endblock %}

{% block new_entity_button %}
    <a class="btn btn-primary" href="{{ path('sylius_backend_product_variant_create', {productId: app.request.get('productId')}) }}">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Nouveau variant
    </a>
{% endblock new_entity_button %}

{% block list %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'label.image'|trans }}</th>
            <th>{{ 'label.name'|trans }}</th>
            <th>{{ 'label.publishers'|trans }}</th>
            <th>{{ 'label.created_at'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for product_variant in product_variants %}
            {% set product = product_variant.product %}
            <tr>
                <td>
                    {% if product_variant.mainImage %}
                        {{ image(product_variant.mainImage.webPath, 'thumbnail', product.name, 'img-responsive img-round') }}
                    {% endif %}
                </td>
                <td>{{ product_variant.name }}</td>
                <td>{{ product_variant.publishers|join(', ') }}</td>
                <td>{{ product_variant.createdAt|localizeddate('long', 'none') }}</td>
                <td class="text-right">
                    <ul class="list-inline">
                        <li>
                            {{ button.edit(path('sylius_backend_product_variant_update', { 'id': product_variant.id })) }}
                        </li>
                        <li>
                            {{ button.delete(path('sylius_backend_product_variant_delete', { 'id': product_variant.id })) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock list %}

{% block Pagination %}
    <div class="pagination-wrapper">
        <div class="pagination-bottom">
            {{ pagination(product_variants) }}
        </div>
    </div>
{% endblock %}