{{ form_start(form, {'action': path('sylius_product_review_create', { 'productId': app.request.attributes.get('productId') }) }) }}


<div class="form-group">
    {{ form_label(form.rating) }}
    <div class="col-sm-9">
        <div class="rating" data-input="sylius_product_review_rating" data-rate-value="6" data-step-size="0.5"></div>
    </div>
</div>

{{ form_widget(form) }}



<div class="pull-right">
    <button type="submit" class="btn btn-primary">{{ 'label.create'|trans }}</button>
</div>

{{ form_end(form) }}