{% extends "::base.html.twig" %}
{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    Nouveau taxon
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    <a href="{{ path('sylius_backend_taxon_index') }}">Catégories</a> /
    Créer
{% endblock %}

{% block container %}
    <div class="col-md-12">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ action.create() }}
        {{ form_end(form) }}
    </div>
{% endblock container %}
