<div class="sidebar">

    <!-- Gallery Widget -->
    <div class="s-widget">
        <!-- Heading -->
        <h4><i class="fa fa-camera color"></i> Filtrer votre contenu</h4>
        <!-- Widgets Content -->
        <h5><i class="fa color"></i> Status</h5>

        <div class="widget-content gallery">
            <ul class="list-unstyled">
                <!-- List items -->
                {% if notificationFilterCount[constant('JDJ\\JeuBundle\\Entity\\Jeu::WRITING')] is defined %}
                    <li><a href="{{ path('jedizone_status_filter_index', {'status' : constant('JDJ\\JeuBundle\\Entity\\Jeu::WRITING')}) }}">En cours d'écriture
                            ({{ notificationFilterCount[constant('JDJ\\JeuBundle\\Entity\\Jeu::WRITING')] }})</a></li>
                {% endif %}
                {% if notificationFilterCount[constant('JDJ\\JeuBundle\\Entity\\Jeu::NEED_A_TRANSLATION')] is defined %}
                    <li><a href="{{ path('jedizone_status_filter_index', {'status' : constant('JDJ\\JeuBundle\\Entity\\Jeu::NEED_A_TRANSLATION')}) }}">En Traduction
                            ({{ notificationFilterCount[constant('JDJ\\JeuBundle\\Entity\\Jeu::NEED_A_TRANSLATION')] }}
                            )</a></li>
                {% endif %}
                {% if notificationFilterCount[constant('JDJ\\JeuBundle\\Entity\\Jeu::NEED_A_REVIEW')] is defined %}
                    <li><a href="{{ path('jedizone_status_filter_index', {'status' : constant('JDJ\\JeuBundle\\Entity\\Jeu::NEED_A_REVIEW')}) }}">En relecture
                            ({{ notificationFilterCount[constant('JDJ\\JeuBundle\\Entity\\Jeu::NEED_A_REVIEW')] }})</a>
                    </li>
                {% endif %}
                {% if notificationFilterCount[constant('JDJ\\JeuBundle\\Entity\\Jeu::READY_TO_PUBLISH')] is defined %}
                    <li><a href="{{ path('jedizone_status_filter_index', {'status' : constant('JDJ\\JeuBundle\\Entity\\Jeu::READY_TO_PUBLISH')}) }}">Prêt à être publié
                            ({{ notificationFilterCount[constant('JDJ\\JeuBundle\\Entity\\Jeu::READY_TO_PUBLISH')] }}
                            )</a></li>
                {% endif %}
                {% if notificationFilterCount[constant('JDJ\\JeuBundle\\Entity\\Jeu::PUBLISHED')] is defined %}
                    <li><a href="{{ path('jedizone_status_filter_index', {'status' : constant('JDJ\\JeuBundle\\Entity\\Jeu::PUBLISHED')}) }}">Publié
                            ({{ notificationFilterCount[constant('JDJ\\JeuBundle\\Entity\\Jeu::PUBLISHED')] }})</a></li>
                {% endif %}

            </ul>
        </div>
        <!-- Widgets Content -->
        {# TODO when articles #}
        {#<h5><i class="fa color"></i> Contenu</h5>

        <div class="widget-content gallery">
            <ul class="list-unstyled">
                <!-- List items -->
                <li><a href="qsdfqsd">A traduire (1)</a></li>
                <li><a href="qsdfqsd">En relecture (2)</a></li>
                <li><a href="qsdfqsd">En attente de publication (7)</a></li>


            </ul>
        </div>#}
    </div>


</div>
