<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div id="game-library-list" class="main col-md-12">
                <div class="games-library bg-black">
                    <div class="content">
                        {% spaceless %}
                            {% for product_list_item in product_list_items.data %}
                                {% set product = product_list_item.product %}
                                {% set box = product.firstVariant.enabledBox %}
                                <div class="game-library-item dropdown show" style="display: inline-block">
                                    <a class=""
                                       href="#"
                                       role="button"
                                       id="dropdownMenuLink{{ loop.index }}"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        {% if box %}
                                            <img src="{{ box.image.webPath | imagine_filter('full') }}"
                                                 alt="{{ product_list_item.product }}"/>
                                        {% else %}
                                            <img src="{{ asset('assets/frontend/images/placeholder.png'| imagine_filter('thumbnail')) }}"
                                                 alt="{{ product_list_item.product }}"/>
                                        {% endif %}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink{{ loop.index }}">
                                        <h6 class="dropdown-header">{{ product.name }}</h6>
                                        <a class="dropdown-item"
                                           href="{{ path('sylius_frontend_product_show', { 'slug': product.slug } ) }}">
                                            <i class="fa fa-link pr-20"></i> {{ 'sylius.ui.view_more'|trans }}
                                        </a>
                                        <a class="dropdown-item"
                                           href="{{ path('app_frontend_product_box_create', {'slug': product.slug } ) }}">
                                            <i class="fa fa-picture-o pr-20"></i> {{ 'app.ui.propose_an_image'|trans }}
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endspaceless %}
                    </div>
                </div>
            </div>
            <!-- main end -->
        </div>
    </div>
</section>
<!-- main-container end -->
