{% import 'macro/image.html.twig' as images %}

<!-- comments start -->
<!-- ================ -->
<div id="comments" class="comments">
    <h2 class="title">There are {{ topic.postCount }} comments</h2>

    {% for post in posts %}
        {% set avatar = post.author.avatar %}
        {% set avatarPath = avatar is not null ? avatar.webPath : '/assets/frontend/images/avatar-placeholder.png' %}

        <!-- comment start -->
        <div class="comment clearfix">
            <div class="comment-avatar">
                {{ images.render(avatarPath, 'thumbnail', topic.author, 'rounded-circle') }}
            </div>
            <header>
                <div class="comment-meta pv-20">By <a href="#">{{ post.author }}</a> | {{ post.createdAt|localizeddate('medium', 'short') }}</div>
            </header>
            <div class="comment-content">
                <div class="comment-body clearfix">
                    {{ post.body|raw }}
                    <a href="#" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
                </div>
            </div>
        </div>
        <!-- comment end -->
    {% endfor %}
</div>
<!-- comments end -->

<!-- comments form start -->
<!-- ================ -->
<div class="comments-form">
    <h2 class="title">Add your comment</h2>
    <form>
        <div class="form-group has-feedback">
            <label for="name4">Name</label>
            <input type="text" class="form-control" id="name4" placeholder="" required>
            <i class="fa fa-user form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
            <label for="subject4">Subject</label>
            <input type="text" class="form-control" id="subject4" placeholder="" required>
            <i class="fa fa-pencil form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
            <label for="message4">Message</label>
            <textarea class="form-control" rows="8" id="message4" placeholder="" required></textarea>
            <i class="fa fa-envelope-o form-control-feedback"></i>
        </div>
        <input type="submit" value="Submit" class="btn btn-default">
    </form>
</div>
<!-- comments form end -->