{% set article = post.topic.article %}

<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="{{ path('app_homepage') }}">{{ 'sylius.ui.home'|trans }}</a></li>
            <li class="breadcrumb-item"><a class="link-dark" href="{{ path('app_frontend_article_index') }}">{{ 'app.ui.articles'|trans }}</a></li>
            <li class="breadcrumb-item active"><a class="link-dark" href="{{ path('app_frontend_article_show', { 'slug': article.slug } ) }}">{{ article }}</a></li>
            <li class="breadcrumb-item active">{{ 'app.ui.edit_post'|trans }}</li>
        </ol>
    </div>
</div>
<!-- breadcrumb end -->
