{% trans_default_domain 'FOSUserBundle' %}

<div class="block-heading-two">
    <h3><span>{{ user.username }}</span></h3>
</div>

<div class="img-box-5">
    <!-- Container -->
    <div class="container">
        <!-- Image Box #5 Item -->
        <div class="img-box-5-item">
            <div class="row">
                {% if user.avatar.webPath is defined %}
                    <div class="col-md-2">
                        <div class="img-box-3-item">
                            <div class=" bg-purple img-collection-container" >
                                <a href="">
                                    <img class="img-collection fa-picture-o" src="{{ user.avatar.webPath | imagine_filter('default') }}" alt="" >
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-md-5">
                    <!-- Image Box #5 Content -->
                    <div class="img-box-5-content">

                        <div class="row">
                            <ul class="list-6">
                                <li>Email : {{ user.email }}</li>
                            </ul>

                        </div>
                        <div class="row">
                            <ul class="list-6">
                                <li>Date de Naissance : {{ user.dateNaissance |date("d/m/Y") }}</li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul class="list-6">
                                <li>Compte créé le : {{ user.created |date("d/m/Y")  }}</li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul class="list-6">
                                <li>Présentation : {{ user.presentation  }}</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-success" name="Editer mon compte">
                        Editer mon compte
                    </a>
                    </div>
            </div>


        </div>
    </div>
</div>