{% extends 'base.html.twig' %}
{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    Modifier un client
{% endblock headline %}

{% block breadcrumb_content %}
    <a href="{{ path('jdj_compta_homepage') }}">Comptabilité</a> /
    <a href="{{ path('compta_customer') }}">Clients</a> /
    Modifier
{% endblock breadcrumb_content %}

{% block container -%}
    {{ form_start(form) }}
    {% include 'compta/customer/_form.html.twig' %}
    {{ action.update(path('compta_customer')) }}
    {{ form_end(form) }}
{% endblock container %}