{% extends "layout/backend_index.html.twig" %}
{% from 'macros/misc.html.twig' import pagination %}
{% import 'macros/buttons.html.twig' as button %}
{% from '::macros/sorting.html.twig' import sorting %}

{% block new_entity_button %}
    {{ button.create(path('compta_customer_new'), 'Créer un client') }}
{% endblock new_entity_button %}

{% block page_title %}
    Liste des clients
{% endblock page_title %}

{% block list %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ sorting('compta_customer', 'label.company'|trans, 'society', 'desc') }}</th>
            <th>{{ sorting('compta_customer', 'label.email'|trans, 'email', 'desc') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>
                    <a href="{{ path('compta_customer_show', { 'customer': customer.id }) }}">
                        {{ customer.id }}
                    </a>
                </td>
                <td>{{ customer.society }}</td>
                <td>{{ customer.email }}</td>
                <td class="text-right">
                    <ul class="list-inline">
                        <li>
                            {{ button.show(path('compta_customer_show', { 'customer': customer.id })) }}
                        </li>
                        <li>
                            {{ button.edit(path('compta_customer_edit', { 'customer': customer.id })) }}
                        </li>
                        <li>
                            {{ button.delete(path('compta_customer_delete', { 'id': customer.id })) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock list %}

{% block Pagination %}
    <div class="pagination-wrapper">
        <div class="pagination-bottom">
            {{ pagination(customers) }}
        </div>
    </div>
{% endblock %}

