{% extends 'base.html.twig' %}
{% from 'macros/misc.html.twig' import pagination %}
{% import 'macros/buttons.html.twig' as button %}
{% from '::macros/sorting.html.twig' import sorting %}

{% set sorting = app.request.get('sorting') %}

{% set icon = false %}
{% set currentOrder = null %}

{% if null == sorting %}
    {% set icon = true %}
    {% set currentOrder = 'asc' %}
{% endif %}

{% block container %}

    <div class="block-heading-two">
        <ul class="list-inline pull-right">
            <li>
                {{ button.create(path('compta_customer_new'), 'Créer un client') }}
            </li>
        </ul>
        <h3><span>Liste des clients</span></h3>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ sorting('compta_customer', 'label.company'|trans, 'society', 'desc') }}</th>
            <th>{{ sorting('compta_customer', 'label.email'|trans, 'email', 'desc') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>
                    <a href="{{ path('compta_customer_show', { 'customer': customer.id }) }}">
                        {{ customer.id }}
                    </a>
                </td>
                <td>{{ customer.society }}</td>
                <td>{{ customer.email }}</td>
                <td class="text-right">
                    <ul class="list-inline">
                        <li>
                            {{ button.show(path('compta_customer_show', { 'customer': customer.id })) }}
                        </li>
                        <li>
                            {{ button.edit(path('compta_customer_edit', { 'customer': customer.id })) }}
                        </li>
                        <li>
                            {{ button.delete(path('compta_customer_delete', { 'customer': customer.id })) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% block Pagination %}
        <div class="pagination-wrapper">
            <div class="pagination-bottom">
                {{ pagination(customers) }}
            </div>
        </div>
    {% endblock %}

{% endblock container %}