{% extends 'base.html.twig' %}
{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    Nouveau client
{% endblock headline %}

{% block breadcrumb_content %}
    <a href="{{ path('compta_home') }}">Comptabilité</a> /
    <a href="{{ path('compta_customer') }}">Clients</a> /
    Nouveau
{% endblock breadcrumb_content %}

{% block container %}
    {{ form_start(form) }}
    {% include 'compta/customer/_form.html.twig' %}
    {{ action.create(path('compta_customer')) }}
    {{ form_end(form) }}
{% endblock container %}
