{% extends "base.html.twig" %}
{% from 'macros/status.html.twig' import subscriptionStatus as status %}
{% import 'macros/buttons.html.twig' as button %}
{% from 'macros/sorting.html.twig' import sorting %}

{% block container %}

    <div class="block-heading-two">
        <ul class="list-inline pull-right">
            <li>
                <a class="btn btn-primary" href="{{ path('compta_customer_edit', { 'customer': customer.id }) }}">
                    <span class="glyphicon glyphicon-pencil"></span> Modifier
                </a>
            </li>
            <li>
                {{ button.delete(path('compta_customer_delete', {'id': customer.id})) }}
            </li>
        </ul>
        <h3><span>{{ customer.society }}</span></h3>
    </div>

    <address>
        <strong>{{ customer.society }}</strong><br>
        {{ customer.address.street }}<br>
        {{ customer.address.postalCode }} {{ customer.address.city }}<br>
    </address>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'label.product'|trans }}</th>
            <th>{{ sorting('compta_customer_show', 'label.created_at'|trans, 'createdAt', 'desc', false, null, {'customer': customer.id}) }}</th>
            <th>{{ sorting('compta_customer_show', 'label.start_at'|trans, 'startAt', 'desc', false, null, {'customer': customer.id}) }}</th>
            <th>{{ sorting('compta_customer_show', 'label.end_at'|trans, 'endAt', 'desc', false, null, {'customer': customer.id}) }}</th>
            <th>{{ sorting('compta_customer_show', 'label.status'|trans, 'status', 'asc', false, null, {'customer': customer.id}) }}</th>
        </tr>
        </thead>
        <tbody>
        {% for subscription in customer.subscriptions %}
            <tr>
                <td>{{ subscription.product.name }}</td>
                <td>{{ subscription.createdAt|localizeddate('long', 'none') }}</td>
                <td>{{ subscription.startAt|localizeddate('long', 'none') }}</td>
                <td>{{ subscription.endAt|localizeddate('long', 'none') }}</td>
                <td>{{ status(subscription) }}</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock container %}