<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <i class="fa fa-home pr-2"></i>
                <a class="link-dark" href="{{ path('app_homepage') }}" itemprop="item">
                    <span itemprop="name">{{ 'sylius.ui.home'|trans }}</span>
                    <meta itemprop="position" content="1">
                </a>
            </li>
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="link-dark" href="{{ path('app_frontend_article_index') }}" itemprop="item">
                    <span itemprop="name">{{ 'app.ui.articles'|trans }}</span>
                    <meta itemprop="position" content="2">
                </a>
            </li>
            {% if article.mainTaxon is not null %}
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a class="link-dark"
                       href="{{ path('app_frontend_article_index_by_taxon', { 'slug': article.mainTaxon.slug }) }}"
                       itemprop="item"
                    >
                        <span itemprop="name">{{ article.mainTaxon }}</span>
                        <meta itemprop="position" content="3">
                    </a>
                </li>
            {% endif %}
            <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span itemprop="name">{{ article.title }}</span>
                <meta itemprop="position" content="{{ article.mainTaxon is not null ? 4 : 3 }}">
            </li>
        </ol>
    </div>
</div>
<!-- breadcrumb end -->
