<div class="tab-pane" id="attributes">
    {{ form_row(form.firstVariant.releasedAtPrecision) }}
    {{ form_row(form.firstVariant.releasedAt) }}
    {{ form_row(form.ageMin) }}
    <div class="row">
        <label class="control-label col-sm-3">{{ 'label.player_count' | trans }}</label>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.joueurMin) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.joueurMax) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-3">{{ 'label.duration' | trans }}</label>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.durationMin) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.durationMax) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_row(form.barcodes) }}
</div>
