{% set locale =  app.request.locale %}

<div class="ui active tab" data-tab="details">
    <h3 class="ui dividing header">{{ 'sylius.ui.details'|trans }}</h3>
    <div class="ui two column stackable grid">
        <div class="column">
            <div class="ui content segment">
                {{ form_row(form.translations[locale].name) }}
                {{ form_row(form.translations[locale].slug, {'attr': {'data-url': path('sylius_admin_ajax_generate_product_slug')}}) }}
                {{ form_row(form.translations[locale].shortDescription) }}
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                {{ form_row(form.boxContent) }}
            </div>
        </div>
    </div>
    <div class="ui segment">
        {{ form_row(form.translations[locale].description) }}
    </div>
</div>

<div style="display: none">
    {{ form_row(form.firstVariant.name) }}
</div>