<div class="ui tab" data-tab="people">
    <h3 class="ui dividing header">{{ 'app.ui.people'|trans }}</h3>
    {{ form_label(form.firstVariant.designers) }}
    <select name="sylius_product[firstVariant][designers][]" class="peopleAutocomplete form-control" multiple>
        {% for person in product.firstVariant.designers %}
            <option value="{{ person.id }}" selected="selected">{{ person }}</option>
        {% endfor %}
    </select>

    {{ form_label(form.firstVariant.artists) }}
    <select name="sylius_product[firstVariant][artists][]" class="peopleAutocomplete form-control" multiple>
        {% for person in product.firstVariant.artists %}
            <option value="{{ person.id }}" selected="selected">{{ person }}</option>
        {% endfor %}
    </select>

    {{ form_label(form.firstVariant.publishers) }}

    <select name="sylius_product[firstVariant][publishers][]" class="peopleAutocomplete form-control" multiple>
        {% for person in product.firstVariant.publishers %}
            <option value="{{ person.id }}" selected="selected">{{ person }}</option>
        {% endfor %}
    </select>
</div>