{% from 'backend/macros/sorting.html.twig' import sorting %}
{% import 'SyliusUiBundle:Macro:buttons.html.twig' as button %}
{% from 'macros/images.html.twig' import image %}

{% set defaultSorting = app.request.get('sorting') ? false : true %}
{% set defaultOrder = 'desc' %}
{% set currentOrder = defaultSorting ? defaultOrder : app.request.get('sorting') %}

<table class="ui celled table">
    <thead>
    <tr>
        <th>{{ 'sylius.ui.image'|trans }}</th>
        <th>{{ sorting('app_backend_dealer_index', 'sylius.ui.name'|trans, 'name', 'asc', true, currentOrder) }}</th>
        <th>{{ 'app.ui.price_list'|trans }}</th>
        <th>{{ 'app.ui.pub_banners'|trans }}</th>
        <th>{{ 'sylius.ui.actions'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for dealer in dealers %}
        <tr>
            <td>
                {% if dealer.image %}
                    {{ image(dealer.image.webPath, 'small_width_fixed', dealer.name, 'image') }}
                {% endif %}
            </td>
            <td>{{ dealer }}</td>
            <td>
                {% if dealer.hasPriceList and dealer.priceList.active %}
                    <i class="checkmark icon green"></i>
                {% else %}
                    <i class="remove icon red"></i>
                {% endif %}
            </td>
            <td>
                {% if dealer.pubBanners|length > 0 %}
                    <i class="checkmark icon green"></i>
                {% else %}
                    <i class="remove icon red"></i>
                {% endif %}
            </td>
            <td>
                <div class="ui buttons">
                    {{ button.edit(path('app_backend_dealer_update', { 'id': dealer.id } )) }}
                    {{ button.delete(path('app_backend_dealer_delete', { 'id': dealer.id } )) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>