{% extends "base.html.twig" %}

{% block body -%}
    <h1>Liste des types d'addon de jeu</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('typeAddon_show', { 'id': entity.id }) }}">{{ entity.libelle }}</a></td>
                <td>
                    <ul class="inline-list">
                        <li>
                            <a class="small button" href="{{ path('typeAddon_edit', { 'id': entity.id }) }}">édition</a>
                        </li>
                        <li>
                            {{ form_start(deleteForms[entity.id]) }}
                            {{ form_widget(deleteForms[entity.id].submit, {'attr': {'class': 'small button'}, 'label': 'Supprimer'}) }}
                            {{ form_end(deleteForms[entity.id]) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('typeAddon_new') }}">
                Ajouter un nouveau type d'addon
            </a>
        </li>
    </ul>
    {% endblock %}
