{% extends "JDJWebBundle::layout.html.twig" %}

{% block body -%}
    <h1>Type d'Addon</h1>

    <div class="right inline">
        <a href="{{ path('typeAddon') }}">
            Retour à la liste des addons
        </a>
    </div>
    <div class="row">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <!-- Bloc form informations principales -->
        <fieldset>
            <legend>Informations sur le type d'addon</legend>

            <div class="small-8">
                <div class="row">
                    <div class="small-3 columns">
                        <label for="right-label" class="left inline">{{ form_label(form.libelle) }}</label>
                    </div>
                    <div class="error">
                        {{ form_errors(form.libelle) }}
                    </div>
                    <div class="small-9 columns">
                        {{ form_widget(form.libelle) }}
                    </div>
                </div>
            </div>
        </fieldset>
        {{ form_widget(form._token) }}
        {{ form_widget(form.submit) }}
    </div>

</ul>
{% endblock %}
