<!-- Sidebar -->
<div class="sidebar">

    <div class="s-widget">
        <h5><i class="fa fa-users color"></i> Participer</h5>
        <!-- Widgets Content -->
        <div class="widget-content search">
            <a href="{{ path('app_topic_create') }}" class="btn btn-color btn-lg">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Nouveau sujet
            </a>
        </div>
    </div>

    <hr/>

    <!-- Categories Widget -->
    <div class="s-widget">
        <!-- Heading -->
        <h5><i class="fa fa-folder color"></i>&nbsp; Categories</h5>
        <!-- Widgets Content -->
        <div class="widget-content categories">
            <ul class="list-6">
                {% for thisTaxon in taxons %}
                    {% set currentTaxon = taxon is defined and thisTaxon == taxon ? true : false %}
                    <li>
                        <a href="{{ path('app_topic_index_by_taxon', { 'permalink': thisTaxon.slug }) }}">
                            {% if currentTaxon %}<strong>{% endif %}{{ thisTaxon }}{% if currentTaxon %}</strong>{% endif %}
                            <span class="color">(5)</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Nav tab widget - popular, recent and comments -->
    <div class="s-widget">
        <h5><i class="fa fa-tags color"></i>&nbsp; Nav Tabs</h5>
        <div class="widget-content tabs">
            <div class="nav-tabs-two">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#popular" data-toggle="tab">Populaires</a></li>
                    <li><a href="#recent" data-toggle="tab">Recent</a></li>
                </ul>
                <!-- Tab content -->
                <div class="tab-content">
                    <!-- Popular posts -->
                    <div class="tab-pane fade in active" id="popular">
                        {{ render(url('app_partial_topic_index', {
                            'sorting': {
                                'postCount': 'desc'
                            },
                            'paginate': 5,
                            'template': 'partial/topic/_sidebarList.html.twig'
                        })) }}
                    </div>
                    <!-- Recent posts -->
                    <div class="tab-pane fade" id="recent">
                        {{ render(url('app_partial_topic_index', {
                            'sorting': {
                                'createdAt': 'desc'
                            },
                            'paginate': 5,
                            'template': 'partial/topic/_sidebarList.html.twig'
                        })) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tag Widget -->
    <div class="s-widget">
        <h5><i class="fa fa-tags color"></i>&nbsp; Tags</h5>
        <!-- Widgets Content -->
        <div class="widget-content">
            <a href="#" class="label label-color">web</a>
            <a href="#" class="label label-color">wordpress</a>
            <a href="#" class="label label-color">php</a>
            <a href="#" class="label label-color">jquery</a>
            <a href="#" class="label label-color">java</a>
            <a href="#" class="label label-color">photoshop</a>
            <a href="#" class="label label-color">windows</a>
            <a href="#" class="label label-color">android</a>
            <a href="#" class="label label-color">ios</a>
            <a href="#" class="label label-color">chrome</a>
            <a href="#" class="label label-color">development</a>
            <a href="#" class="label label-color">plugin</a>
            <a href="#" class="label label-color">personal</a>
            <a href="#" class="label label-color">general</a>
        </div>
    </div>

</div>