{% extends "base.html.twig" %}
{% from 'macros/misc.html.twig' import pagination %}
{% from 'macros/users.html.twig' import avatar %}
{% from 'macros/images.html.twig' import image %}
{% import 'macros/buttons.html.twig' as button %}
{% from 'macros/topics.html.twig' import getPath %}
{% from 'macros/sorting.html.twig' import sorting %}

{% block headline %}
    {% if taxon is defined %}
        {{ taxon }}
    {% else %}
        Forum
    {% endif %}
{% endblock %}

{% block subtitle %}
    {% if taxon is defined %}
        {{ taxon.description }}
    {% endif %}
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    <a href="{{ path('app_topic_index') }}">Forum</a>
    {% if taxon is defined %}
        / {{ taxon }}
    {% endif %}
{% endblock %}

{% block body -%}
    <div class="container">

        <div class="row">
            <div class="col-md-8">

                <div class="container">

                    <div class="pull-right sorting">
                        {% set sorting = app.request.get('sorting') %}

                        {% set icon = false %}
                        {% set currentOrder = null %}

                        {% if null == sorting %}
                            {% set icon = true %}
                            {% set currentOrder = 'desc' %}
                        {% endif %}

                        {% set routeName =  app.request.get('_route') %}
                        {% set routeParams =  app.request.get('_route_params') %}

                        Trier
                        par {{ sorting(routeName, 'label.created_at'|trans, 'createdAt', 'desc', icon, currentOrder, routeParams) }},
                        {{ sorting(routeName, 'label.most_commented'|trans, 'postCount', 'desc', null, null, routeParams) }}
                    </div>

                    <div class="clearfix"></div>

                    {% include 'frontend/topic/_index.html.twig' %}
                </div>


                {% block Pagination %}
                    {{ pagination(topics) }}
                {% endblock %}
            </div>
            <div class="col-md-4">
                {% include 'frontend/topic/_sidebar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}