<div class="item">
    <div class="header">{{ 'app.ui.catalog'|trans }}</div>
    <div class="menu">
        <a href="{{ path('sylius_backend_taxon_index') }}" class="item">
            <i class="folder icon"></i>
            {{ 'sylius.ui.taxons'|trans }}
        </a>
        <a href="{{ path('sylius_admin_product_index') }}" class="item">
            <i class="cube icon"></i>
            {{ 'sylius.ui.products'|trans }}
        </a>
        <a href="{{ path('app_backend_person_index') }}" class="item">
            <i class="spy icon"></i>
            {{ 'app.ui.people'|trans }}
        </a>
    </div>
</div>
<div class="item">
    <div class="header">{{ 'sylius.ui.customer'|trans }}</div>
    <div class="menu">
        <a href="{{ path('sylius_backend_customer_index') }}" class="item">
            <i class="users icon"></i>
            {{ 'sylius.ui.customers'|trans }}
        </a>
        <a href="#" class="item">
            <i class="archive icon"></i>
            {{ 'sylius.ui.groups'|trans }}
        </a>
    </div>
</div>
<div class="item">
    <div class="header">{{ 'app.ui.content'|trans }}</div>
    <div class="menu">
        <a href="{{ path('app_admin_article_index') }}" class="item">
            <i class="newspaper icon"></i>
            {{ 'app.ui.articles'|trans }}
        </a>
        <a href="{{ path('admin_static_content_index') }}" class="item">
            <i class="file icon"></i>
            {{ 'sylius.ui.static_contents'|trans }}
        </a>
        <a href="{{ path('admin_block_index') }}" class="item">
            <i class="block layout icon"></i>
            {{ 'sylius.ui.blocks'|trans }}
        </a>
    </div>
</div>
<div class="item">
    <div class="header">{{ 'app.ui.forum'|trans }}</div>
    <div class="menu">
        <a href="{{ path('app_backend_topic_index') }}" class="item">
            <i class="comments icon"></i>
            {{ 'app.ui.topics'|trans }}
        </a>
    </div>
</div>
<div class="item">
    <div class="header">Partenaires</div>
    <div class="menu">
        <a href="{{ path('app_backend_dealer_index') }}" class="item">
            <i class="building icon"></i>
            {{ 'app.ui.dealers'|trans }}
        </a>
        <a href="{{ path('app_backend_dealer_price_index') }}" class="item">
            <i class="euro icon"></i>
            {{ 'app.ui.prices'|trans }}
        </a>
    </div>
</div>
<div class="item">
    <div class="header">Contact</div>
    <div class="menu">
        <a href="{{ path('app_backend_contact_request_index') }}" class="item">
            <i class="mail icon"></i>
            {{ 'app.ui.contact_requests'|trans }}
        </a>
    </div>
</div>