{% from 'macros/persons.html.twig' import image %}

{% set personHref = path('personne_show', { 'id': person.id, 'slug': person.slug }) %}

<!-- Image Box #3 Item -->
<div class="img-box-7-item">
    <a href="{{ personHref }}"><img src="{{ image(person, 'thumbnail_XL') }}" alt="" class="img-round img-responsive"></a>
    <h4><a href="{{ personHref }}">{{ person }}</a></h4>
    <div class="bor bg-lblue"></div>
    <p>
        {% if person.country %}
        {{ person.country }}
        {% endif %}
    </p>
</div>


{#<!-- Image Box #4 Item -->#}
{#<div class="img-box-4-item portfolio">#}
    {#<!-- Image -->#}
    {#<div class="img-container">#}
        {#<a href="{{ personHref }}">#}
            {#<div class="element">#}
                {#<div class="image-style-one">#}
                    {#<img src="{{ image(person, 'full') }}" alt=""#}
                         {#class="img-responsive"/>#}
                    {#<div class="image-hover">#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</a>#}
    {#</div>#}

    {#<!-- Image Box #4 Content -->#}
    {#<div class="img-box-4-content">#}
        {#<!-- Icon -->#}
        {#<a href="#"><i style="z-index: 10;" class="fa {{ faImg }} {{ bg }}"></i></a>#}
        {#<!-- Heading -->#}
        {#<h4><a href="{{ personHref }}">{{ person }}</a></h4>#}
        {#<!-- Border -->#}
        {#<div class="bor {{ bg }}"></div>#}
        {#<!-- Paragraph -->#}
        {#<p>#}
            {#{% if person.country %}#}
                {#{{ person.country }}#}
            {#{% endif %}#}
        {#</p>#}
    {#</div>#}
{#</div>#}
