{% from 'macros/persons.html.twig' import image %}

{% set personHref = path('personne_show', { 'id': person.id, 'slug': person.slug }) %}

<!-- Image Box #3 Item -->
<div class="img-box-7-item">
    <a href="{{ personHref }}"><img src="{{ image(person, 'thumbnail_XL') }}" alt="" class="img-round img-responsive"></a>
    <h4><a href="{{ personHref }}">{{ person }}</a></h4>
    <div class="bor bg-lblue"></div>
    <p>
        {% if person.country %}
        {{ person.country }}
        {% endif %}
    </p>
</div>
