{% extends "base.html.twig" %}
{% import 'macros/actions.html.twig' as action %}

{% set topic = post.topic %}

{% block headline %}
    Partie de {{ post.gamePlay.product }}
{% endblock %}

{% block subtitle %}
    Votre commentaire
{% endblock %}

{% block body -%}
    <div class="col-md-12">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ action.create() }}
        {{ form_end(form) }}
    </div>
{% endblock %}