{% extends "base.html.twig" %}

{% import 'macros/actions.html.twig' as action %}

{% set game_play = post.gamePlay %}

{% block headline %}
    Modifier votre commentaire
{% endblock %}

{% block breadcrumb_content %}
    <a href="{{ path('app_frontend_game_play_index') }}">{{ 'app.ui.game_plays'|trans }}</a>
    / <a href="{{ path('app_frontend_game_play_show', {'id': game_play.id, 'productSlug': game_play.product.slug}) }}">{{ game_play.product }}</a>
    / Modifier votre commentaire
{% endblock %}

{% block body -%}
    <div class="col-md-12">
        {{ form_start(form) }}
        <input type="hidden" name="_method" value="PUT"/>
        {{ form_widget(form) }}
        {{ action.update() }}
        {{ form_end(form) }}
    </div>
{% endblock %}