{% from 'macro/product.html.twig' import releasedAt, duration, playerCount %}

{% import _self as self %}

{% macro show_people(people) %}
    {% spaceless %}
        {% for person in people %}
            {% if not loop.first %}, {% endif %}<a href="#">{{ person }}</a>
        {% endfor %}
    {% endspaceless %}
{% endmacro %}

{% macro show_taxons(taxons) %}
    {% spaceless %}
        {% for taxon in taxons %}
            {% if not loop.first %}, {% endif %}<a href="#">{{ taxon }}</a>
        {% endfor %}
    {% endspaceless %}
{% endmacro %}

<h4 class="space-top">Specifications</h4>
<hr>
<dl class="row">
    <dt class="col-sm-3 text-sm-right">Nombre de joueurs</dt>
    <dd class="col-sm-9">{{ playerCount(product) }}</dd>
    <dt class="col-sm-3 text-sm-right">Âge</dt>
    <dd class="col-sm-9">à partir de {{ product.minAge }} ans</dd>
    <dt class="col-sm-3 text-sm-right">Durée</dt>
    <dd class="col-sm-9">{{ duration(product) }}</dd>
    {% if product.mechanisms|length > 0 %}
        <dt class="col-sm-3 text-sm-right">Mécanismes</dt>
        <dd class="col-sm-9">{{ self.show_taxons(product.mechanisms) }}</dd>
    {% endif %}
    {% if product.mechanisms|length > 0 %}
        <dt class="col-sm-3 text-sm-right">Thèmes</dt>
        <dd class="col-sm-9">{{ self.show_taxons(product.themes) }}</dd>
    {% endif %}
    <dt class="col-sm-3 text-sm-right">Date de sortie</dt>
    <dd class="col-sm-9">{{ releasedAt(product.firstVariant) }}</dd>
    <dt class="col-sm-3 text-sm-right">Auteur(s)</dt>
    <dd class="col-sm-9">{{ self.show_people(product.designers) }}</dd>
    <dt class="col-sm-3 text-sm-right">Illustrateur(s)</dt>
    <dd class="col-sm-9">{{ self.show_people(product.artists) }}</dd>
    <dt class="col-sm-3 text-sm-right">Editeur(s)</dt>
    <dd class="col-sm-9">{{ self.show_people(product.publishers) }}</dd>
</dl>
