{% import 'macro/image.html.twig' as images %}
{% from 'macro/rating.html.twig' import rating %}

{% set avatarPath = product_review.author.avatar is not null ? product_review.author.avatar.webPath : '/assets/frontend/images/avatar-placeholder.png'  %}

<!-- comment start -->
<div class="comment clearfix">
    <div class="comment-avatar">
        {{ images.render(avatarPath, 'thumbnail', "avatar", 'rounded-circle') }}
    </div>
    <header>
        <h3>{{ product_review.title }}</h3>
        <div class="comment-meta">
            {{ rating(product_review.rating) }} |
            {{ product_review.createdAt|localizeddate('medium', 'none') }} |
            {{ product_review.author }}
        </div>
    </header>
    <div class="comment-content">
        <div class="comment-body clearfix">
            {{ product_review.comment|raw }}
        </div>
    </div>
</div>
<!-- comment end -->
