{% extends "::base.html.twig" %}
{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    Modifier un produit
{% endblock headline %}

{% block breadcrumb_content %}
    <a href="{{ path('jdj_compta_homepage') }}">Comptabilité</a> /
    <a href="{{ path('compta_product') }}">Produits</a> /
    Modifier
{% endblock breadcrumb_content %}

{% block container -%}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ action.update(path('compta_product')) }}
    {{ form_end(form) }}
{% endblock container %}
