{% extends "::base.html.twig" %}
{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    Nouveau produit
{% endblock headline %}

{% block breadcrumb_container %}
    <a href="{{ path('jdj_compta_homepage') }}">Comptabilité</a> /
    <a href="{{ path('compta_product') }}">Produits</a> /
    Nouveau
{% endblock breadcrumb_container %}

{% block container %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ action.create(path('compta_product')) }}
    {{ form_end(form) }}
{% endblock container %}
