{% extends 'layout/minimal.html.twig' %}

{% block bodyClass %}security resetting{% endblock %}

{% set pageTitle =  'title.reset_password'|trans %}

{% block card_container_content %}
    <form class="form-signin" action="{{ path('sylius_shop_request_password_reset_token') }}" {{ form_enctype(form) }}
          method="POST">

        <div class="form-field">
            {{ form_widget(form.email, {attr: {'placeholder': 'label.email'|trans}}) }}
        </div>

        {{ form_rest(form) }}

        <div class="action-buttons">
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" id="_submit"
                    name="_submit">{{ 'label.validate'|trans }}</button>
        </div>
    </form>
{% endblock %}
