{% extends 'frontend/layout.html.twig' %}

{% block bodyClass %}security resetting{% endblock %}

{% set pageTitle = 'sylius.ui.reset_password'|trans %}

{% block content %}

    <!-- main-container start -->
    <!-- ================ -->
    <div class="main-container dark-translucent-bg" style="background-image:url('/assets/frontend/images/shop-banner-2.jpg');">
        <div class="container">
            <div class="row justify-content-center">
                <!-- main start -->
                <!-- ================ -->
                <div class="main object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                    <div class="form-block p-30 light-gray-bg border-clear">
                        <h2 class="title">{{ pageTitle }}</h2>
                        {% form_theme form 'frontend/form/horizontal.html.twig' %}

                        <form class="form-horizontal"
                              action="{{ path('sylius_frontend_password_reset', { 'token' : user.passwordResetToken}) }}"
                              method="POST">

                            {{ form_row(form.password.first) }}
                            {{ form_row(form.password.second) }}

                            {{ form_rest(form) }}
                            <div class="pull-right">
                                <button class="btn btn-primary" type="submit" id="_submit"
                                        name="_submit">{{ 'sylius.ui.reset_button'|trans }}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- main end -->
            </div>
        </div>
    </div>
    <!-- main-container end -->
{% endblock %}
