{% extends 'base.html.twig' %}

{% block bodyClass %}security resetting{% endblock %}

{% set pageTitle = 'sylius.ui.reset_password'|trans %}

{% block headline %}
    {{ pageTitle }}
{% endblock %}

{% block container %}
    <form class="form-horizontal"
          action="{{ path('sylius_shop_password_reset', { 'token' : user.passwordResetToken}) }}" {{ form_enctype(form) }}
          method="POST">

        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}

        {{ form_rest(form) }}
        <div class="pull-right">
            <button class="btn btn-primary" type="submit" id="_submit"
                    name="_submit">{{ 'label.validate'|trans }}</button>
        </div>
    </form>
{% endblock %}
