{% set criteria = app.request.get('criteria', []) %}

<!-- header-container start -->
<div class="header-container">
    {% include 'frontend/header/_top.html.twig' %}

    <!-- header start -->
    <!-- classes:  -->
    <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
    <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
    <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
    <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
    <!-- "centered": mandatory class for the centered logo layout -->
    <!-- ================ -->
    <header class="header fixed fixed-desktop clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-auto hidden-md-down">
                    <!-- header-first start -->
                    <!-- ================ -->
                    <div class="header-first clearfix">

                        <!-- logo -->
                        <div id="logo" class="logo">
                            <a href="{{ path('app_homepage') }}"><h1 class="logo-font"><span class="text-default">Jedisjeux</span></h1></a>
                        </div>

                        <!-- name-and-slogan -->
                        <div class="site-slogan">
                            Et les autres jours aussi...
                        </div>

                    </div>
                    <!-- header-first end -->

                </div>
                <div class="col-lg-8 ml-auto">

                    <!-- header-second start -->
                    <!-- ================ -->
                    <div class="header-second clearfix">

                        <!-- main-navigation start -->
                        <!-- classes: -->
                        <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                        <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                        <!-- ================ -->
                        <div class="main-navigation main-navigation--mega-menu onclick animated">
                            <nav class="navbar navbar-expand-lg navbar-light p-0">
                                <div class="navbar-brand clearfix hidden-lg-up">

                                    <!-- logo -->
                                    <div id="logo-mobile" class="logo">
                                        <a href="{{ path('app_homepage') }}"><h1 class="logo-font-mobile"><span class="text-default">Jedisjeux</span></h1></a>
                                    </div>

                                    <!-- name-and-slogan -->
                                    <div class="site-slogan">
                                        Et les autres jours aussi...
                                    </div>

                                </div>

                                <!-- header dropdown buttons -->
                                <div class="header-dropdown-buttons hidden-lg-up p-0 ml-auto mr-3">
                                    <div class="btn-group">
                                        <button type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" id="header-drop-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i></button>
                                        <ul class="dropdown-menu dropdown-menu-right dropdown-animation" aria-labelledby="header-drop-3">
                                            <li>
                                                <form role="search" class="search-box margin-clear" action="{{ path('sylius_frontend_product_index') }}">
                                                    <div class="form-group has-feedback">
                                                        <input type="text"
                                                               {% if criteria['search'] is defined %}value="{{ criteria['search']['value'] }}"{% endif %}
                                                               name="criteria[search][value]"
                                                               class="form-control"
                                                               placeholder="{{ 'sylius.ui.search'|trans }}">
                                                        <i class="fa fa-search form-control-feedback"></i>
                                                    </div>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    {% if app.user %}
                                        {% include 'frontend/header/_notifications.html.twig' with { 'id': 'header-drop-4' } %}
                                    {% endif %}
                                </div>
                                <!-- header dropdown buttons end -->

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                    {% include 'frontend/header/_menu.html.twig' %}
                                </div>
                            </nav>
                        </div>
                        <!-- main-navigation end -->
                    </div>
                    <!-- header-second end -->

                </div>
                <div class="col-auto hidden-md-down">
                    <!-- header dropdown buttons -->
                    <div class="header-dropdown-buttons">
                        <div class="btn-group">
                            <button type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" id="header-drop-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right dropdown-animation" aria-labelledby="header-drop-1">
                                <li>
                                    <form role="search" class="search-box margin-clear" action="{{ path('sylius_frontend_product_index') }}">
                                        <div class="form-group has-feedback">
                                            <input type="text"
                                                   {% if criteria['search'] is defined %}value="{{ criteria['search']['value'] }}"{% endif %}
                                                   name="criteria[search][value]"
                                                   class="form-control"
                                                   placeholder="{{ 'sylius.ui.search'|trans }}">
                                            <i class="fa fa-search form-control-feedback"></i>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        {% if app.user %}
                            {% include 'frontend/header/_notifications.html.twig' with { 'id': 'header-drop-2' } %}
                        {% endif %}
                    </div>
                    <!-- header dropdown buttons end -->
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
</div>
<!-- header-container end -->

{% include 'frontend/layout/_flashes.html.twig' %}
