{% extends "layout/backend_index.html.twig" %}
{% from '::macros/misc.html.twig' import pagination %}
{% import 'macros/buttons.html.twig' as button %}
{% from 'macros/sorting.html.twig' import sorting %}
{% import 'macros/modal.html.twig' as modal %}
{% from 'macros/status.html.twig' import gameStatus as status %}

{% set sorting = app.request.get('sorting') %}

{% set icon = false %}
{% set currentOrder = null %}

{% if null == sorting %}
    {% set icon = true %}
    {% set currentOrder = 'desc' %}
{% endif %}

{% block headline %}
    Liste des jeux
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    Jeux
{% endblock %}

{% block new_entity_button %}
    <a class="btn btn-primary" href="{{ path('app_admin_game_create') }}">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Nouveau jeu
    </a>
{% endblock new_entity_button %}

{% block list %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ sorting('app_admin_game_index', 'label.name'|trans, 'name', 'asc') }}</th>
            <th>{{ sorting('app_admin_game_index', 'label.created_at'|trans, 'createdAt', icon, currentOrder) }}</th>
            <th>{{ sorting('app_admin_game_index', 'label.status'|trans, 'status') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game }}</td>
                <td>{{ game.createdAt|localizeddate('long', 'none') }}</td>
                <td>{{ status(game) }}</td>
                <td class="text-right">
                    <ul class="list-inline">
                        <li>
                            {{ button.show(path('jeu_show', { 'id': game.id, 'slug': game.slug })) }}
                        </li>
                        <li>
                            {{ button.edit(path('app_admin_game_update', { 'id': game.id })) }}
                        </li>
                        <li>
                            {{ button.delete(path('app_admin_game_delete', { 'id': game.id })) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock list %}

{% block Pagination %}
    <div class="pagination-wrapper">
        <div class="pagination-bottom">
            {{ pagination(games) }}
        </div>
    </div>
{% endblock %}