{% extends "::base.html.twig" %}
{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    Nouveau jeu
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    <a href="{{ path('admin_game_index') }}">Jeux</a> /
    Nouveau
{% endblock %}

{% block container %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ action.create() }}
    {{ form_end(form) }}
{% endblock container %}
