<!-- section start -->
<!-- ================ -->
<section class="pv-40 stats padding-bottom-clear dark-translucent-bg hovered background-img-7" style="background-position: 50% 50%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6 text-center">
                <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                    <span class="icon dark-bg large circle"><i class="fa fa-puzzle-piece"></i></span>
                    <h3><strong>{{ 'app.ui.boardgames'|trans }}</strong></h3>
                    <span class="counter">{{ productCount }}</span>
                </div>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                    <span class="icon dark-bg large circle"><i class="fa fa-newspaper-o"></i></span>
                    <h3><strong>{{ 'app.ui.articles'|trans }}</strong></h3>
                    <span class="counter">{{ articleCount }}</span>
                </div>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                    <span class="icon dark-bg large circle"><i class="fa fa-users"></i></span>
                    <h3><strong>{{ 'app.ui.users'|trans }}</strong></h3>
                    <span class="counter">{{ userCount }}</span>
                </div>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                    <span class="icon dark-bg large circle"><i class="fa fa-star"></i></span>
                    <h3><strong>Notes</strong></h3>
                    <span class="counter">{{ ratingCount }}</span>
                </div>
            </div>
        </div>
    </div>
    {% include 'frontend/homepage/index/_footerTop.html.twig' %}
</section>
<!-- section end -->
