<div class="ui two column stackable grid">
    {{ form_errors(form) }}
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'app.ui.article_details'|trans }}</h4>
            {{ form_row(form.document.title) }}
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'app.ui.article_settings'|trans }}</h4>
            <div id="user-form">
                {{ form_row(form.document.name) }}
                {{ form_row(form.status) }}
            </div>
        </div>
    </div>
</div>
