<!-- Sidebar -->
<div class="sidebar">

    <div class="s-widget">
        <h5><i class="fa fa-info color"></i> Informations</h5>
        <div class="widget-content">
            {{ form_row(form.document.title) }}
            <div class="form-group">
                {{ form_label(form.document.publishable) }}
                <div class="col-sm-9">
                    {{ form_widget(form.document.publishable, { 'label': false, 'attr': { 'class': 'switch' } } ) }}
                    {{ form_errors(form.document.publishable) }}
                </div>
            </div>
        </div>
    </div>

    <div class="s-widget">
        <h5><i class="fa fa-clock-o color"></i> Publication programmée</h5>
        <div class="widget-content">
            {{ form_row(form.document.publishStartDate) }}
            {{ form_row(form.document.publishEndDate) }}
        </div>
    </div>

</div>
