{% extends "layout/backend_index.html.twig" %}

{% from '::macros/misc.html.twig' import pagination %}
{% import 'macros/buttons.html.twig' as buttons %}
{% from 'macros/sorting.html.twig' import sorting %}
{% from 'macros/status.html.twig' import articleStatus as status %}

{% block headline %}
    Articles
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    Contenu /
    Articles
{% endblock %}

{% block new_entity_button %}
    {{ buttons.create(path('app_admin_article_create'), 'label.create_article'|trans) }}
{% endblock new_entity_button %}

{% set sorting = app.request.get('sorting') %}

{% set icon = false %}
{% set currentOrder = null %}

{% if null == sorting %}
    {% set icon = true %}
    {% set currentOrder = 'asc' %}
{% endif %}

{% block list %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ sorting('app_admin_article_index', 'label.title'|trans, 'name', 'asc', icon, currentOrder) }}</th>
            <th>{{ sorting('app_admin_article_index', 'label.category'|trans, 'mainTaxon', 'asc') }}</th>
            <th>{{ sorting('app_admin_article_index', 'label.status'|trans, 'status', 'asc') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.mainTaxon }}</td>
                <td>{{ status(article) }}</td>
                <td class="text-right">
                    <ul class="list-inline text-nowrap">
                        <li>
                            {{ buttons.show(path('app_frontend_article_show', { 'name': article.name })) }}
                        </li>
                        <li>
                            {{ buttons.edit(path('app_admin_article_update', { 'id': article.id })) }}
                        </li>
                        <li>
                            {{ buttons.delete(path('app_admin_article_delete', { 'id': article.id })) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block Pagination %}
    {{ pagination(articles) }}
{% endblock %}