{% extends "layout/backend_index.html.twig" %}

{% from '::macros/misc.html.twig' import pagination %}
{% import 'macros/buttons.html.twig' as buttons %}
{% from 'macros/sorting.html.twig' import sorting %}
{% from 'macros/status.html.twig' import articleStatus as status %}
{% from 'macros/images.html.twig' import image %}

{% block headline %}
    Articles
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    Contenu /
    Articles
{% endblock %}

{% block form_filter %}
    {{ render(controller('app.controller.form:filterAction', {
        'type': 'app_filter_article',
        'placeholder': 'label.search_query',
        'template': 'backend/article/_filterForm.html.twig',
        'criteria':app.request.get('criteria')
    })) }}
{% endblock %}

{% block new_entity_button %}
    {{ buttons.create(path('app_backend_article_create'), 'label.create_article'|trans) }}
{% endblock new_entity_button %}

{% set sorting = app.request.get('sorting') %}

{% set icon = false %}
{% set currentOrder = null %}

{% if null == sorting %}
    {% set icon = true %}
    {% set currentOrder = 'desc' %}
{% endif %}

{% block list %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'label.image'|trans }}</th>
            <th>{{ sorting('app_backend_article_index', 'label.title'|trans, 'name', 'asc') }}</th>
            <th>{{ sorting('app_backend_article_index', 'label.category'|trans, 'taxonTranslation.name', 'asc') }}</th>
            <th>{{ sorting('app_backend_article_index', 'label.published_at'|trans, 'publishStartDate', 'asc', icon, currentOrder) }}</th>
            <th>{{ sorting('app_backend_article_index', 'label.status'|trans, 'status', 'asc') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>
                    {% if article.document.mainImage %}
                        {{ image(article.document.mainImage.image.id, 'cmf_thumbnail', article.title, 'img-responsive img-round') }}
                    {% endif %}
                </td>
                <td>{{ article.title }}</td>
                <td>{{ article.mainTaxon }}</td>
                <td>{{ article.publishStartDate|localizeddate('long', 'none') }}</td>
                <td>{{ status(article) }}</td>
                <td class="text-right">
                    <ul class="list-inline text-nowrap">
                        <li>
                            {{ buttons.show(path('app_frontend_article_show', { 'slug': article.slug })) }}
                        </li>
                        <li>
                            {{ buttons.edit(path('app_backend_article_update', { 'id': article.id })) }}
                        </li>
                        <li>
                            {{ buttons.delete(path('app_backend_article_delete', { 'id': article.id })) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block Pagination %}
    {{ pagination(articles) }}
{% endblock %}