{% extends "JDJWebBundle::layout.html.twig" %}

{% block body -%}
    <h1>Edition du client</h1>
    <div class="right inline">
        <a href="{{ path('cptaclient') }}">
            Retour à la liste des clients
        </a>
    </div>
    <div class="row">
        {{ form_start(form) }}
        {{ form_errors(form) }}


        <!-- Bloc date de création du client -->
            <fieldset>
                <legend>Date de création</legend>

                <div>
                    {{ entity.datecreation|date('d/m/Y') }}
                </div>

            </fieldset>

            <!-- Bloc form informations principales -->
            <fieldset>
                <legend>Informations principales</legend>

                <div class="small-8">
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="right-label" class="left inline">{{ form_label(form.societe) }}</label>
                        </div>
                        <div class="error">
                            {{ form_errors(form.societe) }}
                        </div>
                        <div class="small-9 columns">
                            {{ form_widget(form.societe) }}
                        </div>
                    </div>
                </div>

                <div class="small-8">
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="right-label" class="left inline">{{ form_label(form.nom) }}</label>
                        </div>
                        <div class="error">
                            {{ form_errors(form.nom) }}
                        </div>
                        <div class="small-9 columns">
                            {{ form_widget(form.nom) }}
                        </div>
                    </div>
                </div>

                <div class="small-8">
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="right-label" class="left inline">{{ form_label(form.email) }}</label>
                        </div>
                        <div class="error">
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="small-9 columns">
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                </div>

            </fieldset>

            <!-- Bloc form Adresse -->
            <fieldset>
                <legend>Adresse</legend>

                <div class="small-8">
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="right-label" class="left inline">{{ form_label(form.rue) }}</label>
                        </div>
                        <div class="error">
                            {{ form_errors(form.rue) }}
                        </div>
                        <div class="small-9 columns">
                            {{ form_widget(form.rue) }}
                        </div>
                    </div>
                </div>

                <div class="small-8">
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="right-label" class="left inline">{{ form_label(form.complement) }}</label>
                        </div>
                        <div class="error">
                            {{ form_errors(form.complement) }}
                        </div>
                        <div class="small-9 columns">
                            {{ form_widget(form.complement) }}
                        </div>
                    </div>
                </div>

                <div class="small-8">
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="right-label" class="left inline">{{ form_label(form.codepostal) }}</label>
                        </div>
                        <div class="error">
                            {{ form_errors(form.codepostal) }}
                        </div>
                        <div class="small-9 columns">
                            {{ form_widget(form.codepostal) }}
                        </div>
                    </div>
                </div>

                <div class="small-8">
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="right-label" class="left inline">{{ form_label(form.ville) }}</label>
                        </div>
                        <div class="error">
                            {{ form_errors(form.ville) }}
                        </div>
                        <div class="small-9 columns">
                            {{ form_widget(form.ville) }}
                        </div>
                    </div>
                </div>

            </fieldset>

        {{ form_widget(form._token) }}
        {{ form_widget(form.submit) }}
    </div>
    </form>


{% endblock %}
