<ul>
    <li>
        <a class="button add" href="{{ path('joueur_new', {'idPartie': partie.id}) }}">
            Ajouter un nouveau joueur
        </a>
    </li>
</ul>

<table>
    <thead>
    <tr>
        <th>Joueur</th>
        <th>Score</th>
        <th>Actions</th>
    </tr>
    </thead>
    {% for joueur in entities %}
        <tr>
            <td>
                {% if joueur.nom %}
                    {{ joueur.nom }}
                {% else %}
                    Inconnu
                {% endif %}
            </td>
            <td>
                {% if joueur.score %}
                    {{ joueur.score }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                <ul class="inline-list">
                    <li>
                        <a class="small button" href="{{ path('joueur_edit', { 'id': joueur.id }) }}">édition</a>
                    </li>
                    <li>
                        {{ form_start(deleteForms[joueur.id]) }}
                        {{ form_widget(deleteForms[joueur.id].submit, {'attr': {'class': 'small button', 'title': 'Supprimer le joueur'}, 'label': 'Supprimer'}) }}
                        {{ form_end(deleteForms[joueur.id]) }}
                    </li>
                </ul></td>
        </tr>
    {% endfor %}
</table>