{% extends 'layout/minimal.html.twig' %}

{% block bodyClass %}security resetting{% endblock %}

{% set pageTitle =  'title.reset_password'|trans %}

{% block card_container_content %}
    <form class="form-signin"
          action="{{ path('sylius_user_password_reset', { 'token' : user.confirmationToken}) }}" {{ form_enctype(form) }}
          method="POST">

        <div class="form-field">
            {{ form_widget(form.password.first, {attr: {'placeholder': 'sylius.form.user_reset_password.new'|trans}}) }}
        </div>
        <div class="form-field">
            {{ form_widget(form.password.second, {attr: {'placeholder': 'sylius.form.user_reset_password.confirmation'|trans}}) }}
        </div>
        {{ form_rest(form) }}
        <div class="action-buttons">
            <button class="btn btn-primary" type="submit" id="_submit" name="_submit">{{ 'label.validate'|trans }}</button>
        </div>
    </form>
{% endblock %}
