{% extends "JDJWebBundle::layout.html.twig" %}

{% block body -%}

    <div class="row">
        <div class="large-12 columns">
            <div class="medium-4 columns">
                <img src="http://www.jedisjeux.net/img/800/{{ personne.image }}" />
            </div>
            <div class="medium-8 columns">
                <h2>{{ personne }}</h2>
                {% if (personne.pays) %}
                <div class="row">
                    <label class="medium-3 column">Pays</label>
                    <div class="medium-9 column">{{ personne.pays.libelle }}</div>
                </div>
                {% endif %}
                {% if (personne.siteWeb) %}
                <div class="row">
                    <label class="medium-3 column">Site Web</label>
                    <div class="medium-9 column"><a target="_blank" href="{{ personne.siteWeb }}">{{ personne.siteWeb }}</a></div>
                </div>
                {% endif %}

                {% if personne.auteurJeux|length > 0 %}
                    <div class="row">
                        <label class="medium-3 column">Auteur de</label>
                        <div class="medium-9 column">{{ personne.auteurJeux|length }} jeu{% if personne.auteurJeux|length > 1 %}x{% endif %}</div>
                    </div>
                {% endif %}

                {% if personne.illustrateurJeux|length > 0 %}
                <div class="row">
                    <label class="medium-3 column">Illustrateur de</label>
                    <div class="medium-9 column">{{ personne.illustrateurJeux|length }} jeu{% if personne.illustrateurJeux|length > 1 %}x{% endif %}</div>
                </div>
                {% endif %}

                <div class="row">
                    <label class="medium-3 column">Total</label>
                    <div class="medium-9 column">{{ jeux|length }} jeux</div>
                </div>
            </div>
        </div>
    </div>

    {% include 'JDJLudographieBundle:Personne/partial:onglet.html.twig' %}

{% endblock %}