{% extends "JDJWebBundle::layout.html.twig" %}

{% block body -%}

    <div class="row">
        <div class="large-12 columns panel">
            <div class="medium-4 columns">
                <img src="http://www.jedisjeux.net/img/800/{{ personne.image }}" />
            </div>
            <div class="medium-8 columns">
                <h2>{{ personne }}</h2>
                {% if (personne.pays) %}
                <div class="row">
                    <label class="medium-3 column">Pays</label>
                    <div class="medium-9 column">{{ personne.pays.libelle }}</div>
                </div>
                {% endif %}
                {% if (personne.siteWeb) %}
                <div class="row">
                    <label class="medium-3 column">Site Web</label>
                    <div class="medium-9 column"><a target="_blank" href="{{ personne.siteWeb }}">{{ personne.siteWeb }}</a></div>
                </div>
                {% endif %}
                <div class="row">
                    <label class="medium-3 column">Auteur de</label>
                    <div class="medium-9 column">133 jeux</div>
                </div>
                <div class="row">
                    <label class="medium-3 column">Illustrateur de</label>
                    <div class="medium-9 column">3 jeux</div>
                </div>
                <div class="row">
                    <label class="medium-3 column">Total</label>
                    <div class="medium-9 column">134 jeux</div>
                </div
            </div>
        </div>
    </div>

    <ul class="tabs" data-tab>
        <li class="tab-title active"><a href="#description">Présentation</a></li>
        <li class="tab-title"><a href="#jeux">Jeux</a></li>
        <li class="tab-title"><a href="#articles">Articles</a></li>
        <li class="tab-title"><a href="#photos">Photos</a></li>
        <li class="tab-title"><a href="#parties">Parties</a></li>
        <li class="tab-title"><a href="#avis">Avis</a></li>
        <li class="tab-title"><a href="#stats">Stats</a></li>
    </ul>
    <div class="tabs-content">
        <div class="content active"
             id="description">{{ personne.description|raw }}</div>
        <div class="content" id="jeux"><p>Second panel content goes here...</p></div>
        <div class="content" id="articles"><p>Third panel content goes here...</p></div>
        <div class="content" id="photos"><p>Photos go here...</p></div>
        <div class="content" id="parties"><p>Fifth panel content go here...</p></div>
        <div class="content" id="avis"><p>Avis goe here...</p></div>
        <div class="content" id="stats"><p>Stats goe here...</p></div>
    </div>

{% endblock %}