{% extends "base.html.twig" %}
{% from 'macros/misc.html.twig' import pagination, no_data %}

{% block headline %}
    {{ 'app.ui.my_game_plays'|trans }}
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    {{ 'app.ui.my_game_plays'|trans }}
{% endblock %}

{% block body -%}
    {#{% include 'frontend/account/most_played/_filters.html.twig' %}#}

    <div class="col-md-12">
        <div class="img-box-4 text-center jeu-list">
            <div class="row">
                {% for product in products.data %}
                {% if loop.index0 != 0 and loop.index0%4 == 0 %}
            </div>
            <div class="row">
                {% endif %}
                <div class="col-md-3 col-sm-6">
                    {% include "frontend/account/most_played/_item.html.twig" with {'product': product} %}
                </div>
                {% else %}
                    {{ no_data('Aucune partie') }}
                {% endfor %}
            </div>
        </div>

        {{ pagination(products.data) }}
    </div>
{% endblock %}
