{% from 'backend/macros/sorting.html.twig' import sorting %}
{% import 'SyliusUiBundle:Macro:buttons.html.twig' as button %}
{% from 'macros/images.html.twig' import image %}
{% from 'macros/status.html.twig' import productStatus as status %}
{% from 'macros/users.html.twig' import avatar %}

{% set defaultSorting = app.request.get('sorting') ? false : true %}
{% set defaultOrder = 'desc' %}
{% set currentOrder = defaultSorting ? defaultOrder : app.request.get('sorting') %}

<table class="ui celled table">
    <thead>
    <tr>
        <th>{{ 'label.image'|trans }}</th>
        <th>{{ sorting('sylius_admin_product_index', 'label.name'|trans, 'translation.name', 'asc', true) }}</th>
        <th>{{ sorting('sylius_admin_product_index', 'label.created_at'|trans, 'createdAt', true, currentOrder) }}</th>
        <th>{{ 'label.status'|trans }}</th>
        <th>{{ 'sylius.ui.actions'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>
                {% if product.mainImage %}
                    {{ image(product.mainImage.webPath, 'thumbnail', product.name, 'ui image circular') }}
                {% endif %}
            </td>
            <td>{{ product }}</td>
            <td>{{ product.createdAt|localizeddate('long', 'none') }}</td>
            <td>{{ status(product) }}</td>
            <td>
                <div class="ui buttons">
                    {{ button.default(path('sylius_backend_product_variant_index', { 'productId': product.id }), 'sylius.ui.manage_variants', null, 'cubes') }}
                    {{ button.edit(path('sylius_admin_product_update', { 'id': product.id } )) }}
                    {{ button.delete(path('sylius_admin_product_delete', { 'id': product.id } )) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>