{% extends "::base.html.twig" %}
{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    Nouveau jeu
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    <a href="{{ path('sylius_admin_product_index') }}">Jeux</a> /
    Nouveau
{% endblock %}

{% block container %}
    <div class="col-md-12">
        <div class="well">
            <h3>Import</h3>

            <form class="form-horizontal" action="{{ path('sylius_admin_product_from_bgg_new') }}">
                <div class="form-group">
                    <label class="control-label col-sm-3 optional" for="bggPath">Url Bgg</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="bggPath" name="bggPath"
                               value="{{ app.request.get('bggPath') }}"/>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                        Importer
                    </button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>


        {{ form_start(form) }}
        {% include 'backend/product/_form.html.twig' %}
        <br/>
        {{ action.create() }}
        {{ form_end(form, {'render_rest': false}) }}

    </div>
{% endblock container %}
