{% extends "::base.html.twig" %}
{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    Nouveau jeu
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    <a href="{{ path('sylius_admin_product_index') }}">Jeux</a> /
    Nouveau
{% endblock %}

{% block container %}
    {{ form_start(form) }}
    {% include 'backend/product/_form.html.twig' %}
    <br />
    {{ action.create() }}
    {{ form_end(form) }}
{% endblock container %}
