{% extends "::base.html.twig" %}
{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    Modifier un jeu
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    <a href="{{ path('sylius_admin_product_index') }}">Jeux</a> /
    Modifier
{% endblock %}

{% block container %}
    <div class="col-md-12">
        {{ form_start(form) }}
        <input type="hidden" name="_method" value="PUT"/>
        {% include 'backend/product/_form.html.twig' %}
        <br/>
        {{ action.update() }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock container %}