{% set activeMenu = metadata is defined ? metadata.name : 'home' %}

<!-- main-menu -->
<ul class="navbar-nav ml-xl-auto">
    <!-- mega-menu start -->
    <li class="nav-item {% if 'home' == activeMenu %}active {% endif %}mega-menu mega-menu--wide">
        <a href="{{ path('app_homepage') }}" class="nav-link" id="first-dropdown">{{ 'sylius.ui.home'|trans }}</a>
    </li>
    <!-- mega-menu end -->
    <li class="nav-item {% if 'article' == activeMenu %}active {% endif %}dropdown ">
        <a href="{{ path('app_frontend_article_index') }}" class="nav-link dropdown-toggle" id="seventh-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'app.ui.articles'|trans }}</a>
        <ul class="dropdown-menu" aria-labelledby="seventh-dropdown">
            <li ><a href="{{ path('app_frontend_article_index') }}">{{ 'sylius.ui.all'|trans }}</a></li>
            {{  render(url('sylius_frontend_partial_taxon_index_by_code', {
                'code': constant('App\\Entity\\Taxon::CODE_ARTICLE'),
                'template': 'frontend/taxon/_listForArticles.html.twig'
            })) }}
        </ul>
    </li>
    <li class="nav-item {% if 'product' == activeMenu %}active {% endif %}dropdown ">
        <a href="{{ path('sylius_frontend_product_index') }}" class="nav-link dropdown-toggle" id="sixth-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'app.ui.games'|trans }}</a>
        <ul class="dropdown-menu" aria-labelledby="sixth-dropdown">
            <li ><a href="{{ path('sylius_frontend_product_index') }}">{{ 'sylius.ui.all'|trans }}</a></li>
            {{  render(url('sylius_frontend_partial_taxon_index_by_code', {
                'code': constant('App\\Entity\\Taxon::CODE_TARGET_AUDIENCE'),
                'template': 'frontend/taxon/_listForProducts.html.twig'
            })) }}
        </ul>
    </li>
    <li class="nav-item {% if 'game_play' == activeMenu %}active {% endif %}dropdown">
        <a href="{{ path('app_frontend_game_play_index') }}"
           class="nav-link dropdown-toggle"
           id="game-plays-dropdown"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">Parties</a>
        <ul class="dropdown-menu" aria-labelledby="game-plays-dropdown">
            <li><a href="{{ path('app_frontend_game_play_index') }}">{{ 'app.ui.game_plays'|trans }}</a></li>
            <li><a href="{{ path('app_frontend_game_play_image_index') }}">{{ 'app.ui.game_play_images'|trans }}</a></li>
        </ul>
    </li>
    <li class="nav-item {% if 'person' == activeMenu %}active {% endif %}mega-menu mega-menu--wide">
        <a href="{{ path('app_frontend_person_index') }}" class="nav-link">{{ 'app.ui.ludography'|trans }}</a>
    </li>
    <li class="nav-item {% if 'topic' == activeMenu %}active {% endif %}mega-menu mega-menu--wide">
        <a href="{{ path('app_frontend_topic_index') }}" class="nav-link">{{ 'app.ui.forum'|trans }}</a>
    </li>
</ul>
<!-- main-menu end -->
