{% from "macros/games.html.twig" import duration, playerCount, image, releasedAt %}
{% from 'macros/items.html.twig' import blockquoteOne %}
{% from 'macros/showMore.html.twig' import showMore %}

{{ render(url('sylius_partial_product_status_show', {
    'id': product.id,
    'template': 'frontend/game/_status.html.twig'
})) }}

<div class="img-box-5">
    <!-- Container -->
    <div class="container">
        <!-- Image Box #5 Item -->
        <div class="img-box-5-item">
            <div class="row">
                <div class="col-md-4">
                    <!-- Image Box #5 Image -->
                    <div class="img-box-5-img">
                        <!-- Image -->
                        <a href="{{ image(jeu, 'default') }}" rel="jeu"
                           class="fancybox"><img src="{{ image(jeu, 'default') }}"
                                                 alt="" class="img-responsive img-thumbnail"/></a>
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- Image Box #5 Content -->
                    <div class="img-box-5-content">

                        <div class="container">
                            <div class="row">
                                {% if jeu.shortDescription %}
                                    {{ blockquoteOne(showMore(jeu.shortDescription)) }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <ul class="list-unstyled">
                                    {% if jeu.joueurMin or jeu.joueurMax %}
                                        <li>
                                            <p class="pull-left bg-color square-2 rounded-2">
                                                <span class="fa fa-user white"></span>
                                            </p>
                                            <p class="game-attribute">
                                                {{ playerCount(jeu) }}
                                            </p>
                                        </li>
                                    {% endif %}

                                    {% if jeu.ageMin %}
                                        <li>
                                            <p class="pull-left bg-color square-2 rounded-2">
                                                <span class="fa fa-child white"></span>
                                            </p>
                                            <p class="game-attribute">
                                                à partir de {{ jeu.ageMin }} ans
                                            </p>
                                        </li>
                                    {% endif %}

                                    {% if jeu.durationMin %}
                                        <li>
                                            <p class="pull-left bg-color square-2 rounded-2">
                                                <span class="fa clock-o color"></span>
                                            </p>
                                            <p class="game-attribute">
                                                {{ duration(jeu) }}
                                            </p>
                                        </li>
                                    {% endif %}

                                    {% if jeu.mechanisms|length > 0 %}
                                        <li>
                                            <p class="pull-left bg-color square-2 rounded-2">
                                                <span class="fa fa-cog white"></span>
                                            </p>
                                            <p class="game-attribute">
                                                Mécanismes :
                                                {% set first = true %}
                                                {% for mechanism in jeu.mechanisms %}{% if not first %},{% endif %}
                                                    {% set first = false %}
                                                    <a
                                                    href="{{ path('sylius_product_index_by_taxon', { 'permalink': mechanism.permalink }) }}">{{ mechanism }}</a>{% endfor %}
                                            </p>
                                        </li>
                                    {% endif %}

                                    {% if jeu.themes|length > 0 %}
                                        <li>
                                            <p class="pull-left bg-color square-2 rounded-2">
                                                <span class="fa fa-picture-o white"></span>
                                            </p>
                                            <p class="game-attribute">
                                                Thèmes :
                                                {% set first = true %}
                                                {% for key, theme in jeu.themes %}{% if not first %},{% endif %}
                                                    {% set first = false %}
                                                    <a
                                                    href="{{ path('sylius_product_index_by_taxon', { 'permalink': theme.permalink }) }}">{{ theme }}</a>{% endfor %}
                                            </p>
                                        </li>
                                    {% endif %}

                                    {% if jeu.releasedAt is not null %}
                                        <li>
                                            <p class="pull-left bg-color square-2 rounded-2">
                                                <span class="fa fa-calendar white"></span>
                                            </p>
                                            <p class="game-attribute">
                                                {{ 'label.release'|trans }} : {{ releasedAt(jeu.firstVariant, 'long') }}
                                            </p>

                                        </li>
                                    {% endif %}

                                    <li>
                                        <div class="game-attribute">
                                            <strong>Votre note
                                                :</strong> {% render(url('sylius_partial_product_rating_show', { 'productId': product.id })) %}
                                        </div>
                                        <hr />
                                    </li>

                                    <li>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false" title="Ajouter à">
                                                <span class="fa fa-plus"></span> Ajouter à
                                            </button>
                                            <ul class="dropdown-menu productList" style="white-space: nowrap; padding: 10px">
                                                <li><input type="checkbox" data-product-id="{{ product.id }}" data-code="game-library"/> <label for="game-library">Ma ludothèque</label></li>
                                                <li><input type="checkbox" data-product-id="{{ product.id }}" data-code="wishes"/> <label for="wishes">Mes envies</label></li>
                                                <li><input type="checkbox" data-product-id="{{ product.id }}" data-code="see-later"/> <label for="see-later">A regarder plus tard</label></li>
                                            </ul>
                                            <a href="{{ path('sylius_product_review_create', { 'productId': jeu.id  } ) }}" class="btn btn-default" title="Donnez votre avis">
                                                <span class="fa fa-star"></span> Votre avis
                                            </a>
                                            <a class="btn btn-default" title="Nouvelle partie"
                                               href="{{ path('app_game_play_create', { 'productSlug': jeu.slug  } ) }}">
                                                <span class="fa fa-table"></span> Nouvelle partie
                                            </a>
                                        </div>
                                    </li>

                                </ul>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



