{% from "macros/games.html.twig" import duration, playerCount, image %}
{% from 'macros/items.html.twig' import blockquoteOne %}
{% from 'macros/showMore.html.twig' import showMore %}


{% include "jeu/partial/status.html.twig" with {'jeu': jeu} only %}

<div class="img-box-5">
    <!-- Container -->
    <div class="container">
        <!-- Image Box #5 Item -->
        <div class="img-box-5-item">
            <div class="row">
                <div class="col-md-4">
                    <!-- Image Box #5 Image -->
                    <div class="img-box-5-img">
                        <!-- Image -->
                        <a href="{{ image(jeu, 'default') }}" rel="jeu"
                           class="fancybox"><img src="{{ image(jeu, 'default') }}"
                                                 alt="" class="img-responsive img-thumbnail"/></a>
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- Image Box #5 Content -->
                    <div class="img-box-5-content">

                        <div class="container">
                            <div class="row">
                                {% if jeu.shortDescription %}
                                    {{ blockquoteOne(showMore(jeu.shortDescription)) }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <ul class="list-unstyled">
                                    {% if jeu.joueurMin or jeu.joueurMax %}
                                        <li>
                                            <p class="pull-left bg-color square-2 rounded-2">
                                                <span class="fa fa-user white"></span>
                                            </p>
                                            <p class="game-attribute">
                                                {{ playerCount(jeu) }}
                                            </p>
                                        </li>
                                    {% endif %}

                                    {% if jeu.ageMin %}
                                        <li>
                                            <p class="pull-left bg-color square-2 rounded-2">
                                                <span class="fa fa-child white"></span>
                                            </p>
                                            <p class="game-attribute">
                                                à partir de {{ jeu.ageMin }} ans
                                            </p>
                                        </li>
                                    {% endif %}

                                    {% if jeu.durationMin %}
                                        <li>
                                            <p class="pull-left bg-color square-2 rounded-2">
                                                <span class="fa clock-o color"></span>
                                            </p>
                                            <p class="game-attribute">
                                                {{ duration(jeu) }}
                                            </p>
                                        </li>
                                    {% endif %}

                                    {% if jeu.mechanisms|length > 0 %}
                                        <li>
                                            <p class="pull-left bg-color square-2 rounded-2">
                                                <span class="fa fa-cog white"></span>
                                            </p>
                                            <p class="game-attribute">
                                                Mécanismes :
                                                {% set first = true %}
                                                {% for mechanism in jeu.mechanisms %}{% if not first %},{% endif %}
                                                    {% set first = false %}
                                                    <a
                                                    href="{{ path('sylius_product_index_by_taxon', { 'permalink': mechanism.permalink }) }}">{{ mechanism }}</a>{% endfor %}
                                            </p>
                                        </li>
                                    {% endif %}

                                    {% if jeu.themes|length > 0 %}
                                        <li>
                                            <p class="pull-left bg-color square-2 rounded-2">
                                                <span class="fa fa-picture-o white"></span>
                                            </p>
                                            <p class="game-attribute">
                                                Thèmes :
                                                {% set first = true %}
                                                {% for key, theme in jeu.themes %}{% if not first %},{% endif %}
                                                    {% set first = false %}
                                                    <a
                                                    href="{{ path('sylius_product_index_by_taxon', { 'permalink': theme.permalink }) }}">{{ theme }}</a>{% endfor %}
                                            </p>
                                        </li>
                                    {% endif %}

                                    {% if jeu.releasedAt is not null %}
                                        <li>
                                            <p class="pull-left bg-color square-2 rounded-2">
                                                <span class="fa fa-calendar white"></span>
                                            </p>
                                            <p class="game-attribute">
                                                {{ 'label.released_at'|trans }} {{ jeu.releasedAt|localizeddate('long', 'none') }}
                                            </p>

                                        </li>
                                    {% endif %}

                                    <li>
                                        <div class="game-attribute">
                                            <strong>Votre note
                                                :</strong> {% render(url('sylius_partial_product_rating_show', { 'productId': product.id })) %}
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



