{% from "macros/games.html.twig" import duration, playerCount %}
{% from 'macros/items.html.twig' import blockquoteOne %}


{% include "jeu/partial/status.html.twig" with {'jeu': jeu} only %}



<div class="img-box-5">
    <!-- Container -->
    <div class="container">
        <!-- Image Box #5 Item -->
        <div class="img-box-5-item">
            <div class="row">
                <div class="col-md-4">
                    <!-- Image Box #5 Image -->
                    <div class="img-box-5-img">
                        <!-- Image -->
                        {% if jeu.imageCouverture %}
                            <a href="{{ jeu.imageCouverture.webPath | imagine_filter('default') }}" rel="jeu"
                               class="fancybox"><img src="{{ jeu.imageCouverture.webPath | imagine_filter('default') }}"
                                                     alt="" class="img-responsive img-thumbnail"/></a>
                        {% endif %}

                    </div>
                </div>
                <div class="col-md-8">
                    <!-- Image Box #5 Content -->
                    <div class="img-box-5-content">

                        <div class="container">
                            <div class="row">
                                {% if jeu.shortDescription %}
                                    {{ blockquoteOne(jeu.shortDescription) }}
                                {% endif %}
                            </div>
                        </div>


                        <div class="row">
                            <ul class="list-unstyled">
                                {% if jeu.joueurMin or jeu.joueurMax %}
                                    <li>
                                        <p class="bg-color square-2 rounded-2">
                                            <span class="fa fa-user white"></span>
                                        </p>
                                        {{ playerCount(jeu) }}
                                    </li>
                                {% endif %}

                                {% if jeu.ageMin %}
                                    <li>
                                        <p class="bg-color square-2 rounded-2">
                                            <span class="fa fa-child white"></span>
                                        </p>
                                        à partir de {{ jeu.ageMin }} ans</li>
                                {% endif %}

                                {% if jeu.durationMin %}
                                    <li>
                                        <span class="fa fa-clock-o color"></span>
                                        {{ duration(jeu) }}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="row">
                            <ul class="list-unstyled">

                                {% if jeu.mechanisms|length > 0 %}
                                    <li>
                                        <p class="bg-color square-2 rounded-2">
                                            <span class="fa fa-cog white"></span>
                                        </p>
                                        Mécanismes
                                        : {% for key, mechanism in jeu.mechanisms %}{% if (key > 0) %},{% endif %}
                                            <a
                                            href="{{ path('sylius_product_index_by_taxon', { 'permalink': mechanism.permalink }) }}">{{ mechanism }}</a>{% endfor %}
                                    </li>
                                {% endif %}

                                {% if jeu.themes|length > 0 %}
                                    <li>
                                        <p class="bg-color square-2 rounded-2">
                                            <span class="fa fa-picture-o white"></span>
                                        </p>
                                        Thèmes : {% for key, theme in jeu.themes %}{% if (key > 0) %},{% endif %} <a
                                            href="{{ path('sylius_product_index_by_taxon', { 'permalink': theme.permalink }) }}">{{ theme }}</a>{% endfor %}
                                    </li>
                                {% endif %}

                            </ul>
                        </div>

                        {#TODO voir pour un render url#}
                        {% if userGameAttribute is defined %}
                            {% include "frontend/game/show/toolbar.html.twig" with {'jeu': jeu, 'userGameAttribute': userGameAttribute} only %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



