<div class="sidebar">

    {% include "frontend/game/show/sidebar/user-review.html.twig" with {'jeu': jeu} only %}

    <!-- Gallery Widget -->
    <div class="s-widget">
        <div class="btn-group btn-group-xs pull-right title-button">
            <a class="btn btn-black" href="{{ path('jeu_image_new', {'id': jeu.id}) }}">
                <span class="fa fa-camera"></span> ajouter une photo
            </a>
        </div>
        <!-- Heading -->
        <h5><i class="fa fa-camera color"></i> Photos</h5>
        <!-- Widgets Content -->
        <div class="widget-content gallery">
            {% for jeuImage in jeu.Jeuimages %}
                <a href="{{ jeuImage.image.webPath | imagine_filter('default') }}" rel="jeu" class="fancybox" title="{{ jeuImage.description }}">
                    <img src="{{ jeuImage.image.webPath | imagine_filter('thumbnail_S') }}" alt="" class="img-responsive img-thumbnail"/>
                </a>
            {% endfor %}
        </div>
    </div>

    <!-- Material list -->
    {% if jeu.materiel %}
    <div class="s-widget">
        <!-- Heading -->
        <h5><i class="fa fa-list color"></i> Matériel</h5>
        <!-- Widgets Content -->
        <div class="widget-content gallery">
            <ul>
                {% for row in jeu.materiel|split("\n") %}
                    <li>{{ row }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>