<div class="sidebar">

    <div class="s-widget">
        <h5><i class="fa fa-users color"></i> Participer</h5>
        <!-- Widgets Content -->
        <div class="widget-content search">
            <ul class="list-unstyled">
                <li>
                    <input class="game-rating rating" type="number" min=0 max=5 step=0.5 data-size="xs" />
                </li>
                <li>
                    <a href="#">
                        <span class="fa fa-star"></span>
                        Votre avis
                    </a>
                </li>
                <li>
                    <a class="" href="{{ path('app_game_play_create', { 'productSlug': jeu.slug  } ) }}">
                        <span class="fa fa-table"></span>
                        Nouvelle partie
                    </a>
                </li>

            </ul>

        </div>
    </div>

    <div class="s-widget">
        <!-- Heading -->
        <h5><i class="fa fa-bookmark color"></i> Édition</h5>
        <div class="widget-content gallery">
            <ul class="list-6">
                {% if jeu.designers|length > 0 %}
                    <li>
                        Un jeu de
                        {% for key, person in jeu.designers %}{% if (key > 0) %},{% endif %} <a
                            href="{{ path('app_person_show', { 'slug': person.slug }) }}">{{ person }}</a>{% endfor %}
                    </li>
                {% endif %}
                {% if jeu.artists|length > 0 %}
                    <li>
                        illustré{% if jeu.artists|length > 1 %}s{% endif %} par
                        {% for key, person in jeu.artists %}{% if (key > 0) %},{% endif %} <a
                            href="{{ path('app_person_show', { 'slug': person.slug }) }}">{{ person }}</a>{% endfor %}
                    </li>
                {% endif %}
                {% if jeu.publishers|length > 0 %}
                    <li>
                        édité{% if jeu.publishers|length > 1 %}s{% endif %} par
                        {% for key, person in jeu.publishers %}{% if (key > 0) %},{% endif %} <a
                            href="{{ path('app_person_show', { 'slug': person.slug }) }}">{{ person }}</a>{% endfor %}
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>

    <!-- Gallery Widget -->
    <div class="s-widget">
        <!-- Heading -->
        <h5><i class="fa fa-camera color"></i> Photos <small>({{ jeu.images|length }})</small></h5>
        <!-- Widgets Content -->
        <div class="widget-content gallery">
            {% for image in jeu.images %}
                <a href="{{ image.webPath | imagine_filter('default') }}" rel="jeu" class="fancybox" title="{{ image.description }}">
                    <img src="{{ image.webPath | imagine_filter('thumbnail_S') }}" alt="" class="img-responsive img-thumbnail"/>
                </a>
            {% endfor %}
        </div>
    </div>

    {% include "frontend/game/show/sidebar/user-review.html.twig" with {'jeu': jeu} only %}

    <!-- Material list -->
    {% if jeu.materiel %}
    <div class="s-widget">
        <!-- Heading -->
        <h5><i class="fa fa-list color"></i> Matériel</h5>
        <!-- Widgets Content -->
        <div class="widget-content gallery">
            <ul class="list-6">
                {% for row in jeu.materiel|split("\n") %}
                    <li>{{ row }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>