<div class="sidebar">

    <div class="s-widget">
        <!-- Heading -->
        <h5><i class="fa fa-bookmark color"></i> Édition</h5>
        <div class="widget-content gallery">
            <ul class="list-6">
                {% if jeu.auteurs|length > 0 %}
                    <li>
                        Un jeu de
                        {% for key, personne in jeu.auteurs %}{% if (key > 0) %},{% endif %} <a
                            href="{{ path('personne_show', { 'id': personne.id, 'slug': personne.slug }) }}">{{ personne }}</a>{% endfor %}
                    </li>
                {% endif %}
                {% if jeu.illustrateurs|length > 0 %}
                    <li>
                        illustré{% if jeu.illustrateurs|length > 1 %}s{% endif %} par
                        {% for key, personne in jeu.illustrateurs %}{% if (key > 0) %},{% endif %} <a
                            href="{{ path('personne_show', { 'id': personne.id, 'slug': personne.slug }) }}">{{ personne }}</a>{% endfor %}
                    </li>
                {% endif %}
                {% if jeu.editeurs|length > 0 %}
                    <li>
                        édité{% if jeu.editeurs|length > 1 %}s{% endif %} par
                        {% for key, personne in jeu.editeurs %}{% if (key > 0) %},{% endif %} <a
                            href="{{ path('personne_show', { 'id': personne.id, 'slug': personne.slug }) }}">{{ personne }}</a>{% endfor %}
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>

    <!-- Gallery Widget -->
    <div class="s-widget">
        <!-- Heading -->
        <h5><i class="fa fa-camera color"></i> Photos</h5>
        <!-- Widgets Content -->
        <div class="widget-content gallery">
            {% for image in jeu.images %}
                <a href="{{ image.webPath | imagine_filter('default') }}" rel="jeu" class="fancybox" title="{{ image.description }}">
                    <img src="{{ image.webPath | imagine_filter('thumbnail_S') }}" alt="" class="img-responsive img-thumbnail"/>
                </a>
            {% endfor %}
        </div>
    </div>

    {% include "frontend/game/show/sidebar/user-review.html.twig" with {'jeu': jeu} only %}

    <!-- Material list -->
    {% if jeu.materiel %}
    <div class="s-widget">
        <!-- Heading -->
        <h5><i class="fa fa-list color"></i> Matériel</h5>
        <!-- Widgets Content -->
        <div class="widget-content gallery">
            <ul class="list-6">
                {% for row in jeu.materiel|split("\n") %}
                    <li>{{ row }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>