<div class="tab-pane" id="attributes">
    {{ form_row(form.ageMin) }}
    {{ form_row(form.durationMin) }}
    {{ form_row(form.durationMax) }}
    {{ form_row(form.joueurMin) }}
    {{ form_row(form.joueurMax) }}
    {{ form_row(form.barcodes) }}
</div>
