{% extends "JDJWebBundle::layout.html.twig" %}

{% block body -%}
    <h1>Liste des Caractéristiques</h1>

    <ul>
        <li>
            <a class="button" href="{{ path('caracteristique_new') }}">
                Créer une caractéristique
            </a>
        </li>
    </ul>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('caracteristique_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.libelle }}</td>
                <td class="small-4">
                <ul class="inline-list">
                    <li>
                        <a class="tiny button" href="{{ path('caracteristique_edit', { 'id': entity.id }) }}">Modifier</a>
                    </li>
                    <li>
                        {{ form_start(deleteForms[entity.id]) }}
                        {{ form_widget(deleteForms[entity.id].submit, {'attr': {'class': 'tiny'}, 'label': 'Supprimer'}) }}
                        {{ form_end(deleteForms[entity.id]) }}
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
