{% set jeu = notification.activity.jeu %}
{% set jeuHref = path('jeu_show', {'id': jeu.id, 'slug': jeu.slug}) %}

{# set colors for display depending on status #}
{% if notification.changeStatus == constant('JDJ\\JeuBundle\\Entity\\Jeu::WRITING') %}
    {% set color = 'grey' %}
{% elseif notification.changeStatus == constant('JDJ\\JeuBundle\\Entity\\Jeu::NEED_A_TRANSLATION') %}
    {% set color = 'purple' %}
{% elseif notification.changeStatus == constant('JDJ\\JeuBundle\\Entity\\Jeu::NEED_A_REVIEW') %}
    {% set color = 'orange' %}
{% elseif notification.changeStatus == constant('JDJ\\JeuBundle\\Entity\\Jeu::READY_TO_PUBLISH') %}
    {% set color = 'rose' %}
{% elseif notification.changeStatus == constant('JDJ\\JeuBundle\\Entity\\Jeu::PUBLISHED') %}
    {% set color = 'blue' %}
{% endif %}
{# set colors for display depending on decline/accept notification #}
{% if notification.action ==  constant('JDJ\\JediZoneBundle\\Entity\\Notification::ACTION_ACCEPT') %}
    {% set tagColor = 'green' %}
{% elseif notification.action ==  constant('JDJ\\JediZoneBundle\\Entity\\Notification::ACTION_DECLINE') %}
    {% set tagColor = 'red' %}
{% endif %}
<div class="col-md-12 col-sm-6">

    <div class="pricing-one notification-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <!-- Pricing Content Item -->
                    <div class="pricing-item-12">
                        <!-- Heading -->

                        <!-- Content plan price -->
                        <div class="plan-price">
                            <div class="img-box-3-item">
                                <div class="bg-{{ color }} img-collection-container">
                                    <a href="qsdqsd">
                                        <img class="img-collection"
                                             src="{{ jeu.imageCouverture.webPath | imagine_filter('default') }}"
                                             alt="" class="'fa-picture-o'">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Plan details -->
                        <div class="plan-details">
                            <ul class="list-unstyled">
                                <!-- List items -->
                                <li>{{ jeu.libelle }} est passé en status {{ notification.changeStatus }}
                                    par {{ notification.activity.actionUser.username }}</li>
                                <li>le {{ notification.createdAt|date('d/m/Y') }} <span class="pull-right"><a
                                                href="qsdfqsd">voir la fiche</a></span></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <!-- Tag -->
                        {% if not notification.isRead %}
                            <span class="tag bg-{{ tagColor }}"><i class="fa fa-envelope"></i></span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<hr>