{% import 'macro/image.html.twig' as images %}
{% from 'macro/product.html.twig' import releasedAt, duration, playerCount %}

{% set productPath = path('sylius_frontend_product_show', { 'slug': product.slug } ) %}

<div class="listing-item white-bg bordered mb-20">
    <div class="overlay-container">
        {% if product.mainImage is not null %}
            {{ images.render(product.mainImage.webPath, 'medium_width_fixed', product.name) }}
        {% endif %}
        <a class="overlay-link" href="{{ productPath }}"><i class="fa fa-link"></i></a>
        <div class="overlay-to-top links">
            <span class="small">
              <a href="{{ productPath }}" class="btn-sm-link">
                  <i class="fa fa-link pr-1"></i>{{ 'sylius.ui.view_product_details'|trans({'%product%': product.name|lower})}}
              </a>
            </span>
        </div>
    </div>
    <div class="body">
        <h3><a href="{{ productPath }}">{{ product.name }}</a></h3>
        <ul class="list-icons small">
            <li><i class="fa fa-user"></i> {{ playerCount(product) }}</li>
            {% if product.minAge is not null %}
                <li><i class="fa fa-child"></i> {{ 'app.ui.from_years'|trans({ '%count%': product.minAge })|lower }}</li>
            {% endif %}
            <li><i class="fa fa-clock-o"></i> {{ duration(product) }}</li>
            <li><i class="fa fa-calendar-o"></i> Sortie : {{ releasedAt(product.firstVariant) }}</li>
        </ul>
        <div class="elements-list clearfix">
            <a class="pull-right margin-clear" href="{{ productPath }}">{{ 'sylius.ui.view_more'|trans }}<i class="pl-1 fa fa-angle-double-right"></i></a>
        </div>
    </div>
</div>
