{% from "macros/games.html.twig" import playerCount, image, releasedAt %}

{% set product = product is defined ? product : resource %}
{% set productHref = path('sylius_frontend_product_show', {'slug': product.slug}) %}

<!-- Image Box #4 Item -->
<div class="s-widget">
    <h5><i class="fa fa-cubes color"></i> {{ 'app.ui.game_details'|trans }}</h5>
    <div class="widget-content text-center">
        <div class="well img-box-4">
            <div class="container">
                <div class="col-md-6">
                    <!-- Image -->
                    <a href="{{ productHref }}">
                        <img src="{{ image(product, 'image_box_4') }}" alt="{{ product }}"
                             class="img-responsive"/>
                    </a>
                </div>
                <div class="col-md-6">
                    <h4><a href="{{ productHref }}">{{ product }}</a></h4>
                    <div class="bor bg-lblue"></div>
                    <p>
                        {{ playerCount(product) }}<br/>
                        à partir de {{ product.ageMin }} ans<br/>
                        {% if product.releasedAt %}
                            {{ 'label.release'|trans }} : {{ releasedAt(product.firstVariant, 'long') }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
