{% if is_granted('ROLE_WORKFLOW') %}

    {% if(product.status != constant('AppBundle\\Entity\\Product::PUBLISHED')) %}
        <div class="alert alert-warning changeStatusContainer" role="alert">
            <span class="fa fa-exclamation-triangle"></span>

            {% if (is_granted('ROLE_REDACTOR') and product.status == constant('AppBundle\\Entity\\Product::STATUS_NEW')) %}

                <div class="pull-right control-group">
                    <a href="#" class="btn btn-success acceptStatus clearfix" name="Passer en Traduction"
                       data-jeu-id="{{ product.id }}"
                       data-status="{{ constant('AppBundle\\Entity\\Product::NEED_A_TRANSLATION') }}">Passer en
                        Traduction</a>
                    <a href="#refuseStatusModal" class="btn btn-danger clearfix" name="Refuser" data-toggle="modal"
                       type="button" data-toggle="tooltip" data-placement="top"
                       title="Refuser">Refuser</a>
                </div>

            {% elseif (is_granted('ROLE_TRANSLATOR') and product.status == constant('AppBundle\\Entity\\Product::NEED_A_TRANSLATION')) %}
                <div class="pull-right control-group">
                    <a href="#" class="btn btn-success acceptStatus clearfix" name="Passer en relecture"
                       data-jeu-id="{{ product.id }}"
                       data-status="{{ constant('AppBundle\\Entity\\Product::NEED_A_REVIEW') }}">Passer en relecture</a>
                    <a href="#refuseStatusModal" class="btn btn-danger clearfix" name="Refuser" data-toggle="modal"
                       type="button" data-toggle="tooltip" data-placement="top"
                       title="Refuser">Refuser</a>

                </div>

            {% elseif (is_granted('ROLE_REVIEWER') and product.status == constant('AppBundle\\Entity\\Product::NEED_A_REVIEW')) %}
                <div class="pull-right control-group">
                    <a href="#" class="btn btn-success acceptStatus clearfix" name="Passer en publication"
                       data-jeu-id="{{ product.id }}"
                       data-status="{{ constant('AppBundle\\Entity\\Product::READY_TO_PUBLISH') }}">Passer en
                        publication</a>
                    <a href="#refuseStatusModal" class="btn btn-danger clearfix" name="Refuser" data-toggle="modal"
                       type="button" data-toggle="tooltip" data-placement="top"
                       title="Refuser">Refuser</a>
                </div>

            {% elseif (is_granted('ROLE_PUBLISHER') and product.status == constant('AppBundle\\Entity\\Product::READY_TO_PUBLISH')) %}
                <div class="pull-right control-group">
                    <a href="#" class="btn btn-success acceptStatus clearfix" name="Publier"
                       data-jeu-id="{{ product.id }}"
                       data-status="{{ constant('AppBundle\\Entity\\Product::PUBLISHED') }}">Publier</a>
                    <a href="#refuseStatusModal" class="btn btn-danger clearfix" name="Refuser" data-toggle="modal"
                       type="button" data-toggle="tooltip" data-placement="top"
                       title="Refuser">Refuser</a>
                </div>

            {% endif %}
            Ce jeu est encore au statut <strong>{{ product.status |trans }}</strong>.
        </div>
    {% endif %}
{% endif %}