{% extends 'base.html.twig' %}
{% from 'macros/misc.html.twig' import pagination %}
{% from 'macros/sorting.html.twig' import sorting %}

{% block headline %}
    Jeux
{% endblock %}

{% block subtitle %}
    {% if taxon is defined %}
        ayant pour {{ taxon.taxonomy }} : {{ taxon }}
    {% endif %}
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    Jeux /
{% endblock %}

{% block body -%}

    <div class="container">

        <div class="row">

            <div class="col-md-10">

                <div class="container">

                    <div class="pull-right sorting">
                        {% set sorting = app.request.get('sorting') %}

                        {% set icon = false %}
                        {% set currentOrder = null %}

                        {% if null == sorting %}
                            {% set icon = true %}
                            {% set currentOrder = 'desc' %}
                        {% endif %}

                        Trier
                        par {{ sorting('sylius_product_index', 'label.created_at'|trans, 'createdAt', 'desc', icon, currentOrder) }},
                        {{ sorting('sylius_product_index', 'label.name'|trans, 'translation.name', 'asc') }}
                    </div>

                    <div class="clearfix"></div>

                    {% include "frontend/game/index/list-4.html.twig" %}


                    <div class="pagination-wrapper">
                        <div class="pagination-bottom">
                            {{ pagination(products) }}
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-2">
                {% include 'frontend/game/_sidebar.html.twig' %}
            </div>

        </div>

    </div>
{% endblock %}