{% extends 'base.html.twig' %}
{% from 'macros/misc.html.twig' import pagination %}
{% from 'macros/sorting.html.twig' import sorting %}
{% from 'macros/items.html.twig' import blockquoteOne %}

{% block body_class %}magazine{% endblock %}

{% block headline %}
    {{ 'label.games'|trans }}
{% endblock %}

{% block subtitle %}
    ayant pour personne : {{ person }}
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    <a href="{{ path('sylius_product_index') }}">{{ 'label.games'|trans }}</a> /
    {{ person }}
{% endblock %}

{% block body -%}

    <div class="container">


        <div class="row">
            <div class="col-md-10">

                <div class="container">

                    {% include "frontend/person/show/header.html.twig" %}

                    <div class="pull-right sorting">
                        {% set sorting = app.request.get('sorting') %}

                        {% set icon = false %}
                        {% set currentOrder = null %}

                        {% if null == sorting %}
                            {% set icon = true %}
                            {% set currentOrder = 'desc' %}
                        {% endif %}

                        Trier
                        par {{ sorting('sylius_product_index_by_person', 'label.created_at'|trans, 'createdAt', 'desc', icon, currentOrder, {'slug': person.slug}) }},
                        par {{ sorting('sylius_product_index_by_person', 'label.rate'|trans, 'averageRating', 'desc', null, null, {'slug': person.slug}) }},
                        {{ sorting('sylius_product_index_by_person', 'label.name'|trans, 'translation.name', 'asc', null, null, {'slug': person.slug} ) }}
                    </div>

                    <div class="clearfix"></div>
                    {% include "frontend/game/index/list-4.html.twig" %}
                    {{ pagination(products) }}
                </div>

            </div>

            <div class="col-md-2">
                {% include 'frontend/game/_sidebar.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}