{% extends 'base.html.twig' %}
{% from 'macros/misc.html.twig' import pagination %}
{% from 'macros/sorting.html.twig' import sorting %}
{% from 'macros/items.html.twig' import blockquoteOne %}

{% block headline %}
    Jeux
{% endblock %}

{% block subtitle %}
    ayant pour thème : {{ theme }}
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    <a href="{{ path('app_game_index') }}">Jeux</a> /
    {{ theme }}
{% endblock %}

{% block body -%}

    <div class="container">

        {% if theme.description %}
            {{ blockquoteOne(theme.description) }}
        {% endif %}

        <div class="pull-right sorting">
            {% set sorting = app.request.get('sorting') %}

            {% set icon = false %}
            {% set currentOrder = null %}

            {% if null == sorting %}
                {% set icon = true %}
                {% set currentOrder = 'desc' %}
            {% endif %}

            Trier
            par {{ sorting('app_game_index_by_theme', 'label.created_at'|trans, 'createdAt', 'desc', icon, currentOrder, {'permalink': theme.slug}) }}
            ,
            {{ sorting('app_game_index_by_theme', 'label.name'|trans, 'name', 'asc', null, null, {'permalink': theme.slug} ) }}
        </div>

        {% include "jeu/index/list-4.html.twig" with {'jeux': games} only %}

        {% block Pagination %}
            <div class="pagination-wrapper">
                <div class="pagination-bottom">
                    {{ pagination(games) }}
                </div>
            </div>
        {% endblock %}

    </div>

{% endblock %}