{% extends 'base.html.twig' %}

{% block page_heading %}
{% endblock %}

{% block body -%}
    {% set currentMonthUrl = path('sylius_product_index', {
    'criteria': {
        'releasedAtFrom': "first_day_of_the_month",
        'releasedAtTo': "last_day_of_the_month"
    },
    'sorting': {
        'variant.releasedAt': 'desc'
    }
    }) %}

    <div class="col-md-12">
        <h4 class="mag-head"><a href="{{ currentMonthUrl }}"><i class="fa fa-calendar color"></i> Sorties du mois</a></h4>

        {{ render(url('sylius_partial_product_index', {
            'paginate': 4,
            'template': 'frontend/game/index/list-4.html.twig',
            'criteria': {
                'status': 'PUBLISHED',
                'releasedAtFrom': "first_day_of_the_month",
                'releasedAtTo': "last_day_of_the_month"
            },
            'sorting': {
                'variant.releasedAt': 'desc'
            }
        })) }}

        <div class="text-center">
            <a href="{{ currentMonthUrl }}" class="btn btn-color">
                <span class="fa fa-plus"></span>
                Plus de sorties du mois
            </a>
        </div>

        <hr/>

        {% set previousMonthUrl = path('sylius_product_index', {
        'criteria': {
            'releasedAtTo': "last_day_of_previous_month"
        },
        'sorting': {
            'variant.releasedAt': 'desc'
        }
        }) %}

        <h4 class="mag-head"><a href="{{ previousMonthUrl }}"><i class="fa fa-calendar color"></i> Sorties des mois précédents</a></h4>

        {{ render(url('sylius_partial_product_index', {
            'paginate': 4,
            'template': 'frontend/game/index/list-4.html.twig',
            'criteria': {
                'status': 'PUBLISHED',
                'releasedAtTo': "last_day_of_previous_month"
            },
            'sorting': {
                'variant.releasedAt': 'desc'
            }
        })) }}

        <div class="text-center">
            <a href="{{ previousMonthUrl }}" class="btn btn-color">
                <span class="fa fa-plus"></span>
                Plus de sorties des mois précédents
            </a>
        </div>

        <hr/>

        {% set nextMonthUrl = path('sylius_product_index', {
        'criteria': {
        'releasedAtFrom': "first_day_of_next_month"
        },
        'sorting': {
        'variant.releasedAt': 'desc'
        }
        }) %}

        <h4 class="mag-head"><a href="{{ nextMonthUrl }}"><i class="fa fa-calendar color"></i> Sorties des prochains mois</a></h4>

        {{ render(url('sylius_partial_product_index', {
            'paginate': 4,
            'template': 'frontend/game/index/list-4.html.twig',
            'criteria': {
                'status': 'PUBLISHED',
                'releasedAtFrom': "first_day_of_next_month",
            },
            'sorting': {
                'variant.releasedAt': 'asc'
            }
        })) }}

        <div class="text-center">
            <a href="{{ nextMonthUrl }}" class="btn btn-color">
                <span class="fa fa-plus"></span>
                Plus de sorties des prochains mois
            </a>
        </div>

    </div>

{% endblock %}