{% extends "::base.html.twig" %}

{% import 'macros/pageViews.html.twig' as pageViews %}

 {#TODO REMOVE #}
{% set jeu = product is defined ? product : jeu %}

{% set pageTitle = product %}

{% block subtitle_container %}
    {% if product.averageRating %}
        &nbsp;&nbsp;<span class="fa fa-star yellow"></span> {{ product.averageRating|round(1) }} <small>/10</small> <small>({{ product.ratings | length }} {{ 'app.ui.ratings'|trans|lower }})</small>
    {% endif %}
{% endblock %}

{% block breadcrumb_content %}
    <a href="{{ path('sylius_product_index') }}">{{ 'sylius.ui.products'|trans }}</a>
    / {{ product }}
{% endblock %}

{% block container %}

    <div class="col-md-8">
        {% include "frontend/game/show/header.html.twig" with {'jeu': product} %}

        {% include "frontend/game/show/nav-tab.html.twig" with {'jeu': product} %}

        {{ render(url('app_partial_dealer_price_index', {
            template: 'frontend/dealer_price/_index.html.twig',
            paginate: 4,
            criteria: {
                'product': product.id
            }
        })) }}

        {% include "frontend/game/show/_variants.html.twig" %}
        {% include "frontend/game/show/_associations.html.twig" %}

    </div>

    <div class="col-md-4">
        {% include "frontend/game/show/sidebar.html.twig" with {'jeu': product} %}
    </div>


    {#    {{ render controller('JDJUserReviewBundle:JeuNote:new', { 'idJeu': jeu.id }) }}
        {% include "JDJJeuBundle:Jeu:partial/onglet.html.twig" with {'jeu': jeu, 'userReviews': userReviews} %}
        {{ render url('jeu_if_you_like_this_game', { 'id': jeu.id }) }}#}


    {{ pageViews.render(product.id, 'product', path('sylius_product_show', {'slug' : product.slug})) }}

{% endblock container %}