{% from 'backend/macro/translationForm.html.twig' import translationFormWithSlug %}

<div class="ui segment">
    {{ form_row(form.code) }}
    {{ form_row(form.parent) }}
    {{ form_row(form.public) }}
    {{ form_row(form.iconClass) }}
    {{ form_row(form.color) }}
</div>
{{ translationFormWithSlug(form.translations, 'backend/taxon/_slugField.html.twig', taxon) }}
