{% set locale =  app.request.locale %}

<div class="content" data-locale="{{ locale }}">
    {{ form_row(form.code) }}
    {{ form_row(form.parent) }}
    {{ form_row(form.translations[locale].name) }}
    {{ form_row(form.translations[locale].slug, {'attr': {'data-url': path('sylius_admin_ajax_generate_taxon_slug'), 'data-parent': app.request.attributes.get('id')}}) }}
    {{ form_row(form.translations[locale].description) }}
    {{ form_row(form.public) }}
    {{ form_row(form.iconClass) }}
    {{ form_row(form.color) }}
</div>
