<ul class="list-inline">
    <li>
        <a class="btn btn-lblue" href="{{ path('joueur_new', {'idPartie': partie.id}) }}">
            <span class="fa fa-user-plus"></span>
            Ajouter un joueur
        </a>
    </li>
</ul>

{% if entities | length > 0 %}
<table class="table table-stripped">
    <thead>
    <tr>
        <th>Joueur</th>
        <th>Score</th>
        <th class="text-right">Actions</th>
    </tr>
    </thead>
    {% for joueur in entities %}
        <tr>
            <td>
                {% if joueur.nom %}
                    {{ joueur.nom }}
                {% else %}
                    Inconnu
                {% endif %}
            </td>
            <td>
                {% if joueur.score %}
                    {{ joueur.score }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td class="text-right">
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-lblue" href="{{ path('joueur_edit', { 'id': joueur.id }) }}"><span class="fa fa-pencil"></span> édition</a>
                    </li>
                    <li>
                        {{ form_start(deleteForms[joueur.id]) }}
                        <button type="submit" class="btn btn-danger">
                            <span class="fa fa-trash-o"></span> Supprimer
                        </button>
                        {{ form_end(deleteForms[joueur.id]) }}
                    </li>
                </ul></td>
        </tr>
    {% endfor %}
</table>
{% endif %}