{% extends "backend/base.html.twig" %}
{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    {{ 'label.edit_topic'|trans }}
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    / <a href="{{ path('app_backend_topic_index') }}">{{ 'label.topics'|trans }}</a>
    / {{ 'label.edit'|trans }}
{% endblock %}

{% block container %}
    <div class="col-md-12">
        {{ form_start(form) }}
        <input type="hidden" name="_method" value="PUT"/>
        {{ form_widget(form) }}
        {{ action.update() }}
        {{ form_end(form) }}
    </div>
{% endblock container %}
