{% import 'macro/image.html.twig' as images %}

{% set product = game_play.product %}
{% set topic = game_play.topic %}
{% set gamePlayPath = path('app_frontend_game_play_show', { 'id': game_play.id, 'productSlug': product.slug }) %}

<div class="image-box style-2 mb-20 bordered light-gray-bg">
    <div class="overlay-container overlay-visible">
        {% if product.mainImage is not null %}
            {{ images.render(product.mainImage.webPath, 'magazine_item_wide', product.name) }}
        {% endif %}
        <div class="overlay-bottom text-left">
            <p class="lead margin-clear">{{ product.name }}</p>
        </div>
    </div>
    <div class="body">
        <p class="small mb-10 text-muted">
            <i class="fa fa-calendar-o pr-1"></i> {{ game_play.createdAt|localizeddate('medium', 'none') }}
            <i class="pl-10 pr-1 fa fa-user"></i> <span class="author">{{ game_play.author }}</span>
        </p>

        {% if topic is not null and topic.mainPost is not null %}
            <p>{{ (topic.mainPost.body|striptags)[:150] }}...</p>
        {% endif %}
        <a href="{{ gamePlayPath }}" class="btn btn-default btn-sm rgin-clear">{{ 'sylius.ui.view_more'|trans }}<i class="fa fa-arrow-right pl-10"></i></a>
    </div>
</div>
