{% from 'macros/misc.html.twig' import pagination %}
<!-- Nav tab style 2 starts -->
<div class="nav-tabs-two">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#jeux" data-toggle="tab">Jeux</a></li>
        <li><a href="#articles" data-toggle="tab">Articles</a></li>
        <li><a href="#avis" data-toggle="tab">Avis</a></li>
    </ul>
    <!-- Tab content -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="jeux">

            <div class="block-heading-two">
                <h3><a href="{{ path('sylius_product_index_by_person', {
                        'slug': person.slug,
                            'sorting': {
                                'averageRating': 'desc'
                        }
                    }) }}"><span>Les plus populaires</span></a></h3>
            </div>

            {{ render(url('sylius_partial_product_index', {
                'paginate': 3,
                'criteria': {
                    'person': person.id
                },
                'sorting': {
                    'averageRating': 'desc'
                },
                'template': 'frontend/game/index/list-3.html.twig'
            })) }}

            <div class="block-heading-two">
                <h3><a href="{{ path('sylius_product_index_by_person', {
                        'slug': person.slug,
                        'sorting': {
                            'variant.releasedAt': 'desc'
                        }
                    }) }}"><span>Les plus récents</span></a></h3>
            </div>

            {{ render(url('sylius_partial_product_index', {
                'paginate': 3,
                'criteria': {
                    'person': person.id
                },
                'sorting': {
                    'variant.releasedAt': 'desc'
                },
                'template': 'frontend/game/index/list-3.html.twig'
            })) }}
        </div>
        <div class="tab-pane fade" id="articles">
            <!-- TODO publishedAt -->
            {{ render(url('app_partial_article_index', {
                'template': 'frontend/article/_index.html.twig',
                'paginate': 12,
                'criteria': {
                    'person': person.id
                },
                'sorting': {
                    'publishStartDate': 'desc'
                }} )) }}

        </div>
        <div class="tab-pane fade" id="avis">
            {{ render(url('sylius_partial_product_review_index', {
                'criteria': {
                    'person': person.id,
                    'hasComment': 1
                },
                'sorting': {
                    'createdAt': 'desc'
                },
                'paginate': 10,
                'template': 'frontend/product_review/_index.html.twig'
            })) }}
        </div>
    </div>
</div>
<!-- Nav tab style 2 ends -->
