{% extends "JDJWebBundle::layout.html.twig" %}

{% block body -%}
    <h1>Liste des clients</h1>

    <ul>
        <li>
            <a class="button add" href="{{ path('client_new') }}">
                Créer un nouveau client
            </a>
        </li>
    </ul>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Societe</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td> <a href="{{ path('client_show', { 'id': entity.id }) }}">{{ entity.societe }}</a>
                    </td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.email }}</td>
                <td class="small-3">
                <ul class="inline-list">
                    <li>
                        <a class="small button" href="{{ path('client_edit', { 'id': entity.id }) }}">édition</a>
                    </li>
                    <li>
                        {{ form_start(deleteForms[entity.id]) }}
                        {{ form_widget(deleteForms[entity.id].submit, {'attr': {'class': 'small button'}, 'label': 'Supprimer'}) }}
                        {{ form_end(deleteForms[entity.id]) }}
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
