{% extends "frontend/layout.html.twig" %}

{% import 'macro/actions.html.twig' as actions %}

{% set pageTitle %}
    {{ resource.product }}
{% endset %}

{% block content -%}
    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title">{{ pageTitle }}</h1>
                    <div class="separator-2"></div>
                    <!-- page-title end -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">

                                <!-- Wrap the image or canvas element with a block element (container) -->
                                <div>
                                    <img id="image-preview" src="/assets/frontend/images/placeholder.png" alt="Your image" style="display: none" />
                                </div>

                                {% form_theme form 'frontend/form/vertical.html.twig' %}

                                {{ form_start(form) }}

                                {% include 'frontend/product_box/_form.html.twig' %}

                                <div class="pull-right">
                                    {{ actions.create() }}
                                </div>

                                <div class="clearfix"></div>

                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
