{% extends "base.html.twig" %}
{% import 'macros/actions.html.twig' as action %}

{% block headline %}
    Modifier un block imagine
{% endblock headline %}

{% block breadcrumb_content %}
    {{ parent() }}
    Contenu /
    <a href="{{ path('admin_block_index') }}">Blocs</a> /
    <a href="{{ path('admin_imagine_block_index') }}">Blocs imagine</a> /
    Modifier
{% endblock %}

{% block container %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ action.update() }}
    {{ form_end(form) }}
{% endblock container %}
