<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">
            <li property="itemListElement" typeof="ListItem" class="breadcrumb-item">
                <i class="fa fa-home pr-2"></i>
                <a class="link-dark" href="{{ path('app_homepage') }}">
                    <span property="name">{{ 'sylius.ui.home'|trans }}</span>
                    <meta property="position" content="1">
                </a>
            </li>
            <li property="itemListElement" typeof="ListItem" class="breadcrumb-item">
                <a class="link-dark" href="{{ path('sylius_frontend_product_index') }}">
                    <span property="name">{{ 'app.ui.boardgames'|trans }}</span>
                    <meta property="position" content="2">
                </a>
            </li>
            <li property="itemListElement" typeof="ListItem" class="breadcrumb-item">
                <a class="link-dark" href="{{ path('sylius_frontend_product_index_by_taxon', {'slug': taxon.root.slug}) }}">
                    <span property="name">{{ taxon.root.name }}</span>
                    <meta property="position" content="3">
                </a>
            </li>
            <li property="itemListElement" typeof="ListItem" class="breadcrumb-item active">
                <span property="name">{{ taxon.name }}</span>
                <meta property="position" content="4">
            </li>
        </ol>
    </div>
</div>
<!-- breadcrumb end -->
