{% import 'macro/image.html.twig' as images %}

{% set personPath = path('app_frontend_person_show', { 'slug': person.slug }) %}
{% set imagePath =  person.mainImage is not null ? person.mainImage.webPath : '/assets/frontend/images/placeholder.png' %}

<div class="image-box style-2 mb-20 shadow-2 bordered light-gray-bg text-center">
    <div class="overlay-container">
        {{ images.render(imagePath, 'medium_width_fixed', person) }}
        <div class="overlay-to-top">
            <p class="small margin-clear"><em>App development <br> Lorem ipsum dolor sit</em></p>
        </div>
    </div>
    <div class="body">
        <h3>{{ person }}</h3>
        <div class="separator"></div>
        <p>
            {% if person.productCountAsDesigner > 0 %}
                Auteur de {{ person.productCountAsDesigner }} jeux<br>
            {% endif %}
            {% if person.productCountAsArtist > 0 %}
                Illustrateur de {{ person.productCountAsArtist }} jeux<br>
            {% endif %}
            {% if person.productCountAsPublisher > 0 %}
                Éditeur de {{ person.productCountAsPublisher }} jeux<br>
            {% endif %}
        </p>
        <a href="{{ personPath }}" class="btn btn-default-transparent btn-animation btn-animation--slide-horizontal margin-clear">{{ 'app.ui.read_more'|trans }}<i class="fa fa-arrow-right pl-10"></i></a>
    </div>
</div>
