{% if currentTaxon is null %}
    <h3 class="title mt-4">Latest Articles</h3>
{% elseif currentTaxon.code is constant('AppBundle\\Entity\\Taxon::CODE_NEWS') %}
    <h3 class="title mt-4">{{ 'app.ui.latest_news'|trans }}</h3>
{% elseif currentTaxon.code is constant('AppBundle\\Entity\\Taxon::CODE_REVIEW_ARTICLE') %}
    <h3 class="title mt-4">{{ 'app.ui.latest_reviews'|trans }}</h3>
{% elseif currentTaxon.code is constant('AppBundle\\Entity\\Taxon::CODE_VIDEO') %}
    <h3 class="title mt-4">{{ 'app.ui.latest_videos'|trans }}</h3>
{% elseif currentTaxon.code is constant('AppBundle\\Entity\\Taxon::CODE_IN_THE_BOXES') %}
    <h3 class="title mt-4">{{ 'app.ui.latest_in_the_boxes'|trans }}</h3>
{% endif %}

<div class="separator-2"></div>
{{ render(url('app_partial_article_index', {
    'criteria': {
        'status': 'published',
        'mainTaxon': currentTaxon is not null ? currentTaxon.id : null
    },
    'sorting': {
        'publishStartDate': 'desc'
    },
    'paginate': 4,
    'template': 'frontend/article/_simpleList.html.twig'
})) }}
<div class="text-right space-top">
    {% set articlesPath = currentTaxon is not null ? path('app_frontend_article_index_by_taxon', { 'slug': currentTaxon.slug }) : path('app_frontend_article_index') %}
    <a href="{{ articlesPath }}" class="link-dark"><i class="fa fa-plus-circle pl-1 pr-1"></i>{{ 'app.ui.more'|trans }}</a>
</div>
